<div id="page-content-wrapper">
    <div class="col-lg-10 container-fluid">
        <div class="row">
            <h1 class="section-title col-lg-5">Chat</h1>
            <div class="container col-lg-5">
                <a class="logout pull-right" ng-click="logout()">Encerrar Seção <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
    </div>

    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
    <h1 class="info-title" ng-show="showUnavailableMessage && !loading">{{ messageUnavailable }}</h1>
    
    <div ng-show="!showUnavailableMessage && !loading">
        <div class="col-lg-5">
            <div class="chat-area m-t-20" id="chatArea">
                <div ng-repeat="message in messages track by $index">
                    <span class="chat-message"><strong class="customer-chat-name" ng-class="{ 'customer-chat-admin': message.user == 'Vencorr', 'customer-chat-name': message.user != 'Vencorr'}">{{ message.user }}</strong><strong class="chat-time"> {{ message.time | date: 'HH:mm' }}&nbsp;&nbsp;</strong> {{ message.content }}</span>
                </div>
        
            </div>
            <textarea class="form-control m-t-20" ng-model="content" cols="20" rows="4" ng-disabled="blockChat" ng-enter="sendMessage(content)"></textarea>
            <button class="btn btn-lg btn-block btn-success m-t-20" ng-click="sendMessage(content)">Enviar</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="../local_modules/sails-socket/sails.io.js"></script>
<script type="text/javascript">
    io.sails.url = chatSocket;
</script>
