<div ng-show="chooseCustomer" class="col-lg-6">
    <input type="text" uib-tooltip="Nome do cliente" typeahead-wait-ms="300" tooltip-trigger="'focus'" tooltip-placement="top" ng-model="searchCustomer.value" placeholder="Comece a digitar o nome do cliente" uib-typeahead="customer.name for customer in getCustomers($viewValue)" typeahead-on-select="onSelectCustomer($item)" class="form-control">
    <button class="btn btn-danger m-t-20 btn-cancel" ng-click="disableCustomerSearch()">Cancelar</button>
</div>