<div id="page-content-wrapper">
    <div class="col-lg-10 container">
        <div class="row">
            <h1 class="section-title col-lg-5">Configurações</h1>
            <div class="container col-lg-5">
                <a class="logout pull-right" ng-click="logout()">Encerrar Seção <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
    </div>

    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>

    <div class="container-fluid m-t-20" ng-show="!loading">
        <h4><i class="fas fa-info-circle"></i></i> &nbsp;&nbsp;Meta do mês atual</h4><br>

        <div class="row">
            <label>Meta em real (R$)</label>
            <div class="col-lg-2 input-group">
                <input class="form-control" ng-disabled="!openEditGoal" placeholder="R$ 100.000,00" ng-model="goal" ui-money-mask="mdecimal">
                <div class="input-group-btn">
                    <button class="btn btn-success" ng-show="openEditGoal" ng-click="setGoal()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-success" ng-show="!openEditGoal" ng-click="openEdit()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
