<div id="page-content-wrapper">
    <div class="col-lg-10 container" ng-controller="SidebarController">
        <div class="row">
            <h1 class="section-title col-lg-5">Cliente</h1>
            <div class="container col-lg-5">
                <a class="logout pull-right" ng-click="logout()">Encerrar Seção <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
    </div>
    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>

    <div ng-show="!loading">
        <div class="col-lg-9">
            <h4>Principais Informações</h4>
            <hr>
            <div class="col-lg-5 m-t-20">
                <div class="input-group">
                    <label class="info-title">Tipo : </label>
                    <span class="info-value" ng-if="customer.type === 'fisica'">Física</span>
                    <span class="info-value" ng-if="customer.type === 'juridica'">Jurídica</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Nome:</label>
                    <span class="info-value"> {{ customer.name }}</span>
                </div>
                <div class="input-group" ng-if="customer.type === 'juridica'">
                    <label class="info-title">CNPJ : </label>
                    <span class="info-value"> {{ customer.cnpj }}</span>
                </div>
                <div ng-if="customer.type === 'fisica'">
                    <div class="input-group">
                        <label class="info-title">CPF : </label>
                        <span class="info-value"> {{ customer.cpf }}</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">Data de Nascimento : </label>
                        <span class="info-value"> {{ customer.birthdate | date: "dd/MM/yyyy" }}</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">Sexo : </label>
                        <span class="info-value" ng-if="customer.genre === 'masculino'">Masculino</span>
                        <span class="info-value" ng-if="customer.genre === 'feminino'">Feminino</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">RG : </label>
                        <span class="info-value"> {{ customer.rg_number }}</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">Orgão Expeditor : </label>
                        <span class="info-value"> {{ customer.rg_org }}</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">UF : </label>
                        <span class="info-value"> {{ customer.rg_uf }}</span>
                    </div>
                    <div class="input-group">
                        <label class="info-title">Data de Emissão : </label>
                        <span class="info-value"> {{ customer.rg_emission_date | date: "dd/MM/yyyy" }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 m-t-20">
                <div class="input-group">
                    <label class="info-title">Email : </label>
                    <span class="info-value"> {{ customer.email }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Telefone:</label>
                    <span class="info-value"> {{ customer.phone }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <hr>
            <h4>Endereço do Segurado</h4>
            <div class="col-lg-5 m-t-20">
                <div class="input-group">
                    <label class="info-title">CEP : </label>
                    <span class="info-value"> {{ customer.cep }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">UF:</label>
                    <span class="info-value"> {{ customer.state }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Cidade : </label>
                    <span class="info-value"> {{ customer.city }}</span>
                </div>
            </div>
            <div class="col-lg-6 m-t-20">
                <div class="input-group">
                    <label class="info-title">Endereço : </label>
                    <span class="info-value"> {{ customer.address }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Número:</label>
                    <span class="info-value"> {{ customer.number }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Complemento : </label>
                    <span class="info-value"> {{ customer.complement }}</span>
                </div>
            </div>
            <div class="pull-right m-t-50">
                <a class="btn btn-default btn-page-action btn-back" href="/clientes">Voltar</a>&nbsp;&nbsp;
                <button class="btn btn-success btn-page-action btn-edit" ng-click="goToEdit()">Editar</button>
            </div>
        </div>
    </div>
</div>
