<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Clientes</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-lg-12">
                <a class="btn btn-success btn-new" href="/cliente-cadastrar"><i class="fas fa-plus"></i> Adicionar</a>
            </div>
        </div>
        <div class="row space-above">
            <div class="row">
                <div class="col-lg-12 m-l-17">
                    <div class="col-lg-2 w-170 m-r-15">
                        <span class="form-info pull-left"><i class="fas fa-filter"></i> Filtrar por:</span>
                    </div>
                    <div class="col-lg-3">
                        <select ng-model="filterOption" class="form-control" ng-change="clearSearch()">
                            <option value="name">Nome</option>
                            <option value="email">Email</option>
                            <option value="phone">Telefone</option>
                            <option value="document">Documento</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-l-17">
                    <div class="col-lg-1 form-inline w-170">
                        <span class="form-info pull-left"><i class="fas fa-search"></i> Busca</span>
                    </div>
                    <div class="col-lg-3 m-l-17">
                        <input class="form-control" placeholder="Digite a busca" ng-enter="listCustomers()" ng-model="search">
                    </div>
                    <button class="btn btn-success btn-search" ng-click="listCustomers('name')">Pesquisar</button>
                    <button class="btn btn-default btn-back" ng-click="clear()">Limpar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="tables">
                    <thead>
                        <th width="50">#</th>
                        <th width="300">Nome</th>
                        <th width="200">Email</th>
                        <th width="180">Telefone</th>
                        <th width="160">Documento</th>
                        <th width="60"></th>
                    </thead>
                    <tbody class="table-customized">
                        <tr class="row-customized-grid space-above cpointer" ng-repeat="customer in customers track by $index">
                            <td>{{ $index + 1}}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td ng-if="customer.cnpj"><strong>CNPJ </strong> {{ customer.cnpj }}</td>
                            <td ng-if="customer.cpf"><strong>CPF </strong> {{ customer.cpf }}</td>
                            <td>
                                <a class="btn btn-success btn-show-customer" ng-href="/cliente-cadastrar/{{ customer.encodedId }}">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div class="row">
            <div class="col-lg-12 text-center" ng-hide="!customers.length && !loading">
                <ul uib-pagination total-items="totalCustomers" first-text="Primeira" previous-text="Anterior" next-text="Próxima" last-text="Última" ng-model="page" items-per-page="itemsPerPage" ng-change="listCustomers()" max-size="10" class="pagination-tables pagination-lg"
                    boundary-links="true"></ul>
            </div>
        </div>
        <div class="row alert alert-info col-lg-9 text-center m-t-100" ng-show="!totalCustomers && !loading">Nenhum cliente</div>
    </div>
</div>