<div ng-if="customerSnapshot.id">
    <div ng-show="!loadingCustomer">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="section-subtitle">Nome</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.name }}</span>
            </div>
            <div class="col-lg-5">
                <h3 class="section-subtitle">Email</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.email }}</span>
            </div>
            <div class="col-lg-2">
                <h3 class="section-subtitle">Telefone</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.phone }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5" ng-if="customerSnapshot.type === 'fisica'">
                <h3 class="section-subtitle">CPF</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.cpf }}</span>
            </div>
            <div class="col-lg-5" ng-if="customerSnapshot.type === 'juridica'">
                <h3 class="section-subtitle">CNPJ</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.cnpj }}</span>
            </div>
            <div class="col-lg-5">
                <h3 class="section-subtitle">Estado</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.state }}</span>
            </div>
            <div class="col-lg-2">
                <h3 class="section-subtitle">Cidade</h3>
                <span class="small-value pull-left"><strong>{{ customerSnapshot.city }}</span>
            </div>
        </div>
    </div>
</div>