<div class="modal fade customer-modal" tabindex="-1" role="dialog" id="customerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Cadastrar novo cliente</h3>
            </div>
            <div class="modal-body modal-padding">
                <h4>Dados pessoais</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>Tipo</label>
                        <select class="form-control" ng-model="quotation.customer.type">
                            <option value="fisica">Física</option>
                            <option value="juridica">Jurídica</option>
                        </select>
                    </div>
                    <div class="col-lg-6 form-group">
                        <label>Nome *</label>
                        <input class="form-control" ng-model="quotation.customer.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group" ng-show="quotation.customer.type === 'fisica'">
                        <label>CPF *</label>
                        <input class="form-control" ng-model="quotation.customer.cpf" ui-br-cpf-mask>
                    </div>
                    <div class="col-lg-6 form-group" ng-show="quotation.customer.type === 'juridica'">
                        <label>CNPJ *</label>
                        <input class="form-control" ng-model="quotation.customer.cnpj" ui-br-cnpj-mask>
                    </div>
                    <div class="col-lg-4 form-group" ng-show="quotation.customer.type === 'fisica'">
                        <label>Data de Nascimento *</label>
                        <input class="form-control" ng-model="quotation.customer.birthdate" ui-date-mask>
                    </div>
                    <div class="col-lg-4 form-group" ng-if="quotation.customer.type === 'fisica'">
                        <label>Sexo</label>
                        <select class="form-control" ng-model="quotation.customer.genre">
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-if="quotation.customer.type === 'fisica'">
                    <div class="col-lg-4 form-group">
                        <label>RG *</label>
                        <input class="form-control" ng-model="quotation.customer.rg_number">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Orgão Expeditor *</label>
                        <input class="form-control" ng-model="quotation.customer.rg_org">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>UF *</label>
                        <select class="form-control" ng-model="quotation.customer.rg_uf">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Data de Emissão *</label>
                        <input class="form-control" ng-model="quotation.customer.rg_emission_date" ui-date-mask>
                    </div>
                </div>
                <h4>Contato</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>Email *</label>
                        <input type="email" class="form-control" ng-model="quotation.customer.email">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label>Telefone *</label>
                        <input class="form-control" ng-model="quotation.customer.phone" ui-br-phone-number-mask="areaCode">
                    </div>
                </div>
                <h4>Endereço do Segurado</h4>
                <hr>
                <span ng-if="cepLoading">Buscando Cep...</span>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <label>CEP *</label>
                        <input class="form-control" ng-model="quotation.customer.cep" ng-blur="getAddressByCep(quotation.customer.cep)" ui-br-cep-mask>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>UF *</label>
                        <select class="form-control" ng-model="quotation.customer.state">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                    <div class="col-lg-5 form-group">
                        <label>Cidade *</label>
                        <input class="form-control" ng-model="quotation.customer.city">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <label>Endereço *</label>
                        <input class="form-control" ng-model="quotation.customer.address">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Número *</label>
                        <input class="form-control" ng-model="quotation.customer.number" ui-number-mask="0" ui-number-mask min="1" max="9999">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Complemento</label>
                        <input class="form-control" ng-model="quotation.customer.complement">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
                <button type="button" ng-disabled="loadingCustomer" class="btn btn-success btn-lg" ng-click="saveCustomer()">
                    <span ng-show="loadingCustomer">Salvando...</span>
                    <span ng-show="!loadingCustomer">Salvar</span>
                </button>
            </div>
        </div>
    </div>
</div> 
