<div id="page-content-wrapper">
    <div class="container-fluid">
    <div class="row" ng-controller="SidebarController">
        <div class="col-lg-12">
            <div class="col-lg-10">
                <h1 class="section-title">Cadastro de cliente</h1>
                <h3 class="section-subtitle">Aqui você pode editar as informações do cliente</h3>
            </div>
            <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
        </div>
    </div>
    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
    <div ng-show="!loading">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6 form-group">
                    <label>Tipo</label>
                    <select class="form-control" ng-model="customer.type">
                        <option value="fisica">Física</option>
                        <option value="juridica">Jurídica</option>
                    </select>
                </div>
                <div class="col-lg-6 form-group">
                    <label>Nome *</label>
                    <input class="form-control" ng-model="customer.name">
                    <span class="text-danger" ng-if="isMissingField('name')">Campo obrigatório</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 form-group" ng-show="customer.type === 'fisica'">
                    <label>CPF *</label>
                    <input class="form-control" ng-model="customer.cpf" ui-br-cpf-mask>
                    <span class="text-danger" ng-if="isMissingField('cpf')">Campo obrigatório / Dado Inválido</span>
                </div>
                <div class="col-lg-4 form-group" ng-show="customer.type === 'juridica'">
                    <label>CNPJ *</label>
                    <input class="form-control" ng-model="customer.cnpj" ui-br-cnpj-mask>
                    <span class="text-danger" ng-if="isMissingField('cnpj')">Campo obrigatório / Dado Inválido</span>
                </div>
                <div class="col-lg-4 form-group" ng-show="customer.type === 'fisica'">
                    <label>Data de Nascimento *</label>
                    <input class="form-control" ng-model="customer.birthdate" ui-date-mask>
                    <span class="text-danger" ng-if="isMissingField('birthdate')">Campo obrigatório</span>
                </div>
                <div class="col-lg-4 form-group" ng-if="customer.type === 'fisica'">
                    <label>Sexo</label>
                    <select class="form-control" ng-model="customer.genre">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="customer.type === 'fisica'">
            <div class="col-lg-12">
                <div class="col-lg-3 form-group">
                    <label>RG *</label>
                    <input class="form-control" ng-model="customer.rg_number">
                    <span class="text-danger" ng-if="isMissingField('rg_number')">Campo obrigatório</span>
                </div>
                <div class="col-lg-3 form-group">
                    <label>Orgão Expeditor *</label>
                    <input class="form-control" ng-model="customer.rg_org">
                    <span class="text-danger" ng-if="isMissingField('rg_org')">Campo obrigatório</span>
                </div>
                <div class="col-lg-3 form-group">
                    <label>UF *</label>
                    <select class="form-control" ng-model="customer.rg_uf">
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>
                <div class="col-lg-3 form-group">
                    <label>Data de Emissão *</label>
                    <input class="form-control" ng-model="customer.rg_emission_date" ui-date-mask>
                    <span class="text-danger" ng-if="isMissingField('rg_emission_date')">Campo obrigatório</span>
                </div>
            </div>
        </div>
        <h4>Contato</h4>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6 form-group">
                    <label>Email *</label>
                    <input type="email" class="form-control" ng-model="customer.email">
                    <span class="text-danger" ng-if="isMissingField('email')">Campo obrigatório</span>
                </div>
                <div class="col-lg-3 form-group">
                    <label>Telefone *</label>
                    <input class="form-control" ng-model="customer.phone" ui-br-phone-number-mask="areaCode">
                    <span class="text-danger" ng-if="isMissingField('phone')">Campo obrigatório</span>
                </div>
            </div>
        </div>
        <h4>Endereço do Segurado</h4>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 form-group">
                    <label>CEP *</label>
                    <input class="form-control" ng-model="customer.cep" ng-blur="getAddressByCep(customer.cep)" ui-br-cep-mask>
                    <span class="text-danger" ng-if="isMissingField('cep')">Campo obrigatório</span>
                </div>
                <div class="col-lg-3 form-group">
                    <label>UF *</label>
                    <select class="form-control" ng-model="customer.state">
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                    <span class="text-danger" ng-if="isMissingField('state')">Campo obrigatório</span>
                </div>
                <div class="col-lg-4 form-group">
                    <label>Cidade *</label>
                    <input class="form-control" ng-model="customer.city">
                    <span class="text-danger" ng-if="isMissingField('city')">Campo obrigatório</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 form-group">
                    <label>Endereço *</label>
                    <input class="form-control" ng-model="customer.address">
                    <span class="text-danger" ng-if="isMissingField('address')">Campo obrigatório</span>
                </div>
                <div class="col-lg-4 form-group">
                    <label>Número *</label>
                    <input class="form-control" ng-model="customer.number" ui-number-mask="0" ui-number-mask min="1" max="9999">
                    <span class="text-danger" ng-if="isMissingField('number')">Campo obrigatório</span>
                </div>
                <div class="col-lg-4 form-group">
                    <label>Complemento</label>
                    <input class="form-control" ng-model="customer.complement">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-left">
                    <a class="btn btn-default btn-back" href="/clientes">Voltar</a>&nbsp;&nbsp;
                    <button class="btn btn-success btn-save" ng-if="!isEdit" ng-click="save()" ng-disabled="!customer.name">Salvar</button>
                    <button class="btn btn-info btn-save" ng-if="isEdit" ng-click="update()">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
