<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Dashboard</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-12 central">
                    <div class="col-lg-6">
                        <div class="col-lg-5">
                            <h5 class="top-3"><b>Propostas de:</b></h5>
                        </div>
                        <div class="col-lg-1">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="input-date" ng-model="startDate" ng-change="loadData()" readonly>
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-1">
                            <h5 class="top-3"><b>Até:</b></h5>
                        </div>
                        <div class="col-lg-3">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="input-date" ng-model="endDate" ng-change="loadData()" readonly>
                            </datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-left: 15px;">
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastWeek')">Semana passada</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('week')">Esta semana</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('month')">Este mês</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastMonth')">Mês passado</button>
                </div>
                <div class="col-lg-6">
                    <div class="card-info cpointer">
                        <h2 class="info-title title-open-proposals">Propostas abertas ({{ resume.open.total }})</h2>
                        <h2 class="medium-price dashboard-value-warning cpointer" ng-show="!loadingResume">{{ resume.open.sum | currency }}</h2>
                        <h2 class="loading-info dashboard-value-warning cpointer" ng-show="loadingResume">Processando Informação...</h2>
                    </div>
                    <div class="card-info cpointer">
                        <h2 class="info-title title-closed-proposals">Propostas fechadas ({{ resume.closed.total }})</h2>
                        <h2 class="medium-price dashboard-value-success cpointer" ng-show="!loadingResume">{{ resume.closed.sum | currency }}</h2>
                        <h2 class="loading-info dashboard-value-success cpointer" ng-show="loadingResume">Processando Informação...</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-graphs cpointer">
                        <h2 class="loading-info dashboard-value-success" ng-show="loadingResume">Gerando gráfico...</h2>
<!--                        <canvas ng-show="!loadingResume" id="bar" class="chart chart-horizontal-bar card-padding-charts" chart-data="graphData" chart-labels="labels" ></canvas>-->
                        <canvas ng-show="!loadingResume" id="bar" class="chart chart-bar card-padding-charts" chart-data="graphData" chart-labels="labels" chart-series="series"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="col-lg-5">
                                <h5 class="top-3"><b>Comissões de:</b></h5>
                            </div>
                            <div class="col-lg-1">
                                <datepicker date-format="dd/MM/yyyy">
                                    <input class="input-date" ng-model="comissionStartDateFilter" ng-change="loadData()" readonly>
                                </datepicker>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-1">
                                <h5 class="top-3"><b>Até:</b></h5>
                            </div>
                            <div class="col-lg-2">
                                <datepicker date-format="dd/MM/yyyy">
                                    <input class="input-date" ng-model="comissionEndDateFilter" ng-change="loadData()" readonly>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastSemesterComission')">Últimos 6 meses</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('nextSemesterComission')">Próximos 6 meses</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('thisMonthComission')">Este mês</button>
                    <button class="btn btn-success btn-timeline btn-sm m-t-20" ng-click="setDateFilter('nextMonthComission')">Mês que vem</button>
                </div>
                <div class="col-lg-6 comissions">
                    <div class="card-info cpointer">
                        <h2 class="info-title title-open-proposals">Comissões a receber ({{ comissionGraphData.pending.amount }})</h2>
                        <h2 class="loading-info dashboard-value-warning cpointer" ng-show="loadingComissionsGraph">Processando Informação...</h2>
                        <h2 class="medium-price dashboard-value-warning cpointer" ng-show="!loadingComissionsGraph">{{ comissionGraphData.pending.price | currency }}</h2>
                    </div>
                    <div class="card-info cpointer">
                        <h2 class="info-title title-open-proposals">Commissões recebidas ({{ comissionGraphData.received.amount }})</h2>
                        <h2 class="loading-info dashboard-value-success cpointer" ng-show="loadingComissionsGraph">Processando Informação...</h2>
                        <h2 class="medium-price dashboard-value-success cpointer" ng-show="!loadingComissionsGraph">{{ comissionGraphData.received.price | currency }}</h2>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card-graphs cpointer w-205">
                        <h2 class="loading-info dashboard-value-success" ng-show="loadingComissionsGraph">Gerando gráfico......</h2>
                        <canvas ng-show="!loadingComissionsGraph" id="doughnut" height="200" class="chart chart-doughnut card-padding-charts" chart-data="comissionData" chart-labels="comissionLabels"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <h3 class="section-subtitle">ÚLTIMAS 20 COTAÇÕES</h3>
                    </div>
                    <div class="row text-center">
                        <vencorr-loading ng-model="loadingQuotations" ng-show="loadingQuotations"></vencorr-loading>
                    </div>
                    <div class="dashboard-block-content-scroll card-last-quotations cpointer scroll" ng-show="quotations.length">
                        <table class="table" ng-show="!loadingQuotations">
                            <tbody>
                                <tr ng-repeat="quotation in quotations track by $index">
                                    <td ng-if="quotation.segment_type == 'agro'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-agro-sompo/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'auto'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-auto/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'construcao'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-geral/construcao/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'residencial'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-residencial/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'empresarial'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-empresarial/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'equipamento'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-equipamento/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td ng-if="quotation.segment_type == 'outras'">
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/cotacao-geral/{{ quotation.hash }}">Ver</a>
                                    </td>
                                    <td class="td-tables-dashboard">{{ quotation.created_at | date: 'dd/MM/yyyy' }}</td>
                                    <td class="td-tables-dashboard">{{ formatSegmentName(quotation.segment_type) }}</td>
                                    <td class="td-tables-dashboard">{{ quotation.customer.name || '-' | limitTo: 15 }}</td>
                                    <td class="td-tables-dashboard"><strong>{{ quotation.premium | currency }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-info text-center m-t-50" ng-show="!quotations.length && !loadingQuotations">Nenhuma Cotação</div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <h3 class="section-subtitle">ÚLTIMOS 20 SINISTROS</h3>
                    </div>
                    <div class="row text-center">
                        <vencorr-loading ng-model="loadingInjuries" ng-show="loadingInjuries"></vencorr-loading>
                    </div>
                    <div class="dashboard-block-content-scroll card-last-injuries cpointer scroll" ng-show="injuries.length">
                        <table class="table" ng-show="!loadingInjuries">
                            <tbody>
                                <tr ng-repeat="injury in injuries track by $index">
                                    <td class="hours-in-gray padding-grid-adjust">{{ injury.created_at | date: 'dd/MM/yyyy' }}</td>
                                    <td class="padding-grid-adjust">{{ injury.customer.name | limitTo: 15 }}</td>
                                    <td class="padding-grid-adjust">{{ formatTypeName(injury.type) }}</td>
                                    <td>
                                        <span class="pill-violet-dashboard" ng-if="injury.status === 'open'">{{ formatStatusName(injury.status) }}</span>
                                        <span class="pill-info-dashboard" ng-if="injury.status === 'in_progress'">{{ formatStatusName(injury.status) }}</span>
                                        <span class="pill-warning-dashboard" ng-if="injury.status === 'waiting'">{{ formatStatusName(injury.status) }}</span>
                                        <span class="pill-success-dashboard" ng-if="injury.status === 'approved'">{{ formatStatusName(injury.status) }}</span>
                                        <span class="pill-danger-dashboard" ng-if="injury.status === 'refused'">{{ formatStatusName(injury.status) }}</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-success btn-details" ng-href="/sinistro-editar/{{ injury.encodedId }}">Ver</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-info text-center m-t-50" ng-show="!injuries.length && !loadingInjuries">Nenhum Sinistro</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <h3 class="section-subtitle last-activities">ÚLTIMAS 20 ATIVIDADES</h3>
                </div>
                <div class="text-center">
                    <vencorr-loading ng-model="loadingactivities" ng-show="loadingactivities"></vencorr-loading>
                </div>
                <div class="card-last-activities cpointer scroll" ng-show="activities.length">
                    <table class="table" ng-show="!loadingactivities">
                        <tbody>
                            <tr ng-repeat="activity in activities track by $index">
                                <td ng-if="activity.model == 'quotation'">
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'agro'" ng-href="/cotacao-agro-sompo/{{ activity.data.hash }}">Ver</a>
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'auto'" ng-href="/cotacao-geral/auto/{{ activity.data.hash }}">Ver</a>
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'construcao'" ng-href="/cotacao-geral/construcao/{{ activity.data.hash }}">Ver</a>
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'equipamento'" ng-href="/cotacao-equipamento/{{ activity.data.hash }}">Ver</a>
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'outras'" ng-href="/cotacao-geral/{{ activity.data.hash }}">Ver</a>
                                    <a class="btn btn-sm btn-success btn-details" ng-if="activity.data.segment_type == 'residencial'" ng-href="/cotacao-residencial/{{ activity.data.hash }}">Ver</a>
                                </td>
                                <td ng-if="activity.model == 'injury'">
                                    <a class="btn btn-sm btn-success btn-details" ng-href="/sinistro-editar/{{ activity.data.encodedId }}">Ver</a>
                                </td>
                                <td ng-if="activity.model == 'customer'">
                                    <a class="btn btn-sm btn-success btn-details" ng-href="/cliente/{{ activity.data.encodedId }}">Ver</a>
                                </td>
                                <td class="hours-in-gray">{{ activity.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                                <td class="padding-grid-adjust"><strong>{{ activity.user.name }}</strong></td>
                                <td class="padding-grid-adjust">{{ activity.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-info text-center m-t-50" ng-show="!activities.length && !loadingactivities">Nenhuma Atividade</div>
            </div>
        </div>
    </div>
</div>
