<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10" ng-controller="SidebarController">
                <h1 class="section-title">Registro de Sinistro</h1>
                <h3 class="section-subtitle">Altere as informações do sinistro em questão</h3>
                <div ng-if="injury.status === 'open'">
                    <strong>Status: &nbsp;&nbsp;</strong> <span class="pill pill-large pill-violet">Aberto</span>
                </div>
                <div ng-if="injury.status === 'in_progress'">
                    <strong>Status: &nbsp;&nbsp;</strong> <span class="pill pill-large pill-info">Em andamento</span>
                </div>
                <div ng-if="injury.status === 'waiting'">
                    <strong>Status: &nbsp;&nbsp;</strong> <span class="pill pill-large pill-warning">Aguardando Seguradora</span>
                </div>
                <div ng-if="injury.status === 'approved'">
                    <strong>Status: &nbsp;&nbsp;</strong> <span class="pill pill-large pill-success">Aprovado</span>
                </div>
                <div ng-if="injury.status === 'refused'">
                    <strong>Status: &nbsp;&nbsp;</strong> <span class="pill pill-large pill-danger">Negado</span>
                </div>
            </div>
            <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
        </div>
        <div class="row">
            <div class="col-lg-12" ng-show="loading">
                <vencorr-loading ng-model="loading"></vencorr-loading>
            </div>
        </div>
        <!-- Presentation -->
        <div class="row">
            <div class="col-lg-4 m-t-50" ng-show="!loading && injury.status !== 'open' && injury.status">
                <div class="input-group">
                    <label class="info-title">Nome do Reclamante: </label>
                    <span class="info-value">{{ injury.complainant }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Cliente: </label>
                    <span class="info-value"><a ng-href="/cliente/{{ customerEncodedId }}">{{ injury.customer.name }}</a></span>
                </div>
                <div class="input-group">
                    <label class="info-title">Cotação: </label>
                    <span class="info-value">{{ searchedQuotation.created_at | date: 'dd/mm/yyyy' }} - {{ formatSegmentName(searchedQuotation.segment_type) }} &nbsp;&nbsp;<a class="btn btn-default btn-sm" ng-href="cotacao-geral/{{searchedQuotation.segment_type}}/{{searchedQuotation.hash}}">Consultar</a></span>
                </div>
                <div class="input-group">
                    <label class="info-title">Tipo do Sinistro: </label>
                    <span class="info-value">{{ formatTypeName(injury.type) }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Data do acontecimento: </label>
                    <span class="info-value">{{ injury.event_date | date: 'dd/mm/yyyy' }}</span>
                </div>
                <div class="input-group">
                    <label class="info-title">Descrição: </label>
                    <span class="info-value">{{ injury.description }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 m-t-50 pull-left" ng-show="!loading && injury.status !== 'open' && injury.status">
                <div class="input-group">
                    <label class="info-title">Arquivos({{ injury.files.length }}) : </label>
                </div>
                <span ng-repeat="filePath in injury.files track by $index">
                    <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'doc' || getExtension(filePath) === 'docx'"><img src="../img/word.png" class="file-extension" alt="Documento Word"></a>
                    <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'pdf'"><img src="../img/pdf.png" class="file-extension" alt="PDF"></a>
                    <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'xls' || getExtension(filePath) === 'xlsx'"><img src="../img/excel.png" class="file-extension" alt="Planilha"></a>
                    <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'avi' || getExtension(filePath) === 'mp4'"><img src="../img/video.png" class="file-extension" alt="Vídeo"></a>
                    <a ng-href="{{filePath}}" target="_blank" ng-show="knownFormats.indexOf(getExtension(filePath)) === -1"><img src="../img/generic-file.png" class="file-extension" alt="Arquivo"></a>
                    <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'jpg'
                        || getExtension(filePath) === 'jpeg'
                        || getExtension(filePath) === 'png'">
                        <img ng-src="{{filePath}}" class="file-preview">
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 m-t-50" ng-show="!loading && injury.status != 'open' && injury.status">
                <hr>
                <div class="col-lg-6">
                    <h1 class="section-title">Resolução</h1>
                    <div class="input-group">
                        <label class="info-title">Descrição da Resolução: </label>
                        <span class="info-value">{{ injury.resolution_description }}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <label class="info-title">Arquivos de Resolução ({{ injury.resolution_files.length }}) : </label>
                    </div>
                    <span ng-repeat="filePath in injury.resolution_files track by $index">
                        <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'doc' || getExtension(filePath) === 'docx'"><img src="../img/word.png" class="file-extension" alt="Documento Word"></a>
                        <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'pdf'"><img src="../img/pdf.png" class="file-extension" alt="PDF"></a>
                        <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'xls' || getExtension(filePath) === 'xlsx'"><img src="../img/excel.png" class="file-extension" alt="Planilha"></a>
                        <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'avi' || getExtension(filePath) === 'mp4'"><img src="../img/video.png" class="file-extension" alt="Vídeo"></a>
                        <a ng-href="{{filePath}}" target="_blank" ng-show="knownFormats.indexOf(getExtension(filePath)) === -1"><img src="../img/generic-file.png" class="file-extension" alt="Arquivo"></a>
                        <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'jpg'
                            || getExtension(filePath) === 'jpeg'
                            || getExtension(filePath) === 'png'">
                            <img ng-src="{{filePath}}" class="file-preview">
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <!-- END Presentation -->

        <!-- Form -->
        <div class="col-lg-10 m-t-50" ng-show="!loading">
            <div ng-if="injury.status === 'open' || !injury.status">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Nome do Reclamante</label>
                            <input class="form-control" ng-model="injury.complainant" maxlength="200">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Cliente</label>
                            <input ng-disabled="!chooseCustomer" type="text" uib-tooltip="Nome do cliente" typeahead-wait-ms="300" tooltip-trigger="'focus'" tooltip-placement="top" ng-model="searchCustomer.value" placeholder="Comece a digitar o nome do cliente" uib-typeahead="customer.name for customer in getCustomers($viewValue)" typeahead-on-select="onSelectCustomer($item)" class="form-control">
                            <button class="btn btn-sm btn-warning pull-left m-t-20" ng-show="!chooseCustomer" ng-click="enableCustomerSearch()">Trocar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Referente a cotação:</label>
                            <span ng-show="loadingQuotations" class="text-info">Carregando Cotações...</span>
                            <strong class="text-danger" ng-show="!quotations.length && customer && customer.id && !loadingQuotations">Não existem cotações relacionadas a este cliente</strong>
                            <select class="form-control" ng-model="injury.quotation"
                                ng-options="quotation.id as quotation.listDescription for quotation in quotations"
                                ng-disabled="!quotations.length || (!customer || !customer.id)">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label>Tipo do Sinistro</label>
                            <select class="form-control" ng-model="injury.type">
                                <option value="basic">Básica (Roubo/Furto)</option>
                                <option value="electrical">Danos Elétricos</option>
                                <option value="civil">Responsabilidade Civil</option>
                                <option value="glass">Vidros</option>
                                <option value="other">Outros</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label>Data do acontecimento <strong class="text-info">(Clique para selecionar a data)</strong></label>
                        <datepicker date-format="dd/MM/yyyy">
                            <input readonly class="form-control input-span-date" ng-model="injury.event_date" />
                        </datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label class="m-t-20">Descrição</label>
                        <textarea class="form-control" ng-model="injury.description" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label class="archiveLabel">Arquivos <span ng-show="files.length">({{ files.length }})</span></label>
                        <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                        accept="*/*" ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                        </button>
                        <button class="btn btn-success btn-add pull-right" ng-click="triggerUpload()">Adicionar</button>
                        <div class="uploadPhotos">
                            <ul ng-show="uploadingFiles.length" ng-hide="hideProgressBars" class="m-t-20">
                                <li ng-repeat="f in uploadingFiles track by $index" style="font:smaller">{{f.name}} {{f.$errorParam}}
                                    <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">Carregando... {{f.progress}}%</uib-progressbar>
                                </li>
                                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                            </ul>
                            <span ng-repeat="filePath in files">
                                <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'doc' || getExtension(filePath) === 'docx'"><img src="../img/word.png" class="file-extension" alt="Documento Word"></a>
                                <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'pdf'"><img src="../img/pdf.png" class="file-extension" alt="PDF"></a>
                                <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'xls' || getExtension(filePath) === 'xlsx'"><img src="../img/excel.png" class="file-extension" alt="Planilha"></a>
                                <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'avi' || getExtension(filePath) === 'mp4'"><img src="../img/video.png" class="file-extension" alt="Vídeo"></a>
                                <a ng-href="{{filePath}}" target="_blank" ng-show="knownFormats.indexOf(getExtension(filePath)) === -1"><img src="../img/generic-file.png" class="file-extension" alt="Arquivo"></a>
                                <a ng-href="{{filePath}}" target="_blank" ng-show="getExtension(filePath) === 'jpg'
                                    || getExtension(filePath) === 'jpeg'
                                    || getExtension(filePath) === 'png'">
                                    <img ng-src="{{filePath}}" class="file-preview">
                                </a>
                                <button class="btn btn btn-sm btn-danger file-remove" ng-if="injury.status === 'open' || !injury.status" ng-click="removeFile(filePath)">X</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-10 m-b-20">
                <div class="pull-left m-t-20">
                    <a class="btn btn-back" href="/sinistros">Voltar</a>
                    <button class="btn btn-success btn-save" ng-if="!isEdit" ng-click="save(injury)">Salvar</button>
                    <button class="btn btn-info btn-save" ng-if="isEdit" ng-hide="!loading && injury.status !== 'open'" ng-click="update(injury)">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
