<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Sinistros</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-lg-12">
                <a class="btn btn-success btn-new" href="/sinistro-editar"><i class="fas fa-plus"></i>&nbsp; Adicionar</a>
            </div>
        </div>
        <div class="row space-above">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <span class="form-info"><i class="fas fa-filter"></i> Filtrar por:</span>
                </div>
                <div class="col-lg-3 input-filter-space">
                    <select ng-model="filterOption" class="form-control" ng-change="checkFilter(filterOption)">
                        <option value="all">Todos</option>
                        <option value="customer">Cliente</option>
                        <option value="status">Status</option>
                        <option value="date">Data</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'customer'">
                <div class="col-lg-3 m-t-20 form-inline">
                    <span class="form-info pull-left"><i class="fas fa-user"></i> Cliente:</span>
                </div>
                <div class="col-lg-3 m-t-20 m-l-35">
                    <input ng-disabled="!chooseCustomer" type="text" uib-tooltip="Nome do cliente" typeahead-wait-ms="300" tooltip-trigger="'focus'" tooltip-placement="top" ng-model="searchCustomer.value" placeholder="Comece a digitar o nome do cliente" uib-typeahead="customer.name for customer in getCustomers($viewValue)"
                        typeahead-on-select="onSelectCustomer($item)" class="form-control">
                    <button class="btn btn-sm btn-warning pull-left m-t-20" ng-shocw="!chooseCustomer" ng-click="enableCustomerSearch()">Trocar</button>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'status'">
                <div class="col-lg-3 m-t-20 form-inline">
                    <span class="form-info pull-left"><i class="fas fa-filter"></i> Status:</span>
                </div>
                <div class="col-lg-3 m-t-20 m-l-35">
                    <select ng-model="status" class="form-control" ng-change="list()">
                        <option value="">Selecione</option>
                        <option value="open">Aberto</option>
                        <option value="in_progress">Em andamento</option>
                        <option value="waiting">Aguardando Seguradora</option>
                        <option value="approved">Aprovado</option>
                        <option value="refused">Recusado</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'date'">
                <div class="col-lg-3 m-t-20">
                    <span class="form-info pull-left m-r-10"><i class="fas fa-filter"></i> Data de Recebimento:</span>
                </div>
                <div class="col-lg-3 m-t-20">
                    <div class="input-group input-filter-space">
                        <span class="input-group-addon">De</span>
                        <datepicker date-format="dd/MM/yyyy">
                            <input class="form-control" ng-model="startDate" ng-change="list()" />
                        </datepicker>
                    </div>
                </div>
                <div class="col-lg-3 m-t-20">
                    <div class="input-group m-r-10">
                        <span class="input-group-addon">Até</span>
                        <datepicker date-format="dd/MM/yyyy">
                            <input class="form-control" ng-model="endDate" ng-change="list()" />
                        </datepicker>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'date'">
                <div class="col-lg-12 m-t-20 m-l-20">
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('yesterday')">Ontem</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('today')">Hoje</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('week')">Esta semana</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastWeek')">Semana passada</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('month')">Este mês</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastMonth')">Mês passado</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('nextMonth')">Mês que vem</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1 form-inline" ng-show="filterOption == 'name' || filterOption == 'segment_type'">
            <input class="form-control" ng-show="filterOption == 'name'" placeholder="Digite a busca" ng-enter="filter()" ng-model="search">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="tables">
                    <thead>
                        <th width="140">Data de Criação</th>
                        <th width="200">Cliente</th>
                        <th width="180">Reclamante</th>
                        <th width="120">Tipo</th>
                        <th width="130">Status</th>
                        <th width="60"></th>
                    </thead>
                    <tbody class="table-customized">
                        <tr class="row-customized-grid cpointer" ng-repeat="injury in injuries track by $index">
                            <td>{{ injury.created_at | date: 'dd/MM/yyyy' }}</td>
                            <td><a ng-href="{{ '/cliente/' + injury.customer.encodedId }}">{{ injury.customer.name }}</a></td>
                            <td>{{ injury.complainant | limitTo: 30 }}</td>
                            <td>{{ injury.typeName }}</td>
                            <td>
                                <span class="pill pill-large pill-violet-dashboard" ng-if="injury.status === 'open'">{{ injury.statusName }}</span>
                                <span class="pill pill-large pill-info-dashboard" ng-if="injury.status === 'in_progress'">{{ injury.statusName }}</span>
                                <span class="pill pill-large pill-warning-dashboard" ng-if="injury.status === 'waiting'">{{ injury.statusName }}</span>
                                <span class="pill pill-large pill-success-dashboard" ng-if="injury.status === 'approved'">{{ injury.statusName }}</span>
                                <span class="pill pill-large pill-danger-dashboard" ng-if="injury.status === 'refused'">{{ injury.statusName }}</span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-success btn-details" ng-href="/sinistro-editar/{{ injury.encodedId }}">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div class="row">
            <div class="text-center" ng-hide="!injuries.length && !loading">
                <ul uib-pagination total-items="injuries" first-text="Primeira" previous-text="Anterior" next-text="Próxima" last-text="Última" ng-model="page" items-per-page="itemsPerPage" ng-change="list()" max-size="10" class="pagination-lg" boundary-links="true"></ul>
            </div>
        </div>
        <div class="row alert alert-info col-lg-9 text-center m-t-100" ng-show="!totalInjuries && !loading">Nenhum Sinistro</div>
    </div>
</div>