<div id="page-content-wrapper">
    <div class="container">
        <h1 class="section-title">Sinistro - ID</h1>
        <h3 class="section-subtitle">Informações detalhadas do sinistro</h3> 
    </div>

    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
</div>
