<div class="container">
    <div class="col-lg-12 m-t-50">
        <img src="../img/logo.png" alt="vencorr">
        <h1 ng-show="!errorAuth && !errorUser">Autenticando, aguarde...</h1>
        <p class="text-danger m-t-20" ng-show="errorAuth">
            Ocorreu uma falha na autenticação, por favor, retorne para página de login e tente novamente
        </p>
        <p class="text-danger m-t-20" ng-show="errorUser">Usuário desabilitado ou não existente<br />
            Verifique se o email <strong>{{ pickedEmail }}</strong> utilizado no Linkedin é o mesmo da plataforma.<br /><br />
        </p>
        <a class="btn btn-large btn-success" ng-show="errorAuth || errorUser" ng-href="{{ loginPath }}">Voltar</a>

        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>

    </div>
</div>