<div class="page-content-wrapper">
    <div class="container-fluid login-style">
        <form class="row form-signin col-lg-12">
            <div class="form-group">
                <img src="img/img-logo-vencor-franquias-azul.png" srcset="img/img-logo-vencor-franquias-azul@2x.png 2x,
                img/img-logo-vencor-franquias-azul@3x.png 3x" class="img-vencorr">
            </div>
            <div class="form-group">
                <h1 class="welcome">Bem-vindo</h1>
                <h3 class="text-synopsis">Este é o seu portal particular para chegar e realizar suas atividades. Boa aventura!</h3>
            </div>
            <div class="form-group">
                <label class="sr-only">Email</label>
                <input ng-model="email" type="email" class="form-control input-login" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label class="sr-only">Senha</label>
                <input type="password" ng-model="password" class="form-control input-login" placeholder="Senha"><br />
            </div>
            <div class="form-group">
                <a class="forgot-password">Esqueceu sua senha?</a>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block input-lg btn-login" ng-click="authenticate()">
                    <i class="fas fa-circle-notch fa-spin" ng-if="loading"></i>&nbsp;&nbsp;{{loading ? 'Entrando...' : 'Entrar'}}
                </button>
                <div class="text-left" ng-show="respError.status">
                    <br>
                    <span class="text-danger"><strong>{{ respError.message }}</strong></span>
                    <br /><br />
                </div>
            </div>
            <div class="form-group m-t-50 m-b-50">
                <span class="text-left">
                    <span class="gray-space"> - - - - - - - -</span> 
                    <span>OU</span> 
                    <span class="gray-space">- - - - - - - -</span> 
                </span>
            </div>
            <div class="form-group">
                <button class="btn btn-large btn-block btn-success btn-social" id="facebookButton" ng-click="facebookAuth()"><img src="img/icon-fb.svg" class="icon-fb">ENTRAR COM FACEBOOK</button>
            </div>
            <div class="form-group">
                <button class="btn btn-large, btn-block btn-successs btn-social" id="linkedinButton" ng-click="linkedinSigin()"><img src="img/icon-in.svg" class="icon-in">ENTRAR COM LINKEDIN</button>
            </div>
            <div class="form-group">
                <span class="text-footer-login">Todos os direitos reservados para <strong>innogroup.com.br</strong></span>
            </div>
        </form>
        <div class="bg-img"></div>
    </div>
</div>
<!-- /container -->