<div id="controller-wrapper" class="topnav" ng-controller="SidebarController">
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
           <span class="fa fa-bars bt-toggle"></span>
            <ul class="sidebar-nav">
                <li menus="role_quotes image-space">
                    <img src="img/img-logo-vencor-franquias-azul.png"
                         srcset="img/img-logo-vencor-franquias-azul@2x.png 2x,
                         img/img-logo-vencor-franquias-azul@3x.png 3x" class="bottom">
                </li>
                <li menus="role_quotes">
                  <a href="/dashboard"><img src="img/icon-dashboard.svg" class="icon-sidebar">Dashboard</a>
              	</li>
                <li menus="role_quote">
                    <a href="/cotar-seguimento"><img src="img/icon-cotar.svg" class="icon-sidebar">Cotar</a>
                </li>
                <li menus="role_quotes">
                  <a href="/cotacoes"><img src="img/icon-cotacoes.svg" class="icon-sidebar">Cotações</a>
                </li>
                <li menus="role_quotes">
                  <a href="/sinistros"><img src="img/icon-sinistros.svg" class="icon-sidebar">Sinistros</a>
                </li>
                <li menus="role_customers">
                    <a href="/clientes"><img src="img/icon-clientes.svg" class="icon-sidebar">Clientes</a>
                </li>
                <li>
                    <a href="/carteira"><img src="img/icon-carteira.svg" class="icon-sidebar">Carteira</a>
                </li>
                <li menus="role_customers">
                  <a href="/suporte"><img src="img/icon-suporte.svg" class="icon-sidebar">Suporte</a>
                </li>
            </ul>
        </div>
    </div>
  </div>

  <script>
    (function() {
      var menubt = {
      navToggle: document.querySelector('.bt-toggle'),
      nav: document.querySelector('.topnav'),
      
      doToggle: function(e) {
      e.preventDefault();
      this.nav.classList.toggle('open');
      }
      };
      menubt.navToggle.addEventListener('click', function(e) {     menubt.doToggle(e); });
      
      }());
  </script>
