<div id="page-content-wrapper">
    <div class="container-fluid m-l-17">
        <div class="row" ng-controller="SidebarController">
                <div class="col-lg-12">
                    <div class="col-lg-10">
                        <h1 class="section-title">Cotação Empresarial</h1>
                        <h3 class="section-subtitle" ng-show="quotation.status !== 'canceled'">Descreva conforme a sua necessidade de cotação</h3>
                        <h4 class="text-danger" ng-if="quotation.status === 'canceled'">Esta cotação foi cancelada</h4>
                        <div ng-if="quotation.status === 'pre-quotation'">
                            <h4 class="text-warning">Esta cotação está aguardando resolução</h4>
                        </div>
                        <div ng-if="quotation.status === 'quoted'">
                            <h4 class="text-success">Cotação Concluída</h4>
                        </div>
                        <span class="text-muted" ng-if="quotation.status"><Strong>Identificador: </Strong>{{ quotation.hash }}</span>
                        <div class="col-lg-12 m-t-20">
                            <direct-messages quotation="quotation" ng-if="quotation.message"></direct-messages>
                        </div>
                    </div>
                    <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
                </div>
            </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div ng-if="!loading">
            <div class="row">
                <div class="col-lg-12 m-t-20" ng-if="!loading && quotation.status === 'accepted'">
                    <h1 class="section-title">Cotação Escolhida</h1>
                    <hr>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <h3 class="section-subtitle">Seguradora: </h3>
                            <span class="small-value pull-left"><strong>{{ capitalize(acceptedQuote.insurer) }}</strong></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <h3 class="section-subtitle">Preço: </h3>
                            <span class="small-value pull-left"><strong>{{ acceptedQuote.price | currency }}</strong></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Arquivos</label>
                        <div ng-repeat="doc in acceptedQuote.files track by $index" class="m-t-20">
                            <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resolved Quotations -->
            <div class="row">
                <div class="col-lg-12 m-t-20" ng-if="!loading && quotation.status === 'quoted'">
                <h1 class="section-title">Valores da Cotação</h1>

                <div class="row" ng-repeat="quote in quotation.info">
                    <hr>
                    <div class="col-lg-6 m-t-10">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <h3 class="section-subtitle">Seguradora: </h3>
                                    <span class="small-value pull-left"><strong>{{ capitalize(quote.insurer) }}</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <h3 class="section-subtitle">Preço: </h3>
                                    <span class="small-value pull-left"><strong>{{ quote.price | currency }}</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-10">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <h3 class="section-subtitle">Observações: </h3>
                                    <span class="small-value pull-left"><strong>{{ quote.obs }}</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label>Arquivos</label>
                        <div ng-repeat="doc in quote.files track by $index" class="m-t-20">
                            <div class="col-lg-12 m-t-10">
                                <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label>Selecionar esta opção</label>
                        <button class="btn btn-info btn-block btn-lg" ng-click="accept(quote)">Selecionar</button>
                    </div>
                </div>
                <hr>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-b-20 m-t-20" ng-show="!loading">
                    <!-- VIGENCIA -->
                    <h4><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;Vigência</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Data Início *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.start_term" ng-disabled="quotation.status && quotation.status != 'draft'">
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Data Final *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.end_term" ng-disabled="quotation.status && quotation.status != 'draft'">
                            </datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TIPO DO SEGURO -->
            <div class="row">
                <div class="col-lg-12 form-group">
                    <h4><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Tipo de Seguro</h4>
                    <hr>
                    <div class="col-lg-6">
                        <label>Seguradora atual *</label>
                        <select class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation" ng-change="clearRenovationValues()">
                            <option value="novo">Novo</option>
                            <option value="ace">ACE SEGURADORA S.A.</option>
                            <option value="aig">AIG SEGUROS BRASIL</option>
                            <option value="alfa">ALFA SEGURADORA S/A</option>
                            <option value="liberty">ALIRO SEGUROS</option>
                            <option value="allianz">ALLIANZ SEGUROS</option>
                            <option value="azul">AZUL COMPANHIA DE SEGUROS GERAIS</option>
                            <option value="banestes">BANESTES SEGUROS S/A</option>
                            <option value="bradesco">BRADESCO AUTO/RE CIA DE SEGUROS</option>
                            <option value="brasil">BRASIL VEICULOS COMPANHIA DE SEGUROS</option>
                            <option value="caixa">CAIXA SEGURADORA S.A</option>
                            <option value="chubb">CHUBB DO BRASIL CIA DE SEGUROS</option>
                            <option value="mutual">CIA MUTUAL DE SEGUROS</option>
                            <option value="cofianca">CONFIANCA CIA DE SEGUROS</option>
                            <option value="generali">GENERALI DO BRASIL CIA NACIONAL DE SEGS</option>
                            <option value="suhai">GRUPO SUHAI SEGUROS</option>
                            <option value="hdi">HDI SEGUROS S/A</option>
                            <option value="indiana">INDIANA SEGUROS SA</option>
                            <option value="itau">ISAR ITAU SEGUROS DE AUTO E RESIDENCIA</option>
                            <option value="liberty">LIBERTY PAULISTA SEGUROS SA</option>
                            <option value="mapfre">MAPFRE VERA CRUZ SEGURADORA S/A</option>
                            <option value="mitsui">MITSUI SUMITOMO SEGUROS S/A</option>
                            <option value="nobre">NOBRE SEGURADORA DO BRASIL</option>
                            <option value="porto">PORTO SEGURO S.A</option>
                            <option value="rsa">RSA SEGUROS</option>
                            <option value="sancor">SANCOR SEGUROS DO BRASIL S.A.</option>
                            <option value="sompo">SOMPO SEGUROS</option>
                            <option value="sul america cia nacional">SUL AMERICA CIA NACIONAL SEGUROS</option>
                            <option value="tokio">TOKIO MARINE SEGURADORA S.A</option>
                            <option value="zurich">ZURICH BRASIL SEGUROS S/A</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="quotation.renovation != 'novo'">
                <div class="col-lg-12">
                    <div class="col-lg-4 m-t-20">
                        <label>Classe de Bônus anterior *</label>
                        <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_anterior.content }}" popover-title="{{ dynamicPopover.bonus_anterior.title }}" class="info-popup-trigger">
                            ?
                        </button>
                        <select class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_previous_bonus">
                            <option value="">-- Selecione --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'bonus_anterior')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Classe de Bônus Futura *</label>
                        <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_futura.content }}" popover-title="{{ dynamicPopover.bonus_futura.title }}" class="info-popup-trigger">
                            ?
                        </button>
                        <select class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_future_bonus">
                            <option value="">-- Selecione --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'bonus_atual')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Quantidade de sinistros *</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_occurrences" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'sinistros')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="quotation.renovation != 'novo'">
                <div class="col-lg-12">
                    <div class="col-lg-4 m-t-20">
                        <label>Data Final da Apólice Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_final_policy_date" ui-date-mask>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Número da Apólice Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_current_policy_date">
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>C.I Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status && quotation.status != 'draft'" ng-model="quotation.renovation_current_ci">
                    </div>
                </div>
            </div>
            <!-- CLIENTE -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-check"></i> &nbsp;&nbsp;Dados do Cliente</h4>
                    <hr>
                        <div class="form-group">
                            <div class="col-lg-12 m-t-5" ng-show="!loadingCustomer">
                                <a class="btn btn-success btn-add-doc" data-toggle="modal" data-target="#customerModal" ng-show="!chooseCustomer && (!quotation.status || quotation.status == 'draft')"><i class="fas fa-plus-circle"></i>&nbsp; Cadastrar Novo</a> &nbsp;
                                <button class="btn btn-warning" ng-show="customerSnapshot.id && !chooseCustomer && (!quotation.status || quotation.status == 'draft')" ng-click="enableCustomerSearch()">Trocar cliente</button>
                                <button class="btn btn-info btn-choose-file" ng-show="!chooseCustomer && !customerSnapshot.id && quotation.status != 'canceled' && quotation.status != 'pre-quotation'" ng-click="enableCustomerSearch()"><i class="fas fa-plus-circle"></i>&nbsp;Escolher um cliente</button>
                                <choose-customer></choose-customer>
                            </div>
                        </div>
                        <div class="col-lg-12 m-t-20 m-b-20" ng-show="loadingCustomer">
                            <vencorr-loading ng-model="loadingCustomer"></vencorr-loading>
                        </div>
                    <customer-display></customer-display>
                </div>
            </div>
            <!---->
            <!-- SINISTROS -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-exclamation-circle"></i> &nbsp;&nbsp;Sinistros <label>(Informar a ocorrência de sinistros nos últimos 5 (cinco) anos)</label></h4>
                    <hr>
                    <div class="form-group">
                        <a href="" ng-show="!showFormClaims" ng-hide="quotation.status == 'canceled' || quotation.status == 'pre-quotation'" ng-click="openOcurrenceForm()">+ adicionar novo registro</a>
                        <div class="card-form-crud" ng-show="showOcurrenceForm">
                            <p>Adicionar sinistro:</p>
                            <form ng-submit="saveNewOcurrence(ocurrence)">
                                <div class="row m-t-20" ng-repeat="ocurrence in ocurrencesList">
                                    <div class="col-lg-3">
                                        <label>Data</label>
                                        <datepicker date-format="dd/MM/yyyy">
                                            <input class="form-control" ng-model="ocurrence.date" required>
                                        </datepicker>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Prêmio Net / R$</label>
                                        <input class="form-control" ng-model="ocurrence.value" ui-money-mask="mdecimal" required>
                                    </div>
                                    <div class="col-lg-5">
                                        <label>Evento</label>
                                        <input class="form-control" ng-model="ocurrence.event" required>
                                    </div>
                                    <div ng-show="$index > 0" class="col-lg-auto" style="padding-top: 30px;">
                                        <a ng-click="removeOcurrence($index)" href="" style="color: red;font-size: 8px;">x remover</a>
                                    </div>
                                </div>
                                <a href="" ng-click="addOcurrence()">+ adicionar mais um registro</a>
                                <button class="btn btn-warning" ng-click="closeOcurrenceForm()" type="button">Cancelar</button>
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </form>
                        </div>
                        <div class="m-t-20">
                            <label ng-show="!quotation.ocurrences.length">Nenhum sinistro informado.</label>
                        </div>
                        <table class="table" ng-show="quotation.ocurrences !== null && quotation.ocurrences.length">
                            <tr>
                                <th>Data</th>
                                <th>Prêmio Net / R$</th>
                                <th>Evento</th>
                            </tr>
                            <tr ng-repeat="ocurrence in quotation.ocurrences">
                                <td>{{ ocurrence.date}}</td>
                                <td>{{ ocurrence.value | currency }}</td>
                                <td>{{ ocurrence.event}}</td>
                                <td><a ng-click="removeOcurrence($index)" ng-hide="quotation.status != 'draft'" href="" style="color: red">x remover</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!---->
            <!-- COBERTURAS -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-umbrella"></i> &nbsp;&nbsp;Coberturas</h4>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="" data-toggle="modal" data-target="#coveragesModel" ng-hide="quotation.status == 'canceled' || quotation.status == 'pre-quotation'">+ adicionar/editar coberturas</a>
                                <div class="m-t-20">
                                    <label ng-show="quotation.coverages == null || quotation.coverages.length == 0">Nenhuma cobertura selecionada.</label>
                                </div>
                                <div class="m-t-20" ng-show="quotation.coverages != null && quotation.coverages.length > 0">
                                    <table class="table">
                                        <tr>
                                            <th>Cobertura</th>
                                            <th>LMI/R$</th>
                                        </tr>
                                        <tr ng-repeat="c in quotation.coverages">
                                            <td>{{c.name}}</td>
                                            <td>{{ c.lmi | currency }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- LOCAIS DE RISCO -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Locais de Risco</h4>

                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="" ng-click="openModalRiskyPlaces()" ng-hide="quotation.status == 'canceled' || quotation.status == 'pre-quotation'">+ adicionar novo local</a>
                                <div class="m-t-20">
                                    <label ng-show="quotation.risky_places == null || quotation.risky_places.length == 0">Nenhuma local adicionado.</label>
                                </div>
                                <div class="m-t-20" ng-show="quotation.risky_places != null && quotation.risky_places.length > 0">
                                    <table class="table">
                                        <tr>
                                            <th>Endereço</th>
                                            <th>Atividade</th>
                                            <th>VR</th>
                                        </tr>
                                        <tr ng-repeat="p in quotation.risky_places track by $index">
                                            <td>{{ p.address.street }}, {{ p.address.number }} - {{ p.address.neighborhood }} - {{ p.address.city }}, {{ p.address.state }} - {{ p.address.cep }}</td>
                                            <td>{{ p.company_activity }}</td>
                                            <td>{{ p.total_place_risk_value | currency }}</td>
                                            <td width="60">
                                                <a ng-click="editRiskyPlace(p)" ng-hide="quotation.status != 'draft'" href="" style="font-size: 10px;">
                                                    <i class="far fa-edit"></i>&nbsp;editar
                                                </a>
                                            </td>
                                            <td width="80">
                                                <a ng-click="removeRiskyPlace(p.index)" ng-hide="quotation.status != 'draft'" href="" style="font-size: 10px;color: red">
                                                    <i class="far fa-trash-alt"></i>&nbsp;remover
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- INFORMAÇÕES ADICIONAIS -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Informações Adicionais</h4>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Observações</label>
                                <textarea class="form-control" ng-model="quotation.obs" cols="30" rows="5" ng-disabled="quotation.status && quotation.status != 'draft'" placeholder="Digite aqui informações complementares, se existirem."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-paper-plane"></i> &nbsp;&nbsp;Auto Envio</h4>
                    <hr>
                    <label>Esta opção se ativada, o cliente recebe uma cópia da cotação por email com os valores e detalhes</label>
                    <br><br>
                    <label class="switch">
                        <input type="checkbox" ng-model="quotation.auto_flow" ng-disabled="quotation.status && quotation.status != 'draft'">
                        <span class="slider round"></span>
                    </label>
                    <span class="block-it info-text" ng-if="quotation.auto_flow">Ativado</span>
                    <span class="block-it info-text" ng-if="!quotation.auto_flow">Desativado</span>
                </div>
            </div>
            <!---->
            <!-- DOCUMENTOS -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Documentos <strong ng-show="quotation.files.length">({{ quotation.files.length }})</strong></h4>
                    <hr>
                    <!-- Upload -->
                    <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="*/*" ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                    </button>
                    <button class="btn btn-success btn-add-doc" ng-click="triggerUpload()" ng-if="!quotation.status || quotation.status == 'draft'"><i class="fas fa-plus-circle"></i>&nbsp; Adicionar Documento</button>
                    <div ng-show="uploadingFiles.length" ng-hide="hideProgressBars" class="m-t-20">
                        <span ng-repeat="f in uploadingFiles track by $index" style="font-size: smaller">{{f.name}} {{f.$errorParam}}
                            <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">Carregando... {{f.progress}}%</uib-progressbar>
                        </span>
                        <span ng-repeat="f in errFiles" style="font-size: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</span>
                    </div>
                    <div ng-repeat="doc in quotation.files track by $index" class="m-t-20">
                        <div class="col-lg-12 m-t-10">
                            <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status || quotation.status == 'draft'"> X</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- SALVAR -->
            <div class="row">
                <div class="col-lg-12 m-t-50 m-b-20">
                    <div class="pull-left">
                        <a class="btn btn-default btn-back" href="/cotar-seguimento">Voltar</a>
                        <!-- SAVE -->
                        <button class="btn btn-info btn-save-big" ng-if="!isEdit && quotation.status != 'canceled' && quotation.status != 'pre-quotation'" ng-click="saveDraft()">Salvar Rascunho</button>
                        <!-- UPDATE -->
                        <button class="btn btn-info btn-save-big" ng-if="isEdit && quotation.status == 'draft'" ng-click="updateDraft()">Atualizar Rascunho</button>
                        <!-- SEND-->
                        <button class="btn btn-success btn-send-request" ng-if="isEdit && quotation.status == 'draft'" ng-click="sendSolicitation()">Enviar Solicitação</button>
                        <!-- Cancel -->
                        <button class="btn btn-danger btn-cancel" ng-if="isEdit && quotation.status !== 'canceled'" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <customer-modal></customer-modal>
        <!-- MODAL DAS COBERTURAS -->
        <div class="modal fade" id="coveragesModel" tabindex="-1" role="dialog" aria-labelledby="coveragesModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="coveragesModelLabel">Adicionar/Editar coberturas</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <form ng-submit="saveCoveragesList()">
                        <div class="modal-body">
                            <div style="height: 400px;overflow: scroll;padding: 10px">
                                <table class="table">
                                    <tr>
                                        <th>Cobertura</th>
                                        <th>Status</th>
                                        <th>LMI/R$</th>
                                    </tr>
                                    <tr ng-repeat="c in listAllCoverages">
                                        <td>{{ c.name }}</td>
                                        <td>
                                            <input ng-change="changeStatusCoverage(c)" ng-model="c.status" type="checkbox" class="form-check-input" style="transform: scale(1.5);" checked>
                                        </td>
                                        <td>
                                            <input ng-if="c.status == true" ng-model="c.lmi" class="form-control" ui-money-mask="mdecimal" required>
                                            <input ng-if="c.status == false" ng-model="c.lmi" class="form-control" ng-disabled="true" required>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- MODAL DOS LOCAIS DE RISCO -->
        <div class="modal fade" id="riskyPlacesModal" tabindex="-1" role="dialog" aria-labelledby="riskyPlacesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="riskyPlacesModalLabel">Adicionar Local de Risco</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <form ng-submit="addNewRiskyPlace()">
                        <div class="modal-body">
                            <div style="height: 400px;overflow: scroll;padding: 10px">

                                <!-- Endereço -->
                                <div class="col-lg-12">
                                    <h4><i class="fas fa-home"></i> &nbsp;&nbsp;Endereço</h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>CEP *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.cep" ng-blur="getAddressByCepFromRiskyPlace()" ui-br-cep-mask required>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-lg-6">
                                                <label>Rua *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.street" required>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Número *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.number" required>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-lg-6">
                                                <label>Bairro</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.neighborhood">
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Complemento</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.complement">
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-lg-6">
                                                <label>Cidade *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.city" required>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Estado *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.address.state" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Atividade -->
                                <div class="col-lg-12 m-t-20">
                                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Atividade</h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Atividade *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.company_activity" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Valor em risco -->
                                <div class="col-lg-12 m-t-20">
                                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Valor em Risco</h4>
                                    <hr>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Valor em Risco Total do Endereço *</label>
                                                <input class="form-control" ng-model="newRiskyPlace.total_place_risk_value" ui-money-mask="mdecimal" required>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-lg-12">
                                                <label>(opcional) se possível informar separadamente:</label>
                                                <table class="table">
                                                    <tr>
                                                        <th>Prédio</th>
                                                        <th>Máquinas, Móveis, Utensílios</th>
                                                        <th>Mercadorias e Matérias Primas</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input class="form-control" ui-money-mask="mdecimal" ng-model="newRiskyPlace.place_building_risck_value">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" ui-money-mask="mdecimal" ng-model="newRiskyPlace.place_items_risck_value">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" ui-money-mask="mdecimal" ng-model="newRiskyPlace.place_goods_risck_value">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Checklist das caracteristicas do local -->
                                <div class="col-lg-12 m-t-20">
                                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Caracteristicas do local</h4>
                                    <hr>
                                    <div class="form-group">
                                        <!--Protecao contra incendio-->
                                        <div class="row m-t-10">
                                            <div class="col-lg-12">
                                                <label>Proteção Incêndio  - Selecionar apenas os itens existentes no local.</label>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-lg-6">
                                                <table class="table">
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Existe?</th>
                                                    </tr>
                                                    <tr ng-repeat="i in newRiskyPlace.listAllPlaceFireProtection">
                                                        <td>
                                                            {{ i.name }}
                                                        </td>
                                                        <td>
                                                            <input ng-model="i.status" type="checkbox" class="form-check-input" style="transform: scale(1.5);" checked>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Reservatorio de agua -->
                                        <div class="row m-t-10">
                                            <div class="col-lg-12">
                                                <label>Capacidade do Reservatório de Água - Informar valor em litros.</label>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-lg-6">
                                                <table class="table">
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Existe?</th>
                                                        <th>Valor</th>
                                                    </tr>
                                                    <tr ng-repeat="i in newRiskyPlace.listAllPlaceWaterTank">
                                                        <td>
                                                            {{ i.name }}
                                                        </td>
                                                        <td>
                                                            <input ng-model="i.status" type="checkbox" class="form-check-input" style="transform: scale(1.5);" checked>
                                                        </td>
                                                        <td>
                                                            <input ng-if="i.status == true" ng-model="i.value" class="form-control" required>
                                                            <input ng-if="i.status == false" class="form-control" ng-disabled="true" required>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Protecao contra Roubo-->
                                        <div class="row m-t-10">
                                            <div class="col-lg-12">
                                                <label>Proteção contra Roubo  - Selecionar apenas os itens existentes no local.</label>
                                            </div>
                                        </div>
                                        <div class="row m-t-10">
                                            <div class="col-lg-6">
                                                <table class="table">
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Existe?</th>
                                                    </tr>
                                                    <tr ng-repeat="i in newRiskyPlace.listAllPlaceTheftProtection">
                                                        <td>
                                                            {{ i.name }}
                                                        </td>
                                                        <td>
                                                            <input ng-model="i.status" type="checkbox" class="form-check-input" style="transform: scale(1.5);" checked>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
