<div id="page-content-wrapper">
    <div class="container-fluid m-l-17">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <h1 class="section-title">Cotação para outros itens</h1>
                    <h3 class="section-subtitle" ng-show="quotation.status != 'canceled'">Descreva conforme a sua necessidade de cotação</h3>
                    <h4 class="text-danger" ng-if="quotation.status == 'canceled'">Esta cotação foi cancelada</h4>
                    <div ng-if="quotation.status == 'pre-quotation'">
                        <h4 class="text-warning">Esta cotação está aguardando resolução</h4>
                    </div>
                    <div ng-if="quotation.status == 'quoted'">
                        <h4 class="text-info">Cotação Concluída</h4>
                    </div>
                    <div ng-if="quotation.status == 'accepted'">
                        <h4 class="text-success">Cotação Aceita</h4>
                    </div>
                    <span class="text-muted" ng-if="quotation.status"><Strong>Identificador: </Strong>{{ quotation.hash }}</span>
                    <div class="col-lg-12 m-t-20">
                        <direct-messages quotation="quotation" ng-if="quotation.message"></direct-messages>
                    </div>
                </div>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div class="row m-t-20" ng-if="!loading && quotation.status === 'accepted'">
            <h1 class="section-title">Cotação Escolhida</h1>

            <hr>
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="input-group">
                        <h3 class="section-subtitle">Seguradora: </h3>
                        <span class="small-value pull-left"><strong>{{ capitalize(acceptedQuote.insurer) }}</strong></span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <h3 class="section-subtitle">Preço: </h3>
                        <span class="small-value pull-left"><strong>{{ acceptedQuote.price | currency }}</strong></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>Arquivos</label>
                    <div ng-repeat="doc in acceptedQuote.files track by $index" class="m-t-20">
                        <div class="col-lg-12 m-t-10">
                            <a class="min-w-100 inline-it btn btn-sm btn-see-files" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-10">
                <div class="col-lg-12">
                    <div class="input-group">
                        <h3 class="section-subtitle">Observações: </h3>
                        <span class="small-value pull-left"><strong>{{ acceptedQuote.obs }}</strong></span>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div ng-if="!loading">
            <!-- Resolved Quotations -->
            <div class="row">
                <div class="m-t-20" ng-if="!loading && quotation.status === 'quoted'">
                    <h1 class="section-title">Valores da Cotação</h1>
                    <div class="col-lg-12" ng-repeat="quote in quotation.info">
                        <hr>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <h3 class="section-subtitle">Seguradora: </h3>
                                <span class="small-value pull-left"><strong>{{ capitalize(quote.insurer) }}</strong></span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group">
                                <h3 class="section-subtitle">Preço: </h3>
                                <span class="small-value pull-left"><strong>{{ quote.price | currency }}</strong></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <h3 class="section-subtitle">Observações: </h3>
                                <span class="small-value pull-left"><strong>{{ quote.obs }}</strong></span>
                            </div>
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>Arquivos</label>
                            <div ng-repeat="doc in quote.files track by $index">
                                <div class="col-lg-12 m-b-10">
                                    <a class="min-w-100 inline-it btn btn-sm btn-see-files" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>Selecionar esta opção</label>
                            <button class="btn btn-info btn-block btn-lg btn-select-quotation-edit" ng-click="accept(quote)">Selecionar</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- VIGENCIA -->
            <div class="row">
                <hr>
                <div class="col-lg-12 m-b-20 m-t-20" ng-show="!loading">
                    <h4><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;Vigência</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Data Início *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.start_term" ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('start_term')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4">
                        <label>Data Final *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.end_term" ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('end_term')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <!---->
            <!-- CLIENTE -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-check"></i> &nbsp;&nbsp;Dados do Cliente</h4>
                    <hr>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 m-t-5" ng-show="!loadingCustomer">
                                <a class="btn btn-success btn-add-doc" data-toggle="modal" data-target="#customerModal" ng-show="!chooseCustomer && (!quotation.status || quotation.status == 'pre-quotation')"><i class="fas fa-plus-circle"></i>&nbsp; Cadastrar Novo</a>
                                &nbsp;
                                <button class="btn btn-warning" ng-show="customerSnapshot.id && !chooseCustomer && (quotation.status && quotation.status == 'pre-quotation')" ng-click="enableCustomerSearch()">Trocar cliente</button>
                                <button class="btn btn-info btn-choose-file" ng-show="!chooseCustomer && !customerSnapshot.id" ng-click="enableCustomerSearch()"><i class="fas fa-plus-circle"></i>&nbsp;Escolher um cliente</button>
                                <choose-customer></choose-customer>
                            </div>
                        </div>
                        <span class="text-danger m-t-20" ng-if="isMissingFields('customerId')">Escolha um cliente</span>
                        <div class="col-lg-12 m-t-20 m-b-20" ng-show="loadingCustomer">
                            <vencorr-loading ng-model="loadingCustomer"></vencorr-loading>
                        </div>
                    </div>
                    <customer-display></customer-display>
                </div>
            </div>
            <!---->
            <!-- INFORMAÇÕES ADICIONAIS -->
            <div class="row">
                <div class="col-lg-12 m-t-50">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Descrição</h4>
                    <hr>
                    <div class="form-group">
                        <label>Descreva a cotação</label>
                        <textarea class="form-control" ng-disabled="quotation.status && quotation.status != 'pre-quotation'" ng-model="quotation.description" cols="30" rows="5" placeholder="Digite aqui informações complementares, se existirem."></textarea>
                        <span class="text-danger m-t-20" ng-if="isMissingFields('description')">Campo Obrigatório</span>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-paper-plane"></i> &nbsp;&nbsp;Auto Envio</h4>
                    <hr>
                    <label>Esta opção se ativada, o cliente recebe uma cópia da cotação por email com os valores e detalhes</label>
                    <br><br>
                    <label class="switch">
                        <input type="checkbox" ng-model="quotation.auto_flow" ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                        <span class="slider round"></span>
                    </label>
                    <span class="block-it info-text" ng-if="quotation.auto_flow">Ativado</span>
                    <span class="block-it info-text" ng-if="!quotation.auto_flow">Desativado</span>
                </div>
            </div>
            <!-- DOCUMENTOS -->
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Documentos <strong ng-show="quotation.files.length">({{ quotation.files.length }})</strong></h4>
                    <hr>
                    <!-- Upload -->
                    <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="*/*" ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                    </button>

                    <button class="btn btn-success btn-add-doc" ng-click="triggerUpload('radio')" ng-if="!quotation.status || quotation.status == 'pre-quotation'"><i class="fas fa-plus-circle"></i>&nbsp; Adicionar Documento</button>
                    <div ng-show="uploadingFiles.length" ng-hide="hideProgressBars" class="m-t-20">
                        <span ng-repeat="f in uploadingFiles track by $index" style="font:smaller">{{f.name}} {{f.$errorParam}}
                            <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">Carregando... {{f.progress}}%</uib-progressbar>
                        </span>
                        <span ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</span>
                    </div>

                    <div ng-repeat="doc in quotation.files track by $index" class="m-t-50">
                        <div class="col-lg-12 m-t-10">
                            <a class="min-w-100 inline-it btn btn-success btn-see-files-edit" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status || quotation.status == 'pre-quotation'"> X</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!-- SALVAR -->
            <div class="row">
                <div class="col-lg-12 m-t-20 m-b-20">
                    <div class="pull-left">
                        <a class="btn btn-default btn-back" href="/cotar-seguimento">Voltar</a>
                        <button class="btn btn-success btn-save" ng-if="!isEdit" ng-click="save(quotation)">Salvar</button>
                        <button class="btn btn-info btn-save" ng-if="isEdit && quotation.status == 'pre-quotation'" ng-click="updateQuotation()">Atualizar</button>
                        <button class="btn btn-danger btn-cancel" ng-if="isEdit && (quotation.status !== 'canceled' && quotation.status != 'accepted')" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>

<customer-modal></customer-modal>
