<div id="page-content-wrapper">
    <div class="container-fluid m-l-17">
        <div class="row m-t-20" ng-controller="SidebarController">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <h1 class="section-title">Cotação Auto <small>{{ quotation.id_referencia }}</small></h1>
                    <h3 class="section-subtitle">Preencha os dados solicitados e realize uma cotação</h3>
                    <h3 class="section-subtitle" ng-show="quotation.status !== 'canceled'">Descreva conforme a sua necessidade de cotação</h3>
                    <h4 class="text-danger" ng-if="quotation.status === 'canceled'">Esta cotação foi cancelada</h4>
                    <div ng-if="quotation.status === 'accepted'">
                        <h4 class="text-success">Cotação Selecionada e encaminhada para finalização</h4>
                    </div>
                    <span class="text-muted" ng-if="quotation.status"><Strong>Identificador: </Strong>{{ quotation.hash }}</span>
                    <div class="col-lg-12 m-t-20">
                        <direct-messages quotation="quotation" ng-if="quotation.message"></direct-messages>
                    </div>
                </div>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row text-center">
            <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        </div>
        <div ng-if="!loading">
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20" ng-if="!loading && quotation.status === 'accepted'">
                    <div class="col-lg-12">
                        <h1 class="section-title">Cotação Escolhida</h1>
                        <hr>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <h3 class="section-subtitle">Seguradora: </h3>
                            <span class="small-value pull-left"><strong>{{ insurerDictionary[acceptedQuote.calculo.seguradora] }}</strong></span>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <h3 class="section-subtitle">Preço: </h3>
                            <span class="small-value pull-left"><strong>{{ acceptedQuote.calculo.valor | currency }}</strong></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label>Arquivos</label>
                        <div ng-repeat="doc in acceptedQuote.files track by $index" class="m-t-20">
                            <div class="col-lg-12 m-t-10">
                                <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                            </div>
                        </div>
                        <br>
                        <span class="text-info" ng-show="!acceptedQuote.files.length">Aguardando arquivos de apólice/boleto</span>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <h3 class="section-subtitle">Observações: </h3>
                            <span class="small-value pull-left"><strong>{{ acceptedQuote.calculo.mensagem_ajuste.toString() }}</strong></span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-b-20 m-t-20" ng-show="!loading">

                    <h4><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;Vigência</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Data Início *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.cotacao.inicio_vigencia">
                            </datepicker>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Data Final *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.cotacao.termino_vigencia">
                            </datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 form-group">
                    <h4><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Tipo de Seguro</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Seguradora atual *</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.renovacao" ng-change="clearRenovationValues()">
                            <option value="novo">Novo</option>
                            <option value="ace">ACE SEGURADORA S.A.</option>
                            <option value="aig">AIG SEGUROS BRASIL</option>
                            <option value="alfa">ALFA SEGURADORA S/A</option>
                            <option value="liberty">ALIRO SEGUROS</option>
                            <option value="allianz">ALLIANZ SEGUROS</option>
                            <option value="azul">AZUL COMPANHIA DE SEGUROS GERAIS</option>
                            <option value="banestes">BANESTES SEGUROS S/A</option>
                            <option value="bradesco">BRADESCO AUTO/RE CIA DE SEGUROS</option>
                            <option value="brasil">BRASIL VEICULOS COMPANHIA DE SEGUROS</option>
                            <option value="caixa">CAIXA SEGURADORA S.A</option>
                            <option value="chubb">CHUBB DO BRASIL CIA DE SEGUROS</option>
                            <option value="mutual">CIA MUTUAL DE SEGUROS</option>
                            <option value="cofianca">CONFIANCA CIA DE SEGUROS</option>
                            <option value="generali">GENERALI DO BRASIL CIA NACIONAL DE SEGS</option>
                            <option value="suhai">GRUPO SUHAI SEGUROS</option>
                            <option value="hdi">HDI SEGUROS S/A</option>
                            <option value="indiana">INDIANA SEGUROS SA</option>
                            <option value="itau">ISAR ITAU SEGUROS DE AUTO E RESIDENCIA</option>
                            <option value="liberty">LIBERTY PAULISTA SEGUROS SA</option>
                            <option value="mapfre">MAPFRE VERA CRUZ SEGURADORA S/A</option>
                            <option value="mitsui">MITSUI SUMITOMO SEGUROS S/A</option>
                            <option value="nobre">NOBRE SEGURADORA DO BRASIL</option>
                            <option value="porto">PORTO SEGURO S.A</option>
                            <option value="rsa">RSA SEGUROS</option>
                            <option value="sancor">SANCOR SEGUROS DO BRASIL S.A.</option>
                            <option value="sompo">SOMPO SEGUROS</option>
                            <option value="sul america cia nacional">SUL AMERICA CIA NACIONAL SEGUROS</option>
                            <option value="tokio">TOKIO MARINE SEGURADORA S.A</option>
                            <option value="zurich">ZURICH BRASIL SEGUROS S/A</option>
                        </select>
                    </div>
                    <div class="row" ng-if="quotation.cotacao.renovacao !== 'novo'">
                        <div class="col-lg-2 m-t-20">
                            <label>Classe de Bônus anterior *</label>
                            <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_anterior.content }}" popover-title="{{ dynamicPopover.bonus_anterior.title }}" class="info-popup-trigger">
                                ?
                            </button>
                            <select class="form-control input-lg" ng-model="quotation.cotacao.bonus_anterior">
                                <option value="">-- Selecione --</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingField('cotacao', 'bonus_anterior')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>Classe de Bônus Futura *</label>
                            <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_futura.content }}" popover-title="{{ dynamicPopover.bonus_futura.title }}" class="info-popup-trigger">
                                ?
                            </button>
                            <select class="form-control input-lg" ng-model="quotation.cotacao.bonus_atual">
                                <option value="">-- Selecione --</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingField('cotacao', 'bonus_atual')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>Quantidade de sinistros *</label>
                            <input class="form-control input-lg" ng-model="quotation.cotacao.sinistros" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                            <span class="text-danger" ng-if="isMissingField('cotacao', 'sinistros')">Campo obrigatório</span>
                        </div>
                    </div>
                    <div class="row" ng-if="quotation.cotacao.renovacao !== 'novo'">
                        <div class="col-lg-2 m-t-20">
                            <label>Data Final da Apólice Vigente</label>
                            <input class="form-control input-lg" ng-model="quotation.cotacao.final_apolice" ui-date-mask>
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>Número da Apólice Vigente</label>
                            <input class="form-control input-lg" ng-model="quotation.cotacao.apolice_anterior">
                        </div>
                        <div class="col-lg-2 m-t-20">
                            <label>C.I Vigente</label>
                            <input class="form-control input-lg" ng-model="quotation.cotacao.codigo_identificacao">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp;Localização</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>CEP de Circulação *</label>
                        <input class="form-control input-lg" ng-model="quotation.cotacao.cep_circulacao" ui-br-cep-mask>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'cep_circulacao')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4">
                        <label>CEP de Pernoite *</label>
                        <input class="form-control input-lg" ng-model="quotation.cotacao.cep_pernoite" ui-br-cep-mask>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'cep_pernoite')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-sm btn-info btn-repeat-cep" ng-click="repeatCep()">Repetir CEP</button>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-check"></i> &nbsp;&nbsp;Dados do Cliente</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Tipo de pessoa</label>
                        <select class="form-control input-lg" ng-model="quotation.tipo_pessoa">
                            <option value="fisica">Física</option>
                            <option value="juridica">Jurídica</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group" ng-if="quotation.tipo_pessoa === 'fisica'">
                        <label>CPF *</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.documento" ui-br-cpf-mask>
                        <span class="text-danger" ng-if="isMissingField('cliente', 'documento')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 form-group" ng-if="quotation.tipo_pessoa === 'juridica'">
                        <label>CNPJ *</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.documento" ui-br-cnpj-mask>
                        <span class="text-danger" ng-if="isMissingField('cliente', 'documento')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Nome / Razão Social *</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.nome">
                        <span class="text-danger" ng-if="isMissingField('cliente', 'nome')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <label>Sexo *</label>
                        <select class="form-control input-lg" ng-model="quotation.cliente.sexo">
                            <option value="">-- Selecione --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingField('cliente', 'sexo')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Data de Nascimento</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.nascimento" ui-date-mask>
                        <span class="text-danger" ng-if="isMissingField('cliente', 'nascimento')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Email</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.email" type="email">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Telefone</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.fone_fixo" ui-br-phone-number-mask="areaCode">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Celular</label>
                        <input class="form-control input-lg" ng-model="quotation.cliente.celular" ui-br-phone-number-mask="areaCode">
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-car"></i> &nbsp;&nbsp;Dados do Véiculo</h4>
                    <hr>
                    <div class="col-lg-4 form-group">
                        <label>Placa</label>
                        <input class="form-control input-lg" ng-model="quotation.veiculo.placa">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Chassi</label>
                        <input class="form-control input-lg" ng-model="quotation.veiculo.chassi">
                    </div>
                    <div class="col-lg-4">
                        <label>Zero KM</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.zero_km">
                            <option value="TRUE">Sim</option>
                            <option value="FALSE">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Marca *</label>
                        <div class="form-group-lg">
                            <ui-select ng-model="uiSelects.marca" theme="bootstrap" on-select="onSelectBrand($item)" ng-change="checkModels()">
                                <ui-select-match placeholder="Selecione uma marca...">{{ $select.selected.descricao }}</ui-select-match>
                                <ui-select-choices repeat="brand in brands | filter: $select.search">
                                    <div ng-attr-title="{{ brand.descricao }}">{{ brand.descricao }}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Ano de Fabricação *</label>
                        <input class="form-control input-lg" ng-model="quotation.veiculo.ano_fabricacao" maxlength="4" ui-number-mask="0" ui-hide-group-sep>
                        <span class="text-danger" ng-if="isMissingField('veiculo', 'ano_fabricacao')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Ano do modelo *</label>
                        <input class="form-control input-lg" ng-model="quotation.veiculo.ano_modelo" ng-change="checkModels()" maxlength="4" only-number>
                        <span class="text-danger" ng-if="isMissingField('veiculo', 'ano_modelo')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-3 form-group-lg">
                        <label>Modelo *</label>&nbsp;<span class="text-info" ng-show="loadingModels">Carregando modelos...</span>
                        <span class="text-warning" ng-show="modelsFindErrorMessage">Nenhum Modelo encontrado, verifique o ano que você digitou...</span>
                        <ui-select ng-model="uiSelects.model" on-select="onSelectModel($item)" theme="bootstrap" ng-disabled="!models.length">
                            <ui-select-match placeholder="Selecione um modelo...">{{ $select.selected.descricao }}</ui-select-match>
                            <ui-select-choices repeat="model in models | filter: $select.search" position='down'>
                                <div ng-attr-title="{{ model.descricao }}">{{ model.descricao }}</div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="text-danger" ng-if="isMissingField('veiculo', 'modelo')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Tipo de Combustível *</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.tipo_combustivel">
                            <option value="FLEX">Flex</option>
                            <option value="GASOLINA">Gasolina</option>
                            <option value="ALCOOL">Alcool</option>
                            <option value="DIESEL">Diesel</option>
                            <option value="FLEX/GNV">Flex/gnv</option>
                            <option value="GASOLINA/GNV">Gasolina/gnv</option>
                            <option value="ALCOOL/GNV">Alcool/gnv</option>
                        </select>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label>Tipo de Veículo</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.tipo_veiculo">
                            <option value="PARTICULAR">Particular</option>
                            <option value="ALUGUEL">Aluguel/frete</option>
                            <option value="AMBULANCIA">Ambulância</option>
                            <option value="AUTO_ESCOLA">Auto escola</option>
                            <option value="BOMBEIRO">Bombeiro</option>
                            <option value="TEST_DRIVER">Chapa de fabricante / test driver</option>
                            <option value="ESCOLAR">Escolar</option>
                            <option value="FUNERARIO">Funerário</option>
                            <option value="LOCADORAS">Locadoras</option>
                            <option value="POLICIAMENTO">Policiamento/vigilância/ronda/escolta</option>
                            <option value="EVENTOS">Publicitários/eventos/competição</option>
                            <option value="TAXI">Táxi</option>
                            <option value="TRANSPORTE_POR_APP">Transporte por aplicativo</option>
                            <option value="TRANSPORTE_COLABORADORES">Transporte colaborador/cliente/lotação</option>
                            <option value="TRANSPORTE_VALORES">Transporte de valores</option>
                            <option value="VEICULOS_OFICIAIS">Veículos oficiais</option>
                            <option value="OUTROS">Outros não relacionados</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Isenção Fiscal (IPI/ICMS)</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.isencao_fiscal">
                            <option value="">Não se Aplica</option>
                            <option value="pcd_com_isencao">PCD com isenção</option>
                            <option value="pcd_sem_isencao">PCD sem isenção</option>
                            <option value="taxi_com_isencao" ng-show="quotation.veiculo.tipo_veiculo === 'TAXI'">Taxi com isenção</option>
                            <option value="taxi_sem_isencao" ng-show="quotation.veiculo.tipo_veiculo === 'TAXI'">Taxi sem isenção</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20" ng-show="quotation.veiculo.tipo_combustivel === 'FLEX/GNV' || quotation.veiculo.tipo_combustivel === 'GASOLINA/GNV' || quotation.veiculo.tipo_combustivel === 'ALCOOL/GNV'">
                <div class="col-lg-12 m-b-20">
                    <label>Valor Kit Gás</label>
                    <input class="form-control input-lg" placeholder="R$ 1.000,00" ng-model="quotation.veiculo.valor_kit_gas" ui-money-mask="mdecimal">
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <label>Categoria Anti-Furto</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.anti_furto" ng-change="onSelectAntiTheftCategory()">
                            <option value="">-- Selecione uma categoria --</option>
                            <option value="BLOQUEADOR">Bloqueador</option>
                            <option value="RASTREADOR">Rastreador</option>
                            <option value="ALARME">Alarme</option>
                            <option value="TRAVA">Trava</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label>Marca Anti-Furto</label>&nbsp;<span class="text-info" ng-show="loadingAntiTheft">Carregando dispositivos...</span>
                        <div class="form-group-lg">
                            <ui-select ng-model="uiSelects.antiTheft" theme="bootstrap" ng-disabled="!antiTheftDevices.length" on-select="onSelectAntiTheftDevice($item)">
                                <ui-select-match placeholder="Selecione uma marca de anti-furto...">{{ $select.selected.marca }}</ui-select-match>
                                <ui-select-choices repeat="antiTheft in antiTheftDevices | filter: $select.search" position='down'>
                                    <div ng-attr-title="{{ antiTheft.marca }}">{{ antiTheft.marca }}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Veículo Alienado/Financiado</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.alienado">
                            <option value="FALSE">Não</option>
                            <option value="TRUE">Sim</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Chassi Remarcado</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.chassi_remarcado">
                            <option value="FALSE">Não</option>
                            <option value="TRUE">Sim</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Veículo Blindado</label>
                        <select class="form-control input-lg" ng-model="quotation.veiculo.blindado">
                            <option value="FALSE">Não</option>
                            <option value="TRUE">Sim</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-2" ng-if="quotation.veiculo.blindado === 'TRUE'">
                    <label>Valor da Blindagem</label>
                    <input class="form-control input-lg" placeholder="R$ 20.000,00" ng-model="quotation.veiculo.valor_blindado" ui-money-mask="mdecimal">
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-asterisk"></i> &nbsp;&nbsp;Avaliação de risco</h4>
                    <hr>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Garagem na residência</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.garagem_residencia">
                            <option value="sim">Sim, sem portão eletrônico</option>
                            <option value="sim_com_portao">Sim, com portão eletrônico</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Garagem no trabalho</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.garagem_trabalho">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                            <option value="nu">Não ultiliza para trabalhar</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Garagem no Estudo/Curso</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.garagem_estudo">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                            <option value="nu">Não ultiliza para estudar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Utilização do veículo</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.utilizacao_veiculo">
                            <option value="pessoal">Pessoal</option>
                            <option value="trabalho">Trabalho</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Quantidade de veículos na residência *</label>
                        <input class="form-control input-lg" ng-model="quotation.cotacao.carros_residencia" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'carros_residencia')">Campo obrigatório</span>

                    </div>
                    <div class="col-lg-4">
                        <label>Vítima roubo ou furto de veículos?</label>
                        <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.furto.content }}" popover-title="{{ dynamicPopover.furto.title }}" class="info-popup-trigger">
                            ?
                        </button>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.vitima_furto">
                            <option value="FALSE">Não</option>
                            <option value="TRUE">Sim</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                    <label>Distância do trabalho *</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.distancia_residencia_trabalho">
                            <option value="nu">Não se aplica</option>
                            <option value="ATE_10_KM">Até 10 KM</option>
                            <option value="ATE_20_KM">Até 20 KM</option>
                            <option value="ATE_30_KM">Até 30 KM</option>
                            <option value="ATE_40_KM">Até 40 KM</option>
                            <option value="ACIMA_DE_40KM">Acima de 40 KM</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Km Mensal *</label>
                        <input class="form-control input-lg" ng-model="quotation.cotacao.km_mensal" maxlength="6" ui-number-mask="0">
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'km_mensal')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-circle"></i> &nbsp;&nbsp;Principal Condutor</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Relação com o cliente *</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.relacao_cliente_condutor" ng-change="onSelectRelation()">
                            <option value="PROPRIO" ng-show="quotation.tipo_pessoa === 'fisica'">Próprio</option>
                            <option value="CONJUGE" ng-show="quotation.tipo_pessoa === 'fisica'">Cônjuge</option>
                            <option value="FILHO" ng-show="quotation.tipo_pessoa === 'fisica'">Filho</option>
                            <option value="EXCLUSIVO" ng-show="quotation.tipo_pessoa === 'juridica'">Funcionário/usuário exclusivo do veículo</option>
                            <option value="VARIOS" ng-show="quotation.tipo_pessoa === 'juridica'">Condutor indeterminado/sem perfil</option>
                            <option value="DIRETORES" ng-show="quotation.tipo_pessoa === 'juridica'">Sócios e/ou Diretores</option>
                            <option value="PARENTES" ng-show="quotation.tipo_pessoa === 'juridica'">Cônjuge/Filhos dos Sócios ou Diretores</option>
                            <option value="OUTROS">Outros</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>CPF *</label>
                        <input class="form-control input-lg" ng-model="quotation.condutor_principal.documento" ui-br-cpf-mask>
                        <span class="text-danger" ng-if="isMissingField('condutor_principal', 'documento')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Nome *</label>
                        <input class="form-control input-lg" ng-model="quotation.condutor_principal.nome">
                        <span class="text-danger" ng-if="isMissingField('condutor_principal', 'nome')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <label>Data de Nascimento</label>
                        <input class="form-control input-lg" ng-model="quotation.condutor_principal.nascimento" ui-date-mask>
                        <span class="text-danger" ng-if="isMissingField('condutor_principal', 'nascimento')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-3">
                        <label>Sexo *</label>
                        <select class="form-control input-lg" ng-model="quotation.condutor_principal.sexo">
                            <option value="">-- Selecione --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Estado Civil *</label>
                        <select class="form-control input-lg" ng-model="quotation.condutor_principal.estado_civil">
                            <option value="C">Casado</option>
                            <option value="S">Solteiro</option>
                            <option value="V">Viuvo</option>
                            <option value="D">Divorciado</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Profissão</label>
                        <div class="form-group-lg">
                            <ui-select ng-model="uiSelects.profession" theme="bootstrap" on-select="onSelectProfession($item)">
                                <ui-select-match placeholder="Selecione uma profissão...">{{ $select.selected.descricao }}</ui-select-match>
                                <ui-select-choices repeat="profession in professions | filter: $select.search" position='down'>
                                    <div ng-attr-title="{{ profession.descricao }}">{{ profession.descricao }}</div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="text-danger" ng-if="isMissingField('condutor_principal', 'profissao')">Campo obrigatório</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Tipo de Residência *</label>
                        <select class="form-control input-lg" ng-model="quotation.condutor_principal.tipo_residencia">
                            <option value="casa">Casa</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="casa_condominio">Casa em condominio</option>
                            <option value="chacara">Chácara</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Data da Habilitação</label>
                        <input class="form-control input-lg" ng-model="quotation.condutor_principal.data_habilitacao" ui-date-mask>
                    </div>
                    <div class="col-lg-4">
                        <label>Número da CNH</label>
                        <input class="form-control input-lg" ng-model="quotation.condutor_principal.habilitacao" ui-number-mask="0" ui-hide-group-sep>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-plus"></i> &nbsp;&nbsp;Condutores Adicionais</h4>
                    <hr>

                    <div class="col-lg-4">
                        <label>Residem com o principal condutor pessoas abaixo da faixa etária de 26 anos? *</label>
                        <select class="form-control input-lg" ng-model="quotation.cotacao.cobertura_para_outro_condutor">
                            <option value="NAO_EXISTE">Não Residem</option>
                            <option value="SIM_NAO_UTILIZAM">Sim, mas não utilizam</option>
                            <option value="SIM_UTILIZAM">Sim, utiliza o veículo</option>
                        </select>
                    </div>
                    <div ng-if="quotation.cotacao.cobertura_para_outro_condutor !== 'NAO_EXISTE'">
                        <div class="col-lg-2">
                            <label>Idade *</label>
                            <input class="form-control input-lg" ng-model="quotation.cotacao.condutor_secundario_idade" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                            <span class="text-danger" ng-if="isMissingField('cotacao', 'condutor_secundario_idade')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-2">
                            <label>Sexo *</label>
                            <select class="form-control input-lg" ng-model="quotation.cotacao.condutor_secundario_sexo">
                                <option value="">-- Selecione --</option>
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingField('cotacao', 'condutor_secundario_sexo')">Campo obrigatório</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-list-ul"></i> &nbsp;&nbsp;Coberturas</h4>
                    <hr>
                    <div class="row m-t-20">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <label>Cobertura</label>
                                <select class="form-control input-lg" ng-model="quotation.cobertura.tipo_cobertura">
                                    <option value="compreensiva">Compreensiva (completa)</option>
                                    <option value="exclusiva">Exclusiva (Incêndio e roubo)</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Franquia</label>
                                <select class="form-control input-lg" ng-model="quotation.cobertura.franquia">
                                    <option value="normal">Normal</option>
                                    <option value="reduzida">Reduzida</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label>Isenção franquia 1º sinistro</label>
                                <select class="form-control input-lg" ng-model="quotation.cobertura.isencao_franquia">
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>RCFV Danos Materiais *</label>
                        <input class="form-control input-lg" placeholder="R$ 50.000,00" ng-model="quotation.cobertura.danos_materiais" ui-money-mask="mdecimal">
                    </div>
                    <div class="col-lg-4">
                        <label>RCFV Danos Corporais *</label>
                        <input class="form-control input-lg" placeholder="R$ 50.000,00" ng-model="quotation.cobertura.danos_corporais" ui-money-mask="mdecimal">
                    </div>
                    <div class="col-lg-4">
                        <label>RCFV Danos Morais *</label>
                        <input class="form-control input-lg" placeholder="R$ 50.000,00" ng-model="quotation.cobertura.danos_morais" ui-money-mask="mdecimal">
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>APP Morte / Invalidez *</label>
                        <input class="form-control input-lg" placeholder="R$ 50.000,00" ng-model="quotation.cobertura.morte_invalidez" ui-money-mask="mdecimal">
                    </div>
                    <div class="col-lg-4">
                        <label>Despesas extraordinarias</label>
                        <input class="form-control input-lg" placeholder="R$ 50.000,00" ng-model="quotation.cobertura.despesas_extraordinarias" ui-money-mask="mdecimal">
                    </div>
                    <div class="col-lg-4">
                        <label>Fator Tabela Fipe (%) *</label>
                        <input class="form-control input-lg" ng-model="quotation.cobertura.percentual_fipe" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                        <span class="text-danger" ng-if="isMissingField('cobertura', 'percentual_fipe')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Assistência 24Hrs /Reboque</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.assistencia_24h">
                            <option value="semlimite">Sem Limites</option>
                            <option value="100km">Até 100km</option>
                            <option value="200km">Até 200km</option>
                            <option value="500km">Até 500km</option>
                            <option value="semassistencia">Sem Assistência</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Vidros</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.vidros">
                            <option value="sem">Sem Cobertura</option>
                            <option value="basico">Básico</option>
                            <option value="completo">Completo</option>
                            <option value="vip">VIP</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Carro Reserva (Diárias)</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.carro_reserva" ng-change="onChangeBackupCar()">
                            <option value="semcarro">Sem carro reserva</option>
                            <option value="07dias">07 Dias</option>
                            <option value="15dias">15 Dias</option>
                            <option value="30dias">30 Dias</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label>Oficina</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.oficina">
                            <option value="referenciada">Referenciada</option>
                            <option value="livre">Livre</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Perfil do carro reserva</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.perfil_carro_reserva" ng-disabled="quotation.cobertura.carro_reserva === 'semcarro'">
                            <option value="semcarro" ng-show="quotation.cobertura.carro_reserva === 'semcarro'">Sem Carro</option>
                            <option value="basico">Básico (1.0) sem AR</option>
                            <option value="essencial">Essencial (1.0) com AR</option>
                            <option value="executivo">Executivo (1.4/1.6) com AR</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Reposição Zero Km</label>
                        <select class="form-control input-lg" ng-model="quotation.cobertura.reposicao_zero_km" ng-disabled="quotation.veiculo.zero_km === 'FALSE'">
                            <option value="semzerokm">Sem Cobertura</option>
                            <option value="06meses">06 Meses</option>
                            <option value="12meses">12 Meses</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-wallet"></i> &nbsp;&nbsp;Comissão</h4>
                    <hr>
                    <div class="col-lg-2">
                        <label>Comissão *</label>
                        <input class="form-control input-lg" ng-model="quotation.cotacao.comissao" maxlength="3" ui-number-mask="0">
                        <span class="text-danger" ng-if="isMissingField('cotacao', 'comissao')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-8 m-t-25">
                        <button class="btn btn-lg btn-success btn-calculate" ng-if="quotation.status != 'accepted' && quotation.status != 'canceled'" ng-click="calculate()" ng-disabled="loadingCalculate || calcOnProgress">
                            <i class="fas fa-circle-notch fa-spin" ng-show="loadingCalculate"></i>{{loadingCalculate ? 'Analisando...' : 'Calcular'}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12 m-t-20 m-b-50">
                    <h4><i class="fas fa-dollar-sign"></i> &nbsp;&nbsp;Preços <small ng-if="quotationsList.length">Cotações ({{ quotationsList.length }})</small></h4>
                    <div class="col-lg-12">
                        <button class="btn btn-warning m-t-20 btn-price-order" ng-click="order('price')">Ordenar Preços</button>
                    </div>
                    <hr>
                    <div ng-show="calcOnProgress && quotationsList.length < 7">
                        <img src="../img/loading.gif"> <span>Obetendo Preços</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-lg-12" ng-show="quotationsList.length">
                    <div class="col-lg-1 m-t-10">
                        <h4 class="table-header-label">Seguradora</h4>
                    </div>
                    <div class="col-lg-1 m-t-10 text-center">
                        <h4 class="table-header-label">Status</h4>
                    </div>
                    <div class="col-lg-3 m-t-10">
                        <h4 class="table-header-label">Veículo</h4>
                    </div>
                    <div class="col-lg-2 m-t-10">
                        <h4 class="table-header-label">Coberturas</h4>
                    </div>
                    <div class="col-lg-3 m-t-10">
                        <h4 class="table-header-label">Outras Coberturas</h4>
                    </div>
                    <div class="col-lg-1 m-t-10">
                        <h4 class="table-header-label">Preço</h4>
                    </div>
                </div>
            </div>
            <div class="row m-t-20">
            <div class="col-lg-12" style="height: 100%;">
                <div class="quotation-auto-card" ng-class="{'quotation-card-accepted': quote.accept }" ng-repeat="quote in quotationsList track by $index">
                    <div class="col-lg-1 m-t-20 text-center">
                        <div class="row">
                            <img ng-src="../img/seguradoras/{{ quote.calculo.seguradora }}.png" title="{{ prop['name'] }}"/>
                        </div>
                        <div class="row">
                            <span>{{ insurerDictionary[quote.calculo.seguradora] }}</span>
                        </div>
                    </div>
                    <div class="col-lg-1 m-t-25 text-center">
                        <i class="fas fa-exclamation-triangle fa-2x text-danger" ng-show="quote.calculo.status == 'SEGURADORA_INATIVA'
                            || quote.calculo.status == 'VALIDACAO_SEGURADORA'
                            || quote.calculo.status == 'ERRO'
                            || quote.calculo.status == 'RESTRICAO'
                            || quote.calculo.status == 'LOGIN_INVALIDO'
                            || quote.calculo.status == 'SEGURADORA_INDISPONIVEL'
                            ">
                        </i>
                        <i class="fas fa-check fa-2x text-success" ng-show="quote.calculo.status == 'OK'">
                        </i>
                        <i class="fas fa-audio-description fa-2x" ng-show="quote.calculo.status == 'PRODUTO_ADICIONAL'">
                        </i>
                        <div class="row" ng-show="quote.calculo.status == 'PRODUTO_ADICIONAL'">
                            <small>Produto Adicional</small>
                        </div>
                    </div>
                    <div class="col-lg-3 m-t-25" ng-show="quote.calculo.status == 'OK' || quote.calculo.status == 'PRODUTO_ADICIONAL'">
                        <span>{{ quote.calculo.veiculo }}</span><br>
                        <strong>{{ quote.calculo.produto }}</strong>
                    </div>
                    <div class="col-lg-8 m-t-25" ng-show="quote.calculo.status == 'SEGURADORA_INATIVA' || quote.calculo.status == 'VALIDACAO_SEGURADORA' || quote.calculo.status == 'ERRO' || quote.calculo.status == 'RESTRICAO' || quote.calculo.status == 'LOGIN_INVALIDO' || quote.calculo.status == 'SEGURADORA_INDISPONIVEL'">
                        <div class="col-lg-12" ng-repeat="message in quote.calculo.mensagem">
                            <div class="row">
                                <span>{{ message || 'Seguradora não retornou detalhes' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 m-t-20" ng-show="quote.calculo.status == 'OK' || quote.calculo.status == 'PRODUTO_ADICIONAL'">
                        <strong>DM: </strong><span>{{ quote.calculo.danos_materiais || 0 | currency:value="" }}</span><br>
                        <strong>DC: </strong><span>{{ quote.calculo.danos_corporais || 0 | currency:value="" }}</span><br>
                        <strong>DMO: </strong><span>{{ quote.calculo.danos_morais || 0 | currency:value="" }}</span><br>
                    </div>
                    <div class="col-lg-3 m-t-20" ng-show="quote.calculo.status == 'OK' || quote.calculo.status == 'PRODUTO_ADICIONAL'">
                        <div>
                            <i class="fas fa-glass-martini"></i>&nbsp;<span>{{ quote.calculo.vidros }}</span>
                        </div>
                        <div>
                            <i class="fas fa-wrench"></i>&nbsp;<span>{{ quote.calculo.assistencia }}</span>
                        </div>
                        <div>
                            <i class="fas fa-car"></i>&nbsp;<span>{{ quote.calculo.carro_reserva }}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 m-t-10" ng-show="quote.calculo.status == 'OK' || quote.calculo.status == 'PRODUTO_ADICIONAL'">
                        <div class="row">
                            <span class="small-price">{{ quote.calculo.valor | currency:value="" }}</span>
                        </div>
                        <div class="row">
                            <strong>Franquia: </strong><span>{{ quote.calculo.franquia | currency:value="" }}</span>
                        </div>
                        <div class="row m-t-10">
                            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#customerModal" ng-click="setModalInfo(quote)" ng-show="(quote.calculo.valor_parcelado | keylength)
                                || quote.calculo.mensagem_ajuste.length
                                || quote.calculo.mensagem.length">DETALHES
                            </a>
                            <button class="btn btn-warning btn-xs" ng-click="accept(quote)" ng-if="quotation.status != 'accepted' && quotation.status != 'canceled'">ESCOLHER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade customer-modal" tabindex="-1" role="dialog" id="customerModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Detalhes da Cotação</h3>
                </div>
                <div class="modal-body modal-padding">
                    <div class="row">
                        <div class="col-lg-1">
                            <img ng-src="../img/seguradoras/{{ modalInfo.calculo.seguradora }}.png" title="{{ insurerDictionary['modalInfo.calculo.seguradora'] }}">
                        </div>
                        <div class="col-lg-3">
                            <h4>{{ insurerDictionary[modalInfo.calculo.seguradora] }}</h4>
                        </div>
                        <hr>
                    </div>
                    <div class="row m-t-35">
                        <h4>Parcelamento</h4>

                        <div class="col-lg-3 m-t-20" ng-repeat="(key, value) in modalInfo.calculo.valor_parcelado">
                            <strong>{{ capitalize(key) }}</strong>
                            <div ng-repeat="(keyInner, valueInner) in modalInfo.calculo.valor_parcelado[key]">
                                <span>{{ keyInner }}&nbsp;R$ {{ valueInner }}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-t-35">
                        <h4>Ajustes</h4>

                        <div class="col-lg-12" ng-repeat="adjust in modalInfo.calculo.mensagem_ajuste">
                            <div class="row">
                                <span>{{ adjust }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-35">
                        <h4>Mensagens da Seguradora</h4>

                        <div class="col-lg-12" ng-repeat="message in modalInfo.calculo.mensagem">
                            <div class="row">
                                <span>{{ message }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../local_modules/sails-socket/sails.io.js"></script>
