<div id="page-content-wrapper">
    <div class="container-fluid m-l-17">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <h1 class="section-title">Cotação de Equipamento</h1>
                    <h3 class="section-subtitle" ng-show="quotation.status != 'canceled'">Descreva conforme a sua necessidade de
                        cotação</h3>
                    <h4 class="text-danger" ng-if="quotation.status == 'canceled'">Esta cotação foi cancelada</h4>
                    <div ng-if="quotation.status == 'pre-quotation'">
                        <h4 class="text-warning">Esta cotação está aguardando resolução</h4>
                    </div>
                    <div ng-if="quotation.status == 'quoted'">
                        <h4 class="text-info">Cotação Concluída</h4>
                    </div>
                    <div ng-if="quotation.status == 'accepted'">
                        <h4 class="text-success">Cotação Aceita</h4>
                    </div>
                    <span class="text-muted" ng-if="quotation.status"><Strong>Identificador:
                            </Strong>{{ quotation.hash }}</span>
                    <div class="col-lg-12 m-t-20">
                        <direct-messages quotation="quotation" ng-if="quotation.message"></direct-messages>
                    </div>
                </div>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div ng-if="!loading">
            <div class="row" ng-repeat="quote in quotation.info">
                <div class="col-lg-12 m-t-20" ng-if="!loading && quotation.status === 'quoted'">
                    <h1 class="section-title">Valores da Cotação</h1>
                    <div class="col-lg-12" >
                        <hr>
                        <div class="col-lg-4 m-t-10">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <h3 class="section-subtitle">Seguradora: </h3>
                                        <span class="small-value pull-left"><strong>{{ capitalize(quote.insurer) }}</strong></span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <h3 class="section-subtitle">Preço: </h3>
                                        <span class="small-value pull-left"><strong>{{ quote.price | currency }}</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <h3 class="section-subtitle">Observações: </h3>
                                        <span class="small-value pull-left"><strong>{{ quote.obs }}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Arquivos</label>
                            <div ng-repeat="doc in quote.files track by $index" class="m-t-20">
                                <div class="col-lg-12 m-t-10">
                                    <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}"
                                    target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button
                                        class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)"
                                        ng-if="!quotation.status"> X</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Selecionar esta opção</label>
                            <button class="btn btn-info btn-block btn-lg" ng-click="accept(quote)">Selecionar</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" ng-show="!loading"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-b-20 m-t-20" ng-show="!loading">
                    <h4><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;Vigência</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Data Início *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.start_term"
                                    ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('start_term')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4">
                        <label>Data Final *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.end_term"
                                    ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('end_term')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Tipo</h4>
                    <hr>
                    <div class="col-lg-4">
                        <label>Tipo de Equipamento</label>
                        <select class="form-control input-lg"
                                ng-disabled="quotation.status && quotation.status != 'pre-quotation'"
                                ng-model="quotation.equipment_type">
                            <option value="agro">Agrícola</option>
                            <option value="construcao">Construção</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingFields('renovation_previous_bonus')">Campo obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-user-check"></i> &nbsp;&nbsp;Dados do Cliente</h4>
                    <hr>
                    <div class="form-group">
                        <div class="col-lg-12 m-t-5" ng-show="!loadingCustomer">
                            <a class="btn btn-success btn-new" data-toggle="modal" data-target="#customerModal"
                            ng-show="!chooseCustomer && (!quotation.status || quotation.status == 'pre-quotation')"><i
                                    class="fas fa-plus-circle"></i>&nbsp; NOVO</a> &nbsp;
                            <button class="btn btn-warning"
                                    ng-show="customerSnapshot.id && !chooseCustomer && (quotation.status && quotation.status == 'pre-quotation')"
                                    ng-click="enableCustomerSearch()">Trocar cliente</button>
                            <button class="btn btn-info btn-choose-file"
                                    ng-show="!chooseCustomer && !customerSnapshot.id" ng-click="enableCustomerSearch()"><i
                                    class="fas fa-plus-circle"></i>&nbsp;Escolher um cliente</button>
                            <choose-customer></choose-customer>
                        </div>
                    </div>
                    <span class="text-danger m-t-20" ng-if="isMissingFields('customerId')">Escolha um cliente</span>
                    <div class="col-lg-12 m-t-20 m-b-20" ng-show="loadingCustomer">
                        <vencorr-loading ng-model="loadingCustomer"></vencorr-loading>
                    </div>
                    <customer-display></customer-display>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-50">
                    <h4><i class="fas fa-tools"></i> &nbsp;&nbsp;Adicionar Equipamentos</h4>
                    <hr>
                    <a href="" ng-if="!quotation.status || (quotation.status && quotation.status == 'pre-quotation')"
                    data-toggle="modal" ng-click="clearCurrentEquipment()" data-target="#addEquipmentModal">+ adicionar
                        equipamento</a>
                    <div class="m-t-20" ng-show="!quotation.equipments.length">
                        <label>Nenhum equipamento adicionado</label>
                    </div>
                    <table class="table m-t-50" ng-if="quotation.equipments.length">
                        <tr>
                            <th width="200">Descrição</th>
                            <th width="80">Valor</th>
                            <th width="80">Finan.</th>
                            <th width="80">Util. Terc.</th>
                            <th width="300">Coberturas</th>
                            <th width="300">Ações</th>
                        </tr>
                        <tr ng-repeat="equipment in quotation.equipments track by $index">
                            <td>
                                <span>{{ equipment.model_description }}</span>
                            </td>
                            <td>
                                <span>{{ equipment.price | currency }}</span>
                            </td>
                            <td>
                                <span>{{ capitalize(equipment.financed) }}</span>
                            </td>
                            <td>
                                <span>{{ capitalize(equipment.third_party_use) }}</span>
                            </td>
                            <td>
                                <span>{{ equipment.coverageDescription }}</span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-danger"
                                ng-if="!quotation.status || (quotation.status && quotation.status == 'pre-quotation')"
                                title="Remover Item" ng-click="removeItem($index, equipment)"><i
                                        class="fas fa-trash-alt"></i></a>
                                <a class="btn btn-sm btn-info"
                                ng-if="!quotation.status || (quotation.status && quotation.status == 'pre-quotation')"
                                title="Duplicar Item" ng-click="duplicateItem(equipment)"><i
                                        class="fas fa-copy"></i></a>
                                <a class="btn btn-sm btn-warning"
                                ng-if="!quotation.status || (quotation.status && quotation.status == 'pre-quotation')"
                                title="Editar Item" ng-click="editItem($index, equipment)"><i
                                        class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 m-t-50">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Informações Adicionais</h4>
                    <hr>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Observações</label>
                            <textarea class="form-control"
                                    ng-disabled="quotation.status && quotation.status != 'pre-quotation'"
                                    ng-model="quotation.obs" cols="30" rows="5"
                                    placeholder="Digite aqui informações complementares, se existirem."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-paper-plane"></i> &nbsp;&nbsp;Auto Envio</h4>
                    <hr>
                    <label>Esta opção se ativada, o cliente recebe uma cópia da cotação por email com os valores e
                        detalhes</label>
                    <br><br>
                    <label class="switch">
                        <input type="checkbox" ng-model="quotation.auto_flow"
                            ng-disabled="quotation.status && quotation.status != 'pre-quotation'">
                        <span class="slider round"></span>
                    </label>
                    <span class="block-it info-text" ng-if="quotation.auto_flow">Ativado</span>
                    <span class="block-it info-text" ng-if="!quotation.auto_flow">Desativado</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Documentos <strong
                            ng-show="quotation.files.length">({{ quotation.files.length }})</strong></h4>
                    <hr>
                    <!-- Upload -->
                    <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="*/*"
                            ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                    </button>
                    <button class="btn btn-success btn-add-doc" ng-click="triggerUpload('radio')"
                            ng-if="!quotation.status || quotation.status == 'pre-quotation'"><i
                            class="fas fa-plus-circle"></i>&nbsp; Adicionar Documento</button>
                    <div ng-show="uploadingFiles.length" ng-hide="hideProgressBars" class="m-t-20">
                        <span ng-repeat="f in uploadingFiles track by $index" style="font-size:smaller">{{f.name}}
                            {{f.$errorParam}}
                            <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">
                                Carregando... {{f.progress}}%</uib-progressbar>
                        </span>
                        <span ng-repeat="f in errFiles" style="font-size:smaller">{{f.name}} {{f.$error}}
                            {{f.$errorParam}}</span>
                    </div>
                    <div ng-repeat="doc in quotation.files track by $index" class="m-t-50">
                        <div class="col-lg-12 m-t-10">
                            <a class="min-w-100 inline-it btn btn-see-files" ng-href="{{ doc.url }}"
                            target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button
                                class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)"
                                ng-if="!quotation.status || quotation.status == 'pre-quotation'"> X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-20 m-b-20">
                <div class="col-lg-12 m-t-20 m-b-20">
                    <div class="pull-left">
                        <a class="btn btn-default btn-back" href="/cotar-seguimento">Voltar</a>
                        <button class="btn btn-success btn-save" ng-if="!isEdit" ng-click="checkRequiredInfo(quotation)">Salvar</button>
                        <button class="btn btn-info btn-save" ng-if="isEdit && quotation.status == 'pre-quotation'" ng-click="updateQuotation()">Atualizar</button>
                        <button class="btn btn-danger btn-lg btn-page-action" ng-if="isEdit && (quotation.status !== 'canceled' && quotation.status != 'accepted')" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="addEquipmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-tools"></i> &nbsp;&nbsp;Informações do Equipamento</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 m-t-20">
                    <div class="col-lg-8 m-t-20" ng-if="currentEquipment.uuid">
                        <label>Identificador</label><br>
                        <label class="text-info">{{ currentEquipment.uuid }}</label>
                    </div>
                    <div class="col-lg-8 m-t-20">
                        <label>Marca, modelo e ano *</label>
                        <input class="form-control input-lg" placeholder="JOHN DEERE - 6100J, 2020"
                               ng-model="currentEquipment.model_description">
                        <span class="text-danger m-t-20" ng-if="isMissingFieldsModal('model_description')">Campo
                            obrigatório</span>
                    </div>
                    <div class="col-lg-8 m-t-20">
                        <label>Preço *</label>
                        <input ng-model="currentEquipment.price"
                               ng-blur="copyPriceBasicCoverage(currentEquipment.price)" class="form-control input-lg"
                               ui-money-mask="mdecimal">
                        <span class="text-danger m-t-20" ng-if="isMissingFieldsModal('price')">Campo
                            obrigatório</span>
                    </div>
                    <div class="col-lg-8 m-t-20">
                        <label>É financiamento?</label>
                        <div class="col-lg-8 m-t-20">
                            <label class="radio-container"> Sim
                                <input type="radio" name="financed" value="sim"
                                       ng-model="currentEquipment.financed">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container"> Não
                                <input type="radio" name="financed" value="nao"
                                       ng-model="currentEquipment.financed">
                                <span class="checkmark"></span>
                            </label>
                            <span class="text-danger m-t-20" ng-if="isMissingFieldsModal('financed')">Campo
                                obrigatório</span>
                        </div>
                    </div>
                    <div class="col-lg-8 m-t-20">
                        <label>Locação/Utilização por terceiros?</label>
                        <div class="col-lg-8 m-t-20">
                            <label class="radio-container"> Sim
                                <input type="radio" name="third_party_use" value="sim"
                                       ng-model="currentEquipment.third_party_use">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container"> Não
                                <input type="radio" name="third_party_use" value="nao"
                                       ng-model="currentEquipment.third_party_use">
                                <span class="checkmark"></span>
                            </label>
                            <span class="text-danger m-t-20" ng-if="isMissingFieldsModal('third_party_use')">Campo
                                obrigatório</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 m-t-20">
                    <label>Coberturas</label><br>
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Contratar</th>
                            <th>LMI/R$</th>
                        </tr>
                        <tr ng-repeat="coverage in currentEquipment.coverages">
                            <td>
                                <span
                                        ng-class="{ 'text-success': coverage.status }">{{ coverage.name }}</span>&nbsp;&nbsp;
                                <button ng-if="coverage.name == 'Básica'" popover-trigger="'mouseenter'"
                                        uib-popover="{{ dynamicPopover.basic.content }}"
                                        popover-title="{{ dynamicPopover.basic.title }}" class="info-popup-trigger">
                                    ?
                                </button>
                            </td>
                            <td>
                                <input ng-model="coverage.status" ng-change="clearValueLmi(coverage)"
                                       type="checkbox" class="form-check-input" style="transform: scale(1.5);">
                            </td>
                            <td>
                                <input ng-disabled="!coverage.status" ng-model="coverage.lmi" class="form-control"
                                       ui-money-mask="mdecimal">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-back" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success btn-save" ng-click="addEquipment(currentEquipment)"
                        ng-show="!currentEquipment.uuid">Salvar</button>
                <button type="button" class="btn btn-info btn-save" ng-click="addEquipment(currentEquipment)"
                        ng-show="currentEquipment.uuid">Atualizar</button>
            </div>
        </div>
    </div>
</div>
<customer-modal></customer-modal>
