<div id="page-content-wrapper">
    <div class="container-fluid m-l-17">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <h1 class="section-title">Cotação Residencial</h1>
                    <h3 class="section-subtitle" ng-show="quotation.status != 'canceled'">Descreva conforme a sua necessidade de cotação</h3>
                    <h4 class="text-danger" ng-if="quotation.status == 'canceled'">Esta cotação foi cancelada</h4>
                    <div ng-if="quotation.status == 'pre-quotation'">
                        <h4 class="text-warning">Esta cotação está aguardando resolução</h4>
                    </div>
                    <div ng-if="quotation.status == 'quoted'">
                        <h4 class="text-info">Cotação Concluída</h4>
                    </div>
                    <div ng-if="quotation.status == 'accepted'">
                        <h4 class="text-success">Cotação Aceita</h4>
                    </div>
                    <span class="text-muted" ng-if="quotation.status"><Strong>Identificador: </Strong>{{ quotation.hash }}</span>
                    <div class="col-lg-12 m-t-20">
                        <direct-messages quotation="quotation"></direct-messages>
                    </div>
                </div>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div ng-if="!loading">
            <div class="row m-t-20" ng-if="!loading && quotation.status === 'accepted'">
                <div class="col-lg-12">
                    <h1 class="section-title">Cotação Escolhida</h1>
                    <hr>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <h3 class="section-subtitle">Seguradora: </h3>
                            <span class="small-value pull-left"><strong>{{ capitalize(acceptedQuote.insurer) }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <h3 class="section-subtitle">Preço: </h3>
                            <span class="small-value pull-left"><strong>{{ acceptedQuote.price | currency }}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Arquivos</label>
                        <div ng-repeat="doc in acceptedQuote.files track by $index" class="m-t-20">
                            <div class="col-lg-12 m-t-10">
                                <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="input-group">
                        <h3 class="section-subtitle">Observações: </h3>
                        <span class="small-value pull-left"><strong>{{ acceptedQuote.obs }}</span>
                    </div>
                </div>
                <hr>
            </div>
            <!-- Resolved Quotations -->
            <div class="row m-t-20" ng-if="!loading && quotation.status === 'quoted'">
                <h1 class="section-title">Valores da Cotação</h1>
                <div class="col-lg-12" ng-repeat="quote in quotation.info">
                    <hr>
                    <div class="col-lg-4 m-t-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <h3 class="section-subtitle">Seguradora: </h3>
                                    <span class="small-value pull-left"><strong>{{ capitalize(quote.insurer) }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <h3 class="section-subtitle">Preço: </h3>
                                    <span class="small-value pull-left"><strong>{{ quote.price | currency }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <h3 class="section-subtitle">Observações: </h3>
                                <span class="small-value pull-left"><strong>{{ quote.obs }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Arquivos</label>
                        <div ng-repeat="doc in quote.files track by $index" class="m-t-20">
                            <div class="m-t-10">
                                <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Selecionar esta opção</label>
                        <button class="btn btn-info btn-block btn-lg" ng-click="accept(quote)">Selecionar</button>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row m-t-20">
            <!-- VIGENCIA -->
            <div class="col-lg-12 m-b-20 m-t-20" ng-show="!loading">
                <h4><i class="fas fa-calendar-alt"></i> &nbsp;&nbsp;Vigência</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Data Início *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.start_term" ng-disabled="quotation.status">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('start_term')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4">
                        <label>Data Final *</label>
                        <div class="input-group">
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control input-lg" ng-model="quotation.end_term" ng-disabled="quotation.status">
                            </datepicker>
                        </div>
                        <span class="text-danger" ng-if="isMissingFields('end_term')">Campo obrigatório</span>
                    </div>
                </div>
            </div>   
            <!---->
            <!-- TIPO DO SEGURO -->
            <div class="col-lg-12 form-group">
                <h4><i class="fas fa-question-circle"></i> &nbsp;&nbsp;Tipo de Seguro</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <label>Seguradora atual *</label>
                        <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation" ng-change="clearRenovationValues()">
                            <option value="novo">Novo</option>
                            <option value="ace">ACE SEGURADORA S.A.</option>
                            <option value="aig">AIG SEGUROS BRASIL</option>
                            <option value="alfa">ALFA SEGURADORA S/A</option>
                            <option value="liberty">ALIRO SEGUROS</option>
                            <option value="allianz">ALLIANZ SEGUROS</option>
                            <option value="azul">AZUL COMPANHIA DE SEGUROS GERAIS</option>
                            <option value="banestes">BANESTES SEGUROS S/A</option>
                            <option value="bradesco">BRADESCO AUTO/RE CIA DE SEGUROS</option>
                            <option value="brasil">BRASIL VEICULOS COMPANHIA DE SEGUROS</option>
                            <option value="caixa">CAIXA SEGURADORA S.A</option>
                            <option value="chubb">CHUBB DO BRASIL CIA DE SEGUROS</option>
                            <option value="mutual">CIA MUTUAL DE SEGUROS</option>
                            <option value="cofianca">CONFIANCA CIA DE SEGUROS</option>
                            <option value="generali">GENERALI DO BRASIL CIA NACIONAL DE SEGS</option>
                            <option value="suhai">GRUPO SUHAI SEGUROS</option>
                            <option value="hdi">HDI SEGUROS S/A</option>
                            <option value="indiana">INDIANA SEGUROS SA</option>
                            <option value="itau">ISAR ITAU SEGUROS DE AUTO E RESIDENCIA</option>
                            <option value="liberty">LIBERTY PAULISTA SEGUROS SA</option>
                            <option value="mapfre">MAPFRE VERA CRUZ SEGURADORA S/A</option>
                            <option value="mitsui">MITSUI SUMITOMO SEGUROS S/A</option>
                            <option value="nobre">NOBRE SEGURADORA DO BRASIL</option>
                            <option value="porto">PORTO SEGURO S.A</option>
                            <option value="rsa">RSA SEGUROS</option>
                            <option value="sancor">SANCOR SEGUROS DO BRASIL S.A.</option>
                            <option value="sompo">SOMPO SEGUROS</option>
                            <option value="sul america cia nacional">SUL AMERICA CIA NACIONAL SEGUROS</option>
                            <option value="tokio">TOKIO MARINE SEGURADORA S.A</option>
                            <option value="zurich">ZURICH BRASIL SEGUROS S/A</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-if="quotation.renovation !== 'novo'">
                    <div class="col-lg-4 m-t-20">
                        <label>Classe de Bônus anterior *</label>
                        <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_anterior.content }}"
                            popover-title="{{ dynamicPopover.bonus_anterior.title }}" class="info-popup-trigger">
                            ?
                        </button>
                        <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_previous_bonus">
                            <option value="">-- Selecione --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingFields('renovation_previous_bonus')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Classe de Bônus Futura *</label>
                        <button popover-trigger="'mouseenter'" uib-popover="{{ dynamicPopover.bonus_futura.content }}"
                            popover-title="{{ dynamicPopover.bonus_futura.title }}" class="info-popup-trigger">
                            ?
                        </button>
                        <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_future_bonus">
                            <option value="">-- Selecione --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="text-danger" ng-if="isMissingFields('renovation_future_bonus')">Campo obrigatório</span>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Quantidade de sinistros *</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_occurrences" maxlength="3" ui-number-mask="0" ui-hide-group-sep>
                        <span class="text-danger" ng-if="isMissingFields('renovation_occurrences')">Campo obrigatório</span>
                    </div>
                </div>
                <div class="row" ng-if="quotation.renovation !== 'novo'">
                    <div class="col-lg-4 m-t-20">
                        <label>Data Final da Apólice Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_final_policy_date" ui-date-mask>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>Número da Apólice Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_current_policy_date">
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <label>C.I Vigente</label>
                        <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.renovation_current_ci">
                    </div>
                </div>
            </div>
            <!---->
            <!-- CLIENTE -->
            <div class="col-lg-12 m-t-20">
                <h4><i class="fas fa-user-check"></i> &nbsp;&nbsp;Dados do Cliente</h4>
                <hr>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-12 m-t-5" ng-show="!loadingCustomer">
                            <a class="btn btn-success btn-add-doc" data-toggle="modal" data-target="#customerModal" ng-show="!chooseCustomer && !quotation.status"><i class="fas fa-plus-circle"></i>&nbsp; Cadastrar Novo</a>
                            &nbsp;
                            <button class="btn btn-warning" ng-show="customerSnapshot.id && !chooseCustomer && !quotation.status" ng-click="enableCustomerSearch()">Trocar cliente</button>
                            <button class="btn btn-info btn-choose-file" ng-show="!chooseCustomer && !customerSnapshot.id" ng-click="enableCustomerSearch()"><i class="fas fa-plus-circle"></i>&nbsp;Escolher um cliente</button>
                            <choose-customer></choose-customer>
                        </div>
                    </div>
                    <span class="text-danger" ng-if="isMissingFields('customerId')">Escolha um cliente</span>
                    <div class="col-lg-12 m-t-20 m-b-20" ng-show="loadingCustomer">
                        <vencorr-loading ng-model="loadingCustomer"></vencorr-loading>
                    </div>
                </div>
                <customer-display></customer-display>                
            </div>
            <!---->
            <!-- DADOS DO IMOVEL -->
            <div class="col-lg-12 m-t-20">
                <h4><i class="fas fa-home"></i> &nbsp;&nbsp;Dados do imóvel</h4>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>CEP *</label>&nbsp; <span class="text-info" ng-show="cepLoading">Carregando CEP...</span>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_cep" ng-disabled="cepLoading" ng-blur="getAddressByCepProperty(quotation.property_cep)" ui-br-cep-mask>
                            <a class="cpointer" ng-click="useCustomerAddress(customerSnapshot.cep)" ng-show="customerSnapshot.cep">Usar o endereço do segurado</a>
                            <span class="text-danger" ng-if="isMissingFields('property_cep')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Tipo de logradouro *</label>
                            <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_type" required>
                                <option value="">- Selecione -</option>
                                <option ng-repeat="type in residenceTypes" ng-value="type.value">{{ type.name }}</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingFields('property_type')">Campo obrigatório</span>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <label>Logradouro *</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_address">
                            <span class="text-danger" ng-if="isMissingFields('property_address')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Número</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_number" ui-number-mask="0">
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <label>Bairro *</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_neighborhood">
                            <span class="text-danger" ng-if="isMissingFields('property_neighborhood')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Complemento</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_complement">
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-6">
                            <label>Cidade *</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_city">
                            <span class="text-danger" ng-if="isMissingFields('property_city')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Estado *</label>
                            <input class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_state">
                            <span class="text-danger" ng-if="isMissingFields('property_state')">Campo obrigatório</span>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col-lg-4">
                            <label>Segmento *</label>
                            <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_segment">
                                <option value="">- Selecione -</option>
                                <option value="casa">Casa</option>
                                <option value="apartamento">Apartamento</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingFields('property_segment')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-4">
                            <label>Tipo de construção *</label>
                            <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_material">
                                <option value="">- Selecione -</option>
                                <option value="alvenaria">Alvenaria</option>
                                <option value="madeira">Madeira</option>
                                <option value="mista">Mista</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingFields('property_material')">Campo obrigatório</span>
                        </div>
                        <div class="col-lg-4">
                            <label>Tipo de residência *</label>
                            <select class="form-control input-lg" ng-disabled="quotation.status" ng-model="quotation.property_construction_type">
                                <option value="">- Selecione -</option>
                                <option value="habitual">Habitual</option>
                                <option value="veraneiro">Veraneiro</option>
                            </select>
                            <span class="text-danger" ng-if="isMissingFields('property_construction_type')">Campo obrigatório</span>
                        </div>
                    </div>
                </div>          
            </div>
            <!---->
            <!-- INFORMAÇÕES ADICIONAIS -->
            <div class="col-lg-12 m-t-20">
                <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Informações Adicionais</h4>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Observações</label>
                            <textarea class="form-control" ng-disabled="quotation.status" ng-model="quotation.obs" cols="30" rows="5" placeholder="Digite aqui informações complementares, se existirem."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-lg-12 m-t-20">
                <h4><i class="fas fa-paper-plane"></i> &nbsp;&nbsp;Auto Envio</h4>
                <hr>
                <label>Esta opção se ativada, o cliente recebe uma cópia da cotação por email com os valores e detalhes</label>
                <br><br>
                <label class="switch">
                    <input type="checkbox" ng-model="quotation.auto_flow" ng-disabled="quotation.status">
                    <span class="slider round"></span>
                </label>
                <span class="block-it info-text" ng-if="quotation.auto_flow">Ativado</span>
                <span class="block-it info-text" ng-if="!quotation.auto_flow">Desativado</span>
            </div>
            <!-- DOCUMENTOS -->
            <div class="col-lg-12 m-t-20">
                <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Documentos <strong ng-show="quotation.files.length">({{ quotation.files.length }})</strong></h4>
                <hr>
                <!-- Upload -->
                <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                    accept="*/*" ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                </button>
                
                <button class="btn btn-success btn-add-doc" ng-click="triggerUpload('radio')" ng-if="!quotation.status"><i class="fas fa-plus-circle"></i>&nbsp; Adicionar Documento</button>
                <div ng-show="uploadingFiles.length" ng-hide="hideProgressBars" class="m-t-20">
                    <span ng-repeat="f in uploadingFiles track by $index" style="font:smaller">{{f.name}} {{f.$errorParam}}
                        <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">Carregando... {{f.progress}}%</uib-progressbar>
                    </span>
                    <span ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</span> 
                </div>

                <div ng-repeat="doc in quotation.files track by $index" class="m-t-50">
                    <div class="col-lg-12 m-t-10">
                        <a class="min-w-100 inline-it btn btn-sm btn-success" ng-href="{{ doc.url }}" target="_blank">Ver {{ doc.label }}</a>&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger text-info" ng-click="removeDoc(doc.url)" ng-if="!quotation.status"> X</button>
                    </div>
                </div>
            </div>
            <!---->
            <!-- SALVAR -->
            <div class="col-lg-12 m-t-20 m-b-20">
                <div class="pull-left">
                    <a class="btn btn-default btn-back" href="/cotar-seguimento">Voltar</a>
                    <button class="btn btn-success btn-save" ng-if="!isEdit" ng-click="checkRequiredInfo(quotation)">Salvar</button>
                    <button class="btn btn-danger btn-cancel" ng-if="isEdit && (quotation.status !== 'canceled' && quotation.status != 'accepted')" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
            <!---->
        </div>
    </div>
    </div>
</div>

<customer-modal></customer-modal>
