<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Cotações</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-lg-12">
                <a class="btn btn-success btn-new" href="/cotar-seguimento"><i class="fas fa-plus"></i>&nbsp; Adicionar</a>
            </div>
        </div>
        <div class="row space-above">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <span class="form-info"><i class="fas fa-filter"></i> Filtrar por:</span>
                </div>
                <div class="col-lg-3">
                    <select ng-model="filterOption" class="form-control" ng-change="filter()">
                        <option value="item">Item</option>
                        <option value="all">Todas</option>
                        <option value="segment_type">Seguimento</option>
                        <option value="open">Abertas</option>
                        <option value="closed">Aceitas</option>
                        <option value="pricegt">Prêmio maior que</option>
                        <option value="pricelt">Prêmio menor que</option>
                        <option value="name">Nome do Cliente</option>
                        <option value="date">Data</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-20">
                <div class="col-lg-3" ng-show="filterOption == 'name'" ng-enter="filter()" ng-model="search">
                    <span class="form-info pull-left"><i class="fas fa-filter"></i> Nome do Cliente:</span>
                </div>
                <div class="col-lg-3 m-r-20">
                    <input class="input-select form-control" ng-show="filterOption == 'name'" placeholder="Digite a busca" ng-enter="filter()" ng-model="search">
                </div>
                <div class="col-lg-3" ng-show="filterOption == 'name' || filterOption == 'segment_type'">
                    <button class="btn btn-success btn-search" ng-show="filterOption == 'name'" ng-click="filter()">Pesquisar</button>
                    <button class="btn btn-default btn-back" ng-show="filterOption == 'name'" ng-click="clear()">Limpar</button>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'date'">
                <div class="col-lg-3">
                    <span class="form-info pull-left"><i class="fas fa-filter"></i> Data de Recebimento:</span>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">De</span>
                        <datepicker date-format="dd/MM/yyyy">
                            <input class="form-control" ng-model="startDate" ng-change="list()" />
                        </datepicker>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">Até</span>
                        <datepicker date-format="dd/MM/yyyy">
                            <input class="form-control" ng-model="endDate" ng-change="list()" />
                        </datepicker>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" ng-show="filterOption === 'date'">
                <div class="col-lg-12 m-t-20 m-l-20">
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('yesterday')">Ontem</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('today')">Hoje</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('week')">Esta semana</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastWeek')">Semana passada</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('month')">Este mês</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastMonth')">Mês passado</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('nextMonth')">Mês que vem</button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3" ng-show="filterOption === 'pricegt' || filterOption === 'pricelt'">
                    <span class="form-info"><i class="fas fa-filter"></i> Preço:</span>
                </div>
                <div class="col-lg-3" ng-show="filterOption === 'pricegt' || filterOption === 'pricelt'">
                    <input class="form-control" ui-money-mask="mdecimal" ng-model-options="{ invalid: false }" placeholder="Preço" ng-enter="filter()" ng-model="search">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3" ng-show="filterOption == 'segment_type'">
                    <span class="form-info"><i class="fas fa-filter"></i> Seguimento:</span>
                </div>
                <div class="col-lg-3" ng-show="filterOption == 'segment_type'">
                    <select ng-model="segmentFilter" class="input-select form-control" ng-change="filter()">
                        <option value="auto">Auto</option>
                        <option value="residencial">Residencial</option>
                        <option value="empresarial">Empresarial</option>
                        <option value="outras">Outras</option>
                        <option value="equipamento">Equipamento</option>
                    </select>
                </div>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div class="row m-t-50" ng-if="!loading && quotations.length">
            <div class="col-lg-12">
                <div class="quotation-card cpointer" ng-class="{'quotation-card-accepted': quotation.status === 'accepted', 'quotation-card-canceled': quotation.status === 'canceled' }" ng-repeat="quotation in quotations track by $index">
                    <div class="col-lg-12" ng-click="goToQuotationDetails(quotation, $event)">
                        <span>{{ quotation.updated_at | date: "dd/MM/yyyy HH:mm" }}</span>
                        <!-- Data -->
                        <span>{{ quotation.segmentTypeDisplay }}</span>
                        <!-- Seguimento -->
                        <span ng-if="quotation.premium">{{ quotation.premium | currency }}</span>
                        <!-- Premio -->

                        <!-- Status -->
                        <span ng-if="quotation.segment_type == 'empresarial' && quotation.status == 'draft'">Rascunho...</span>
                        <span ng-if="quotation.status == 'pre-quotation'">Aguardando...</span>
                        <span ng-if="quotation.status == 'quoted'">Cotado</span>
                        <span ng-if="quotation.status == 'accepted'">Aceita</span>
                        <span ng-if="quotation.status == 'canceled'">Cancelada</span>
                        <!---->

                        <!-- Items -->
                        <span ng-if="quotation.segment_type == 'empresarial' || quotation.segment_type == 'outras'">--</span>
                        <span ng-if="quotation.segment_type == 'auto' || quotation.segment_type == 'residencial'">{{ quotation.items | limitTo: 13 }}...</span>
                        <span ng-if="quotation.segment_type === 'agro' && quotation.itemsList.length == 1">{{ quotation.itemsList[0].title | limitTo: 22 }}</span>
                        <span ng-if="quotation.segment_type === 'equipamento'">{{ quotation.itemsList | limitTo: 22 }}</span>
                        <span ng-if="quotation.segment_type === 'agro' && quotation.itemsList.length > 1">{{ quotation.itemsList[0].title | limitTo: 22 }} + {{ quotation.itemsJson.length -1 }}</span>
                        <!--Customer-->
                        <span>{{ quotation.customerName | limitTo: 10 }}...</span>

                        <span>
                        <direct-messages quotation="quotation" number="quotation.numberOfMessages"></direct-messages>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row alert alert-info col-lg-10 text-center m-t-100" ng-show="!quotations.length && !loading">Nenhuma Cotação Cadastrada</div>
    </div>
</div>
