<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Cotar</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-subtitle col-lg-7">Escolha o seguimento</h3>
            </div>
        </div>
        <div class="row col-lg-12 text-center m-t-35 m-l-17">
            <div ng-repeat="segment in segments">
                <a ng-href="{{ segment.url }}">
                    <div class="segment-card" ng-style="{'background-image':'url(' + segment.img + ')'}">
                        <span>{{ segment.description }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
