<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <h1 class="section-title">Cotação</h1>
            <h3 class="section-subtitle">Escolha a seguradora e realize a cotação em segundos</h3>
            <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="insurer-square"></div>
            </div>
            <div class="col-lg-2">
                <h3 class="title">Nº de Itens: {{ quotedItems.length || 0 }}</h3>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <h3 class="title">Vigência</h3>
                    <span class="medium-value pull-left"><strong>{{ startTerm }}</strong> até <strong>{{ endTerm }}</strong></span>
                    <div class="pull-left">
                        <div class="agenda-full-procedure-arrow up" ng-click="increaseYears(procedure)"></div>
                        <div class="agenda-full-procedure-arrow down" ng-click="reduceYears(procedure)"></div>
                    </div>
                </div>
                <div class="row">
                    <h3 class="title">Comissão / Combo</h3>
                    <select class="form-control" ng-model="comission" ng-disabled="quotedItems.length">
                        <option value="40%">Opção 1 - 24%</option>
                        <option value="35%">Opção 2 - 21%</option>
                        <option value="30%">Opção 3 - 18%</option>
                        <option value="25%">Opção 4 - 15%</option>
                        <option value="20%">Opção 5 - 12%</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success" ng-click="save()" ng-disabled="loading" ng-show="!isEdit && quotedItems.length">
                    <i class="fas fa-circle-notch fa-spin" ng-show="loading"></i>&nbsp;&nbsp;{{loading ? 'Salvando...' : 'SALVAR COTAÇÃO'}}
                </button>
                <button class="btn btn-info" ng-click="update()" ng-disabled="loading" ng-show="isEdit && quotedItems.length">
                    <i class="fas fa-circle-notch fa-spin" ng-show="loading"></i>&nbsp;&nbsp;{{loading ? 'Atualizando...' : 'ATUALIZAR COTAÇÃO'}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4><i class="fas fa-info-circle"></i></i> &nbsp;&nbsp;Informações do Item</h4><br>
                <div class="col-lg-8 form-group">
                    <label>Escolha o Item</label>
                    <select class="form-control" ng-model="quotedItem.id" ng-options="item.id as item.title for item in items"
                            ng-change="onSelectItem(quotedItem.id)">
                    </select>
                </div>
                <div ng-show="quotedItem.id">
                    <div class="col-lg-4 form-group">
                        <label>Preço *</label>
                        <input class="form-control" placeholder="R$ 100.000,00" ng-model="quotedItem.price"
                               id="itemPrice" ui-money-mask="mdecimal">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Marca</label>
                        <select class="form-control" ng-model="quotedItem.brand" ng-options="brand for brand in brands">
                            <option value="">SELECIONE</option>
                        </select>
                        <input class="form-control" placeholder="Digite a marca" ng-model="quotedItem.brandOthers" ng-show="quotedItem.brand == 'OUTROS'">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label>Chassis (opc)</label>
                        <input class="form-control" placeholder="A3349" ng-model="quotedItem.chassis">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Modelo</label>
                        <input class="form-control" placeholder="A3349" ng-model="quotedItem.model">
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Ano *</label>
                        <select class="form-control" ng-model="quotedItem.year">
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                        </select>
                    </div>
                </div>
                <div ng-show="quotedItem.price">
                    <div class="row col-lg-12">
                        <h4 ng-show="quotedItem.title"><i class="fas fa-lock"></i> &nbsp;&nbsp;Coberturas</h4><br>
                    </div>
                    <div class="col-lg-6 form-group" ng-show="selectedCoverages.length && quotedItem.title" ng-repeat="coverage in selectedCoverages track by $index">
                        <div class="col-lg-12 coverage-card">
                            <div class="col-lg-12 form-group">
                                <span class="coverage-name">{{ coverage.name }}</span>&nbsp;&nbsp;&nbsp;
                                <div class="row m-l-10">
                                    <button class="btn btn-sm btn-danger" ng-hide="coverage.name === 'Roubo/Furto'" ng-click="removeCoverage($index, coverage.name)"><i class="fas fa-trash-alt"></i> Remover</button>
                                    <button class="btn btn-sm btn-info" ng-show="quotedItem.price && (coverage.name === 'Roubo/Furto' || coverage.name === 'Danos Elétricos')" ng-click="suggestPrice($index, coverage.name)">Sugestão</button>
                                </div>
                            </div>
                            <div class="col-lg-7 form-group">
                                <label>LMI</label>
                                <input class="form-control" ng-model="coverage.lmi" ui-money-mask="mdecimal">
                            </div>
                            <div class="col-lg-5 form-group" ng-if="coverage.name !== 'Responsabilidade Civil'">
                                <label>Múltiplo</label>
                                <select class="form-control" ng-model="coverage.multiple">
                                    <option value="1">1x</option>
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                    <option value="5">5x</option>
                                    <option value="6">6x</option>
                                    <option value="7">7x</option>
                                    <option value="8">8x</option>
                                    <option value="9">9x</option>
                                    <option value="10">10x</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-lg btn-block" ng-show="quotedItem.title" ng-disabled="!quotedItem || !quotedItem.price || !quotedItem.year || !quotedItem.brand || (quotedItem.brand == 'OUTROS' && !quotedItem.brandOthers) || !comission || !quotedItem.model" ng-click="addItemToList()">Adicionar este item</button>
            </div>
            <div class="col-lg-4" ng-show="quotedItems.length">
                <h4><i class="fas fa-dolly"></i> &nbsp;&nbsp;Itens da Cotação</h4><br>
                <h4 class="text-muted" ng-show="!quotedItems.length">-- Adicione itens para cotação --</h4>
                <table class="table table-striped" ng-show="!loading && quotedItems.length">
                    <thead>
                    <tr>
                        <th width="10%">#</th>
                        <th width="40%">Item</th>
                        <th width="15%">Prêmio</th>
                        <th width="40%">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in quotedItems track by $index">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.title }} - <small>({{ item.chassis || 'sem chassis'}})</small></td>
                        <td><strong>{{ item.premium | currency }}</strong></td>
                        <td>
                            <a class="btn btn-sm btn-danger" ng-click="removeItem($index, item)"><i class="fas fa-trash-alt"></i></a>
                            <a class="btn btn-sm btn-info" ng-click="duplicateItem(item)"><i class="fas fa-copy"></i></a>
                            <a class="btn btn-sm btn-warning" ng-click="editItem($index, item)"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4 ng-show="quotedItem.title" class="clearfix">Coberturas Adicionais</h4><br>
            <div class="col-lg-12 form-group" ng-show="quotedItem.title">
                <a class="btn btn-success space-between" ng-disabled="!quotedItem.price" ng-click="selectCoverage(availableCoverage)" ng-repeat="availableCoverage in availableCoverages"><i class="fas fa-plus-circle"></i>&nbsp; {{ availableCoverage }}</a>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
    </div>
</div>
