<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="section-title">Proposta <small>{{ quotation.hash }}</small></h1>
        <div ng-show="quotation.bank_slip_url">
            <h4 class="text-success">Transmitida</h4>
        </div>
    </div>
    <hr class="m-b-20" />
    
    <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
    
    <div class="col-lg-9" ng-if="!loading">
        <button class="btn btn-success pull-right" ng-if="!loading && !quotation.queue.status" ng-click="edit()">Editar Cotação</button>
        <div class="col-lg-8">
            <div class="row">
                <h4><i class="fas fa-info-circle"></i> &nbsp;&nbsp;Informações da cotação</h4><br>
                <div class="col-lg-5">
                    <h3 class="section-subtitle">Vigência <small ng-if="quotation.term_type === 'annual'">Anual</small></h3>
                    <span class="small-value pull-left"><strong>{{ quotation.start_term }}</strong> até <strong>{{ quotation.end_term }}</strong></span>
                </div>
                <div class="col-lg-4">
                    <h3 class="section-subtitle">Combo / Comissão</h3>
                    <span class="small-value pull-left"><strong>{{ quotation.presentationalComission }}</strong></span>
                </div>
                <div class="col-lg-3">
                    <h3 class="section-subtitle">Seguradora / Seg</h3>
                    <span class="small-value pull-left"><strong>Sompo / {{ quotation.segment_type }}</strong></span>
                </div>
            </div>
            <div class="row m-t-20">
                <!-- <div class="col-lg-4">
                    <h3 class="section-subtitle">Compartilhar PDF</h3>
                    <div class="input-group" ng-show="loadingShare">
                        <i class="fas fa-circle-notch fa-spin" ng-show="loadingShare"></i>
                        &nbsp;&nbsp;<span>Enviando...</span>
                    </div>
                    <div class="input-group" ng-show="!loadingShare">
                        <input class="form-control" placeholder="email@email.com" ng-model="quotation.shareEmail">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-click="share()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3">
                    <h3 class="section-subtitle">Exportar Documento</h3>
                    <button class="btn btn-block btn-danger" ng-click="getPdf()" ng-disabled="loadingPDF">
                        <i class="fas fa-circle-notch fa-spin" ng-show="loadingPDF"></i>&nbsp;&nbsp;{{loadingPDF ? 'Aguarde...' : 'PDF'}}
                    </button>
                </div> -->
                <div class="col-lg-3" ng-show="quotation.bank_slip_url && quotation.policy_url">
                    <h3 class="section-subtitle">Documentos</h3>
                    <a ng-href="{{ quotation.bank_slip_url }}" target="_blank">
                        <img class="document-icon" src="../img/pdf.png">
                    </a>
                    <a ng-href="{{ quotation.policy_url }}" target="_blank">
                        <img class="document-icon" src="../img/pdf.png">
                    </a>
                </div>
                <div class="col-lg-3" ng-show="quotation.bank_slip_url && quotation.policy_url">
                    <h3 class="section-subtitle">Protocolo</h3>
                    <span class="small-value pull-left"><strong>{{ quotation.extra }}</strong></span>
                </div>
                <div class="col-lg-3" ng-if="quotation.premium && quotation.status !== 'accepted'">
                    <h3 class="section-subtitle">Aceitação do Cliente</h3>
                    <button class="btn btn-block btn-info" ng-click="accept()">Confirmar</button>
                </div>
                <div class="col-lg-3 text-center" ng-if="quotation.status === 'accepted'">
                    <h3 class="section-subtitle">Proposta Aceita</h3>
                    <img class="text-center" src="../img/success.png">
                </div>
            </div>
            <div class="row m-t-50" ng-show="quotation.premium">
                <hr>
                <h4><i class="fas fa-hand-holding-usd"></i> &nbsp;&nbsp;Informações Financeiras</h4><br>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Parcelas *</label>
                            <select class="form-control" ng-model="quotation.installments"
                                ng-options="installment as installment.description for installment in installments"
                                ng-change="saveInstallments(quotation.installment)"
                                ng-disabled="quotation.queue.slug == 'transmission-agro-sompo'">
                            </select>
                        </div>
                    </div>
                    <h3 class="section-subtitle">Nº de Itens: {{ quotation.items.length || 0 }}</h3>
                    <span class="medium-value"><strong>Total: {{ quotation.premium | currency }}</strong></span>
                </div>
                <div class="col-lg-8">
                    <vencorr-loading ng-model="loadingInstallments" ng-show="loadingInstallments"></vencorr-loading>
                    <div ng-show="!loadingInstallments">
                        <span class="medium-price">{{ quotation.installments.description }}</span>
                        <div class="row">
                            <span class="text-muted">Para um número maior que {{ installments.length }} parcelas é aplicado um valor de juros composto com amortização, consultar a seguradora em questão.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-50">
                <hr>
                <h4><i class="fas fa-user"></i> &nbsp;&nbsp;Informações do Cliente</h4><br>
                <h2 ng-show="loadingCustomer" class="section-subtitle">Carregando informações... Aguarde</h2>
                <div class="col-lg-12" ng-if="!loadingCustomer">
                    <a ng-if="!quotation.customer.id" class="btn btn-success" data-toggle="modal" data-target="#customerModal" ng-show="!chooseCustomer"><i class="fas fa-plus-circle"></i>&nbsp; Cadastrar Novo</a>
                    &nbsp;
                    <button class="btn btn-warning" ng-show="quotation.customer.id && !quotation.queue.status && !chooseCustomer" ng-click="enableCustomerSearch()">Trocar cliente</button>
                    <button class="btn btn-info" ng-show="!chooseCustomer && !quotation.customer.id" ng-click="enableCustomerSearch()"><i class="fas fa-plus-circle"></i>&nbsp;Escolher um cliente</button>
                    <div ng-show="chooseCustomer">
                        <input type="text" uib-tooltip="Nome do cliente" typeahead-wait-ms="300" tooltip-trigger="'focus'" tooltip-placement="top" ng-model="searchCustomer.value" placeholder="Comece a digitar o nome do cliente" uib-typeahead="customer.name for customer in getCustomers($viewValue)" typeahead-on-select="onSelectCustomer($item)" class="form-control">
                        <button class="btn btn-danger m-t-20" ng-click="disableCustomerSearch()">Cancelar</button>
                    </div>
                    <div ng-if="!loadingCustomer && quotation.customer.id">
                        <div class="row">
                            <div class="col-lg-4">
                                <h3 class="section-subtitle">Nome</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.name }}</span>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="section-subtitle">Email</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.email }}</span>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="section-subtitle">Telefone</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.phone }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" ng-if="customerSnapshot.type === 'fisica'">
                                <h3 class="section-subtitle">CPF</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.cpf }}</span>
                            </div>
                            <div class="col-lg-4" ng-if="customerSnapshot.type === 'juridica'">
                                <h3 class="section-subtitle">CNPJ</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.cnpj }}</span>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="section-subtitle">Estado</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.state }}</span>
                            </div>
                            <div class="col-lg-4">
                                <h3 class="section-subtitle">Cidade</h3>
                                <span class="small-value pull-left"><strong>{{ customerSnapshot.city }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade customer-modal" tabindex="-1" role="dialog" id="customerModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="myModalLabel">Cadastrar novo cliente</h3>
                                </div>
                                <div class="modal-body modal-padding">
                                    <h4>Dados pessoais</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label>Tipo</label>
                                            <select class="form-control" ng-model="quotation.customer.type">
                                                <option value="fisica">Física</option>
                                                <option value="juridica">Jurídica</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label>Nome *</label>
                                            <input class="form-control" ng-model="quotation.customer.name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 form-group" ng-show="quotation.customer.type === 'fisica'">
                                            <label>CPF *</label>
                                            <input class="form-control" ng-model="quotation.customer.cpf" ui-br-cpf-mask>
                                        </div>
                                        <div class="col-lg-6 form-group" ng-show="quotation.customer.type === 'juridica'">
                                            <label>CNPJ *</label>
                                            <input class="form-control" ng-model="quotation.customer.cnpj" ui-br-cnpj-mask>
                                        </div>
                                        <div class="col-lg-4 form-group" ng-show="quotation.customer.type === 'fisica'">
                                            <label>Data de Nascimento *</label>
                                            <input class="form-control" ng-model="quotation.customer.birthdate" ui-date-mask>
                                        </div>
                                        <div class="col-lg-4 form-group" ng-if="quotation.customer.type === 'fisica'">
                                            <label>Sexo</label>
                                            <select class="form-control" ng-model="quotation.customer.genre">
                                                <option value="masculino">Masculino</option>
                                                <option value="feminino">Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="quotation.customer.type === 'fisica'">
                                        <div class="col-lg-4 form-group">
                                            <label>RG *</label>
                                            <input class="form-control" ng-model="quotation.customer.rg_number">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label>Orgão Expeditor *</label>
                                            <input class="form-control" ng-model="quotation.customer.rg_org">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label>UF *</label>
                                            <select class="form-control" ng-model="quotation.customer.rg_uf">
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AP">AP</option>
                                                <option value="AM">AM</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MT">MT</option>
                                                <option value="MS">MS</option>
                                                <option value="MG">MG</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PR">PR</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RS">RS</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="SC">SC</option>
                                                <option value="SP">SP</option>
                                                <option value="SE">SE</option>
                                                <option value="TO">TO</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label>Data de Emissão *</label>
                                            <input class="form-control" ng-model="quotation.customer.rg_emission_date" ui-date-mask>
                                        </div>
                                    </div>
                                    <h4>Contato</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label>Email *</label>
                                            <input type="email" class="form-control" ng-model="quotation.customer.email">
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label>Telefone *</label>
                                            <input class="form-control" ng-model="quotation.customer.phone" ui-br-phone-number-mask="areaCode">
                                        </div>
                                    </div>
                                    <h4>Endereço do Segurado</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            <label>CEP *</label>
                                            <input class="form-control" ng-model="quotation.customer.cep" ng-blur="getAddressByCep(quotation.customer.cep)" ui-br-cep-mask>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label>UF *</label>
                                            <select class="form-control" ng-model="quotation.customer.state">
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AP">AP</option>
                                                <option value="AM">AM</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MT">MT</option>
                                                <option value="MS">MS</option>
                                                <option value="MG">MG</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PR">PR</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RS">RS</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="SC">SC</option>
                                                <option value="SP">SP</option>
                                                <option value="SE">SE</option>
                                                <option value="TO">TO</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-5 form-group">
                                            <label>Cidade *</label>
                                            <input class="form-control" ng-model="quotation.customer.city">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label>Endereço *</label>
                                            <input class="form-control" ng-model="quotation.customer.address">
                                        </div>
                                        <div class="col-lg-2 form-group">
                                            <label>Número *</label>
                                            <input class="form-control" ng-model="quotation.customer.number" ui-number-mask="0" ui-number-mask min="1" max="9999">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label>Complemento</label>
                                            <input class="form-control" ng-model="quotation.customer.complement">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-success btn-lg" ng-click="saveCustomer()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Modal-->
                </div>
            </div>
            <div class="row m-t-50">
                <hr>
                <h4><i class="fas fa-user-lock"></i> &nbsp;&nbsp;Informações do corretor</h4><br>
                <span class="text-muted">Essas são as informações do corretor que serão usadas na hora da cotação e transmissão, verifique atentamente os dados</span>
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="section-subtitle">Nome</h3>
                        <span class="small-value pull-left"><strong>{{ quotation.user.name }}</span>
                    </div>
                    <div class="col-lg-4">
                        <h3 class="section-subtitle">Email</h3>
                        <span class="small-value pull-left"><strong>{{ quotation.user.email }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="section-subtitle">Telefone</h3>
                        <span class="small-value pull-left"><strong>{{ quotation.user.phone }}</span>
                    </div>
                </div>
            </div>
            <div class="row m-t-50" ng-show="quotation.premium && quotation.status == 'accepted' && !quotation.bank_slip_url">
                    <hr>
                    <h4><i class="fas fa-user"></i> &nbsp;&nbsp;Informações da Transmissão</h4><br>
                    <div class="col-lg-6">
                        <label>Colaborador SOMPO *</label>
                        <select class="form-control" ng-model="quotation.sompo_colaborator_code" ng-change="saveColaborator()" ng-disabled="quotation.queue.slug == 'transmission-agro-sompo'">
                            <option value="959830">959830 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959804">959804 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959735">959735 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959672">959672 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959632">959632 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959627">959627 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959611">959611 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959600">959600 - TERRAVERDE MAQUINAS AGRICOLAS LTDA</option>
                            <option value="959599">959599 - GLOBAL TRATORES LTDA</option>
                            <option value="959598">959598 - AGRINORTE LTDA</option>
                            <option value="959584">959584 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959580">959580 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959577">959577 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959575">959575 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959570">959570 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959569">959569 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959566">959566 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959562">959562 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959563">959563 - VNZ CORRETORA DE SEGUROS LTDA</option>
                            <option value="959564">959564 - VNZ CORRETORA DE SEGUROS LTDA</option>
                        </select>
                    </div>
                </div>
            <div class="row m-t-50" ng-show="!quotation.premium">
                <hr>
                <h4><i class="fas fa-robot"></i> &nbsp;&nbsp;Cotação Automática</h4><br>
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="section-subtitle">Requesitos - {{ autoQuotationrequirementCount }} de {{ autoQuotationRequirements.length }} concluídos</h3>
                        <ul ng-repeat="requirement in autoQuotationRequirements track by $index">
                            <li class="section-subtitle">
                                <i class="far fa-times-circle" ng-if="!requirement.status" style="color: #c9302c"></i>
                                <i class="far fa-check-circle" ng-if="requirement.status" style="color: #07b23a"></i>
                                &nbsp;{{ requirement.description }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6" ng-if="autoQuotationrequirementCount == 3">
                        <div class="col-lg-3">
                            <img class="segurobot" src="../img/robot.png" alt="Segurobot">
                        </div>
                        <div class="col-lg-9">
                            <span class="section-subtitle inline-block" ng-if="!quotation.queue.status">Clique no botão, e eu vou pesquisar o preço pra você.</span>
                            <span class="section-subtitle inline-block" ng-if="quotation.queue.status == 'waiting'"><strong class="text-success">Perfeito!</strong><br />Pode ir fazer outra coisa enquanto eu checo pra você, em alguns minutos eu atualizo o preço aqui ok?</span>
                            <button class="btn btn-lg btn-success m-t-20" ng-show="!quotation.queue.status" ng-click="autoQuotation()" ng-disabled="loadingAutoQuotation">
                                <i class="fas fa-circle-notch fa-spin" ng-show="loadingTransmission"></i>&nbsp;&nbsp;{{loadingAutoQuotation ? 'Aguarde...' : 'Realizar Cotação'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-50" ng-show="quotation.status == 'accepted' && !quotation.bank_slip_url">
                <hr>
                <h4><i class="fas fa-robot"></i> &nbsp;&nbsp;Transmissão Automática</h4><br>
                <div class="row">
                    <div class="col-lg-6" ng-if="autoQuotationrequirementCount == 3">
                        <div class="col-lg-3">
                            <img class="segurobot" src="../img/robot.png" alt="Segurobot">
                        </div>
                        <div class="col-lg-9">
                            <span class="section-subtitle inline-block" ng-if="quotation.queue.slug == 'quotation-agro-sompo'">Clique no botão para transmitir</span>
                            <span class="section-subtitle inline-block" ng-if="quotation.queue.status == 'waiting' && quotation.queue.slug == 'transmission-agro-sompo'"><strong class="text-success">Perfeito!</strong><br />Você pode realizar outras tarefas enquanto eu faço a transmissão, em alguns minutos eu atualizo as informações aqui ok?</span>
                            <button class="btn btn-lg btn-success m-t-20" ng-show="quotation.queue.slug == 'quotation-agro-sompo' && quotation.status == 'accepted'" ng-click="transmit()" ng-disabled="loadingAutoQuotation">
                                <i class="fas fa-circle-notch fa-spin" ng-show="loadingTransmission"></i>&nbsp;&nbsp;{{loadingAutoQuotation ? 'Aguarde...' : 'Realizar Transmissão'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4><i class="fas fa-dolly"></i> &nbsp;&nbsp;Itens da Cotação</h4><br>
            <div class="col-lg-12" ng-repeat="item in quotation.items track by $index">
                <div class="item-card">
                    <!-- MODAL -->
                    <a class="btn btn-warning btn-sm pull-right" ng-show="!quotation.queue.status" data-toggle="modal" data-target="#riskModal" ng-click="getCurrentItem(item)"><i class="fas fa-plus-circle"></i>&nbsp; Risco</a>
                    
                    <div class="item-number-indicator">{{ $index + 1 }}</div>
                    <h1>{{ item.title }}</h1>
                    <span class="section-subtitle">Valor da Cotação: {{ item.premium | currency }}</span>
                    <hr>
                    <h1>Informações do Item</h1>
                    <label>Número NF</label>
                    <span class="loading-small-info" ng-show="loadingNF">Salvando...</span>
                    <div class="input-group" ng-disabled="!loadingNF">
                        <input class="form-control" ng-disabled="(item.nf_number && !isEditItemNF) || (!item.nf_number && !isEditItemNF)" ng-model="item.nf_number" placeholder="Número da NF" maxlength="50">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="isEditItemNF && item.nf_number.length" ng-click="setAdditionalInfo(item.nf_number, 'nf_number')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="!isEditItemNF && item.nf_number && !quotation.queue.status || !item.nf_number" ng-click="openEdit('nf_number')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <label>Data de entrega NF</label>
                    <span class="loading-small-info" ng-show="loadingDateNF">Salvando...</span>
                    <div class="input-group" ng-disabled="!loadingDateNF">
                        <input class="form-control" ng-disabled="(item.nf_delivery_data && !isEditItemDateNF) || (!item.nf_delivery_data && !isEditItemDateNF)" ng-model="item.nf_delivery_data" placeholder="Data de entrega da NF" ui-date-mask>
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="isEditItemDateNF && item.nf_delivery_data" ng-click="setAdditionalInfo(item.nf_delivery_data, 'nf_delivery_data')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="!isEditItemDateNF && item.nf_delivery_data && !quotation.queue.status || !item.nf_delivery_data" ng-click="openEdit('nf_delivery_data')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <label>Número de Série</label>
                    <span class="loading-small-info" ng-show="loadingSerieNumber">Salvando...</span>
                    <div class="input-group" ng-disabled="!loadingSerieNumber">
                        <input class="form-control" ng-disabled="(item.serie_number && !isEditItemSerieNumber) || (!item.serie_number && !isEditItemSerieNumber)" ng-model="item.serie_number" placeholder="Número de série" maxlength="50">
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="isEditItemSerieNumber && item.serie_number.length" ng-click="setAdditionalInfo(item.serie_number, 'serie_number')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-success" ng-show="!isEditItemSerieNumber && item.serie_number && !quotation.queue.status || !item.serie_number" ng-click="openEdit('serie_number')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <hr>
                    <span class="section-subtitle"><i class="fas fa-lock"></i> Coberturas Contratadas</span>
                    <ul class="m-t-20" ng-repeat="coverage in item.coverages track by $index">
                        <li class="section-subtitle">{{ $index + 1 }} - {{ coverage.name | limitTo: 25 }}</li>
                        <ul ng-repeat="(key, value) in coverage">
                            <li class="small-value" ng-if="key === 'lmi'"><strong>LMI : {{ value | currency }}</strong></li>
                            <li class="small-value" ng-if="key === 'multiple' && !coverage.name.includes('Responsabilidade Civil')"><strong>Múltiplo : {{ value || 1 }}</strong></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 m-t-50 m-b-50">
        <hr>
        <button class="btn btn-success btn-lg pull-right" ng-if="!loading && !quotation.queue.status" ng-click="edit()">Editar Cotação</button>
    </div>
</div>


<!-- MODAL -->
<div class="modal fade customer-modal" tabindex="-1" role="dialog" id="riskModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Questionário de risco - <span class="loading-small-info">{{ currentItem.title }}</span></h4> 
            </div>
            <div class="modal-body modal-padding">
                <div class="row">
                    <div class="form-group">
                        <label>Equipamento Locado a Terceiro?</label>
                        <small class="text-danger" ng-show="currentItem.questions.rent === 'sim'">Quando a resposta dessa pergunta é SIM, a cobertura de Pagamento de Aluguel a Terceiros não será adicionada na hora da cotação/transmissão</small>
                        <select class="form-control" ng-model="currentItem.questions.rent">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Equipamento Utilizado/Operado pelo Segurado/Funcionário?</label>
                        <select class="form-control" ng-model="currentItem.questions.use">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Opera Próximo a Água?</label>
                        <select class="form-control" ng-model="currentItem.questions.water">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Possui Rastreador?</label>
                        <select class="form-control" ng-model="currentItem.questions.tracker" ng-init="currentItem.questions.tracker = 'nenhum'">
                            <option value="nenhum">Nenhum</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Data de Entrega da Nota Fiscal nos últimos 30 dias?</label>
                        <select class="form-control" ng-model="currentItem.questions.nf">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success btn-lg" ng-click="saveQuestion()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- -->