<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Suporte</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-l-50">
                <div class="col-lg-6">
                    <div class="row m-t-20">
                        <label>Assunto</label>
                        <input class="form-control w-450" ng-model="contact.subject">
                    </div>
                    <div class="row m-t-20">
                        <label>Mensagem</label>
                        <textarea class="form-control w-450" ng-model="contact.message" rows="6"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 m-t-25">
                    <label>Você também pode entrar em contato por:</label>
                    <h5 class="section-subtitle"><img src="img/whatsapp.png">&nbsp;&nbsp; <a href="https://wa.me/5511934621351" target="_blank"> (11) 93462-1351</a></h5>
                    <h5 class="section-subtitle"><img src="img/phone.png">&nbsp;&nbsp; (11) 3078-5155 | Atendimento de 9 às 18 horas</h5>
                    <h5 class="section-subtitle"><img src="img/email.png"></i>&nbsp;&nbsp; contato@vencorr.com</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 m-l-50">
                <button class="btn btn-lg btn-success btn-send-message m-t-20" ng-click="send()" ng-disabled="loading">
                    <span ng-show="!loading">Enviar</span>
                    <span ng-show="loading">Aguarde...</span>
                </button>
            </div>
        </div>
    </div>
</div>
