<div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-backdrop="static"
        ng-click="getMessages(quotation.message.id)" data-target="{{ '#' + quotation.hash }}">
        <strong ng-if="quotation.numberOfMessages">{{ quotation.numberOfMessages }} mensagens</strong>
        <strong ng-if="!quotation.numberOfMessages">Mensagens Diretas</strong>
    </button>

    <div class="modal fade directMessageModal" id="{{ quotation.hash }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-lg-12">
                        <div class="col-lg-11">
                            <h4 class="section-title">{{ quotation.customer.name }}</h4>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="section-subtitle m-t-20">Seguro: {{ formatSegmentName(quotation.segment_type) }}</h5>
                        <h5 class="section-subtitle">ID Transação: {{ quotation.hash }}</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>{{ messages.length }} mensagens</h4>
                    <div class="col-lg-12 m-t-50 direct-messages-area" id="directMessagesArea">
                        <div class="col-lg-12" ng-show="loadingMessages">
                            <h4 class="section-title">Carregando mensagens...</h4>
                        </div>
                        <div class="col-lg-12" ng-show="!messages.length && !loadingMessages">
                            <h3 class="text-muted">Nenhuma mensagem</h3>
                        </div>
                        <div class="direct-message-item" ng-repeat="message in messages track by $index">
                            <div class="row">
                                <div class="col-lg-6" ng-if="message.user.name == 'Vencorr'">
                                    <div class="avatar-circle" ng-style="message.user.name == 'Vencorr' && { 'background-color': '#0E52AC' }"><label class="avatar-letter"">{{ message.user.name.charAt(0) }}</label></div>
                                    <div class="row" id="directMessageSpaceTextDate">
                                        <strong class="direct-message-date">{{ message.date | date: 'dd/MM/yyyy HH:mm' }}</strong>
                                    </div>
                                    <div class="row">
                                        <p class="direct-message-text">{{ message.text }}</p>
                                    </div>
                                    <div class="row direct-message-files-area">
                                        <label ng-repeat="file in message.files track by $index">
                                            <a class="direct-message-file" target="_blank" ng-href="{{ file.url }}">{{ file.label }}</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-offset-6" ng-if="message.user.name != 'Vencorr'">
                                <div class="avatar-circle" ng-style="message.user.name == 'Vencorr' && { 'background-color': '#0E52AC' }"><label class="avatar-letter"">{{ message.user.name.charAt(0) }}</label></div>
                                <div class="row" id="directMessageSpaceTextDate">
                                    <strong class="direct-message-date">{{ message.date | date: 'dd/MM/yyyy HH:mm' }}</strong>
                                </div>
                                <div class="row">
                                    <p class="direct-message-text">{{ message.text }}</p>
                                </div>
                                <div class="row direct-message-files-area">
                                    <label ng-repeat="file in message.files track by $index">
                                        <a class="direct-message-file" target="_blank" ng-href="{{ file.url }}">{{ file.label }}</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 m-t-20 m-b-50">
                        <label>Mensagem</label>
                        <textarea class="form-control" ng-disabled="loading || loadingMessages" ng-model="directMessage.text" rows="6"></textarea>

                        <!-- Upload -->
                        <button ng-hide="true" ngf-select="uploadFiles($files, $invalidFiles)" multiple
                            accept="*/*" ngf-max-height="10000" ngf-max-size="500MB" id="imageUpload">
                        </button>
                        
                        <button class="btn btn-success m-t-20" ng-click="triggerUpload()"><i class="fas fa-plus-circle"></i>&nbsp; Adicionar Documento</button>
                        <div ng-hide="hideProgressBars" class="m-t-20">
                            <label ng-repeat="f in uploadingFiles track by $index" style="font:smaller">{{f.name}} {{f.$errorParam}}
                                <uib-progressbar class="progress-striped active" value="f.progress" type="{{type}}">Carregando... {{f.progress}}%</uib-progressbar>
                            </label>
                            <label ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</span> 
                        </div>

                        <div class="row direct-message-files-area">
                            <label ng-repeat="doc in directMessage.files track by $index">
                                <a class="direct-message-file" target="_blank" ng-href="{{ doc.url }}">{{ doc.label }}</a>&nbsp;&nbsp;<i class="fas fa-times-circle cpointer" style="color: #e02311;" ng-click="removeDoc(doc.url)"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-lg btn-success" ng-disabled="loading || loadingMessages || loadingFiles" ng-click="addMessage()">Enviar</button>
                    <div class="col-lg-12">
                        <label class="text-danger">{{ error_message }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bolinha que pisca para quando for botar a notificação -->
    <!-- <div id="circle" class="yellow" style="margin-top: 3px;"></div> -->
</div>

