<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" ng-controller="SidebarController">
            <div class="col-lg-12">
                <h1 class="section-title col-lg-10">Carteira</h1>
                <a class="logout cpointer col-lg-2 pull-right" ng-click="logout()"><span>Encerrar Seção</span> <img src="img/icon-logout.svg" class="icon-logout"></a>
            </div>
        </div>
        <div class="row tool-area">
            <div class="div col-lg-12 m-t-20">
                <div class="col-lg-12 m-t-20">
                    <div class="col-lg-3 w-200">
                        <span class="form-info pull-left"><i class="fas fa-filter"></i> Filtrar por:</span>
                    </div>
                    <div class="col-lg-3">
                        <select ng-model="filterOption" class="form-control" ng-change="list()">
                        <option value="all">Todas</option>
                        <option value="received">Recebidas</option>
                        <option value="pending">Pendentes</option>
                    </select>
                    </div>
                </div>
                <div class="col-lg-12 m-t-20">
                    <div class="form-inline">
                        <div class="col-lg-2 w-200">
                            <span class="form-info pull-left"><i class="fas fa-filter"></i> Data de Recebimento:</span>
                        </div>
                        <div class="input-group input-addon-space">
                            <span class="input-group-addon">De</span>
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control" ng-model="startDate" ng-change="list()" />
                            </datepicker>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Até</span>
                            <datepicker date-format="dd/MM/yyyy">
                                <input class="form-control" ng-model="endDate" ng-change="list()" />
                            </datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 margin-left">
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('yesterday')">Ontem</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('today')">Hoje</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('week')">Esta semana</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('month')">Este mês</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('lastMonth')">Mês passado</button>
                    <button class="btn btn-info btn-timeline btn-sm m-t-20" ng-click="setDateFilter('nextMonth')">Mês que vem</button>
                </div>
            </div>
        </div>
        <vencorr-loading ng-model="loading" ng-show="loading"></vencorr-loading>
        <div ng-if="!loading">
            <div class="row">
                <div class="col-lg-12 m-t-20">
                    <div class="col-lg-6 card-total-volume-wallet">
                        <span class="big-value" ng-show="filterOption === 'all'">{{ totals.volume | currency }}</span><br /><br />
                        <span class="in-black">Volume Total</span>
                    </div>
                    <div class="col-lg-6 card-received-pendent-wallet pull-right" ng-show="!loading">
                        <span class="medium-value success-value" ng-show="filterOption !== 'pending'"><strong>{{ totals.received | currency }}</strong> (Recebido)</span><br /><br />
                        <span class="medium-value danger-value" ng-show="filterOption !== 'received'"><strong>{{ totals.pending | currency }}</strong> (Pendente)</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="tables adjusting-tables" ng-show="!loading && comissions.length">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vencimento</th>
                                <th>Valor R$</th>
                                <th>Descrição</th>
                                <th>Pagamento</th>
                                <th>Seguimento</th>
                                <th>Cotação Orig</th>
                                <th>Cliente</th>
                                <th>Dt Recebimento</th>
                                <th>Dt Confirmação</th>
                                <th>Status</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody class="table-customized">
                            <tr class="row-customized-grid" ng-repeat="comission in comissions track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ comission.due_date | date:'dd/MM/yyyy' }}</td>
                                <td><strong>{{ comission.price | currency }}</strong></td>
                                <td>{{ comission.description }}</td>
                                <td>
                                    <span ng-if="comission.payment === 'installments'">Parcelado</span>
                                    <span ng-if="comission.payment === 'cash'">Á Vista</span>
                                </td>
                                <td>{{ comission.segment_name }}</td>
                                <td>
                                    <a ng-if="comission.quotation.segment_type === 'agro'" class="btn btn-sm btn-default btn-see-registries" ng-href="{{ '/cotacao-agro-sompo/' + comission.quotation.hash }}">Ver</a>
                                    <a ng-if="comission.quotation.segment_type === 'construcao'" class="btn btn-sm btn-default btn-see-registries" ng-href="{{ '/cotacao-geral/construcao/' + comission.quotation.hash }}">Ver</a>
                                    <a ng-if="comission.quotation.segment_type === 'auto'" class="btn btn-sm btn-default btn-see-registries" ng-href="{{ '/cotacao-auto/' + comission.quotation.hash }}">Ver</a>
                                    <a ng-if="comission.quotation.segment_type === 'residencial'" class="btn btn-sm btn-default btn-see-registries" ng-href="{{ '/cotacao-residencial/' + comission.quotation.hash }}">Ver</a>
                                    <a ng-if="comission.quotation.segment_type === 'empresarial'" class="btn btn-sm btn-default btn-see-registries" ng-href="{{ '/cotacao-empresarial/' + comission.quotation.hash }}">Ver</a>
                                </td>
                                <td><a ng-href="{{ '/cliente/' + comission.customer.encodedId }}">{{ comission.customer.name || '-' | limitTo: 15 }}</a></td>
                                <td>{{ comission.paid_date | date:'dd/MM/yyyy' }}</td>
                                <td>{{ comission.confirm_date | date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <span class="pill-success" ng-if="comission.status === 'received'">Recebido</span>
                                    <span class="pill-danger" ng-if="comission.status === 'pending'">Pendente</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-default btn-confirm" ng-show="comission.status === 'pending'" ng-click="confirm(comission.id)">Confirmar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row alert alert-info col-lg-12 text-center m-t-100" ng-show="!comissions.length && !loading">Nenhuma entrada para este período</div>
        </div>
    </div>
</div>
