/* main color #2BBF9E */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Product+Sans:300,400,700');
body {
    font-family: 'Nunito', sans-serif;
    background: #f6f8fa;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
}

a.btn-link {
    color: #333 !important;
}

button,
a {
    outline: none !important;
}

input {
    border: none !important;
}

.btn-page-action {
    width: 200px !important;
}

.info-text {
    color: #727272;
    font-size: 16px;
    font-weight: 100;
}

.info-title {
    font-size: 16px;
    font-weight: 800;
    color: #0E52AC;
    margin-right: 5px;
}

.info-value {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.info-popup-trigger {
    width: 20px;
    height: 20px;
    border-radius: 60%;
    background-color: #0E52AC;
    color: #ffffff;
    font-weight: 800;
    border: none;
}


/* Tools */

.big-value {
    font-size: 40px;
    font-weight: 800;
    color: #0E52AC;
}

.medium-value {
    font-size: 20px;
    font-weight: 800;
}

.danger-value {
    color: #D9534F !important
}

.success-value {
    color: #41D323 !important;
}

.inlineit {
    display: inline;
}

.cpointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.link-no-style {
    color: #000;
    text-decoration: none;
}

.link-no-style:hover {
    color: #707070;
    text-decoration: none;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-17 {
    margin-left: 17px;
}

.m-l-117 {
    margin-left: 117px;
}

.m-l-125 {
    margin-left: 125px;
}

.m-l-130 {
    margin-left: 130px;
}

.m-l-150 {
    margin-left: 150px;
}

.m-l-183 {
    margin-left: 183px;
}

.m-l-240 {
    margin-left: 240px;
}

.m-l-255 {
    margin-left: 255px;
}

.m-l-265 {
    margin-left: 265px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-10p {
    margin-top: 10%;
}

.m-t-35 {
    margin-top: 35px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.w-170 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-100 {
    width: 100px;
}

.w-120 {
    width: 120px;
}

.min-w-100 {
    min-width: 100px;
}

.w-50 {
    width: 50px;
}

.w-250 {
    width: 250px;
}

.w-350 {
    width: 350px;
}

.w-450 {
    width: 450px;
}

.m-t-n-12 {
    margin-top: 12px !important;
}

.m-t-100-n {
    margin-top: -100px;
}

.document-icon {
    width: 40px;
}


/** Dashboard **/

.dashboard-block {
    padding: 0;
    /*border: 1px solid #f1f1f1;*/
    height: 350px;
}

.dashboard-block-flex-size {
    padding: 0;
    border: 1px solid #f1f1f1;
    height: auto;
}

.dashboard-block-content-scroll {
    overflow-y: scroll;
    height: 300px;
}


/* .block-spaced {
	margin-left: 3px;
	margin-right: 3px;
} */

.block-min-size {
    height: 250px !important;
}


/* .block-extend {
	margin: 5px;
} */

.block-header {
    margin: 0;
    text-align: center;
    background-color: #0e52ac;
    height: 40px;
}

.block-title {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    margin-top: 10px;
}


/** --------- **/

.m-r-170-n {
    margin-right: -170px
}

.file-preview {
    float: left;
    margin: 5px;
    width: 55px;
    height: 40px;
    object-fit: cover;
}

.file-remove {
    float: left;
    width: 10px;
    height: 10px;
    padding-bottom: 20px;
    padding-right: 16px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 800;
}

.file-extension {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.inline-it {
    display: inline-block !important;
}

.block-it {
    display: block;
}

.chat-area {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    border: 2px solid #f1f1f1;
    padding: 10px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    margin-top: 20px !important;
}

.customer-chat-name {
    font-size: 14px;
    font-weight: 800;
    color: #673AB7 !important;
}

.customer-chat-admin {
    font-size: 14px;
    font-weight: 800;
    color: #34B97B !important;
}

.chat-time {
    font-size: 14px;
    font-weight: 800;
    color: #31B5F6 !important;
}

.modal-padding {
    padding: 30px;
}

.space-between {
    margin-left: 5px;
    margin-right: 5px;
}

.loading-small-info {
    display: inline-block;
    font-size: 14px;
    color: #0E52AC;
}


/* Dashboard */

.chart {
    margin-top: 20px;
}

.dashboard-card {
    width: 100%;
    height: 200px;
    border: 1px solid #efefef;
    box-shadow: 5px 5px 15px #efefef;
}

.dashboard-card-title {
    font-size: 25px;
}

.dashboard-card-value {
    font-size: 50px;
    font-weight: 600;
    color: #0E52AC;
}

.dashboard-value-success {
    color: #7CB342 !important;
}

.dashboard-value-warning {
    color: #FAA626 !important;
}

.dashboard-card-description {
    font-size: 12px;
    font-weight: 100;
    color: #333;
    display: inline-block;
    margin-top: 15px;
}


/* General */

.section-title {
    font-family: Nunito, serif;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0251ac;
    text-align: justify;
}

.section-subtitle {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1c1c;
    text-align: justify;
}

.pill {
    width: 125px;
    border-radius: 3px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bolder;
}

.pill-success {
    background-color: #41d323;
    padding: 5px 15px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
}

.pill-warning {
    background-color: #FBB200;
    height: 45px;
    padding: 5px 0 0 25px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
}

.pill-info {
    background-color: #31B5F6;
    padding: 5px 15px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
}

.pill-violet {
    background-color: #673AB7;
    padding: 5px 20px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
}

.pill-danger {
    background-color: #D9534F;
    padding: 5px 15px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 8px;
}

.pill-success-dashboard {
    color: #41d323;
    padding: 5px 12px;
    font-family: Nunito;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: bolder;
}

.pill-warning-dashboard {
    color: #FBB200;
    padding: 5px 1px;
    font-family: Nunito;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bolder;
}

.pill-info-dashboard {
    color: #31B5F6;
    padding: 5px 1px;
    font-family: Nunito;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bolder;
}

.pill-violet-dashboard {
    color: #673AB7;
    padding: 5px 12px;
    font-family: Nunito;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bolder;
}

.pill-danger-dashboard {
    color: #D9534F;
    padding: 5px 12px;
    font-family: Nunito;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bolder;
}

/* Tab switch */

.tab-switch {
    margin-top: 40px;
    margin-bottom: 20px;
}

.tab-switch>.control {
    size: 16px;
    margin-right: -3px;
    display: inline-block;
    min-width: 100px;
    color: #737373;
    font-weight: 800;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.tab-switch>.control:hover {
    border-color: #0e52ac;
}

.tab-switch>.active {
    background-color: #0e52ac;
    border: 1px solid #0e52ac;
    color: #ffffff;
}


/* Alert Component */

.alert-message {
    position: fixed;
    top: 0;
    z-index: 2500;
    width: 60%;
    margin: 4px 20%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .2s .2s ease;
    -o-transition: opacity .2s .2s ease;
    transition: opacity .2s .2s ease;
}

.alert-message.fadein {
    opacity: 1;
}

.alert-message.fadeout {
    opacity: 0;
}


/* Datepicker */

._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: #1f7daf !important;
    color: #fff;
}

._720kb-datepicker-calendar-header {
    background: #1f7daf !important;
}


/** Checkbox Switch **/

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #41D323;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-error {
    border-color: #a94442 !important;
}

.warning-icon {
    height: 70px;
}

.modal-content {
    border-radius: 0;
}


/* Pagination */

.pagination-lg>.active>a {
    background-color: #4FCDB5;
    border-color: #4FCDB5;
    color: #ffffff !important;
}

.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #4FCDB5;
    border-color: #4FCDB5;
    color: #ffffff !important;
}

ul.pagination li>a {
    color: #4FCDB5 !important;
}

.no-outline {
    outline: none !important;
}


/** QUOTE **/

.insurer-square {
    border: 6px solid #0E52AC;
    width: 129px;
    height: 110px;
    background-image: url('../img/sompo-logo.jpg');
    object-fit: cover;
}

.info-card {
    width: 60%;
    border-left: 2px solid #efefef;
    padding: 20px;
    height: 500px;
}

.info-card-title {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.coverage-name {
    font-size: 12px;
    min-height: 50px;
    min-width: 250px;
    display: inline-block;
    font-weight: 600;
    color: #0e52ac;
    text-transform: uppercase;
}

.coverage-card {
    border: 2px solid #efefef;
    padding: 5px;
}

.big-price {
    font-size: 40px;
    font-weight: 600;
    color: #0e52ac;
}

.loading-info {
    font-size: 20px;
    font-weight: 600;
}

.medium-price {
    font-size: 35px;
    font-weight: 600;
    color: #0e52ac;
}

.small-price {
    font-size: 22px;
    font-weight: 600;
    color: #0e52ac;
}

.medium-value {
    font-size: 20px;
    font-weight: 100;
    color: #0e52ac;
}

.small-value {
    font-size: 16px;
    font-weight: 100;
    color: #0e52ac;
}

.agenda-full-procedure-arrow {
    width: 0;
    height: 0;
    left: 40%;
    border-style: solid;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -5px;
}

.agenda-full-procedure-arrow.up {
    margin-bottom: 20px;
    border-width: 0 10px 13.7px 10px;
    border-color: transparent transparent #0e52ac transparent;
}

.agenda-full-procedure-arrow.down {
    border-width: 13.7px 10px 0 10px;
    border-color: #0e52ac transparent transparent transparent;
}


/** Quotations **/

.quotation-auto-card {
    min-height: 140px;
    height: auto;
    position: relative;
    border-top: 1px solid #aaaaaa;
}

.quotation-auto-card>img {
    display: inline-block;
}

.quotation-auto-card>span {
    font-size: 12px;
    display: inline-block;
}

.quotation-card {
    width: 73vw;
    height: 100px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 25px 0 0 20px;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #0E52AC;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
}

.quotation-card-canceled {
    border: 2px solid #db1515 !important;
}

.quotation-card-canceled:hover {
    border: 4px solid #db1515 !important;
}

.quotation-card-accepted {
    border: 2px solid #34B97B !important;
}

.quotation-card:hover {
    border: 3px solid #0E52AC;
}

.quotation-card-accepted:hover {
    border: 4px solid #34B97B !important;
}

.quotation-card span:nth-child(1) {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #6a6c7f;
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.quotation-card span:nth-child(2) {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    margin-right: 20px;
    width: 200px;
    text-align: center;
}

.quotation-card span:nth-child(3) {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    margin-right: 20px;
    width: 200px;
    font-weight: bolder;
    text-align: center;
}

.quotation-card span:nth-child(4) {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    width: 200px;
    text-align: center;
}

.quotation-card span:nth-child(5) {
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    text-align: center;
}

.quotation-card span:nth-child(6) {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.quotation-card span:nth-child(7) {
    display: inline-block;
}

.item-card {
    border: 2px solid #efefef;
    padding: 10px;
    margin-bottom: 10px;
}

.item-number-indicator {
    width: 30px;
    height: 23px;
    background-color: #0E52AC;
    margin-left: -10px;
    margin-top: -10px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.item-card h1 {
    font-size: 16px;
    font-weight: 600;
    color: #0E52AC;
    text-transform: uppercase;
}

.segurobot {
    height: 80px;
}

.quotation-success-title {
    color: #34B97B !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}


/** Direct Messages **/

.direct-messages-area {
    min-height: 370px;
    max-height: 370px;
    overflow-y: scroll;
    border: 1px solid #efefef;
    border-radius: 8px;
    text-align: justify;
}

.direct-message-date {
    font-size: 12px;
    margin-left: 40px;
    display: inline-block;
    margin-top: 10px;
    color: #737373;
}

.direct-message-item {
    min-height: 112px;
}

#directMessageSpaceTextDate {
    margin-bottom: -28px;
}

.direct-message-text {
    width: 75%;
    margin-left: 103px !important;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    display: inline-block;
    margin-left: 39px !important;
}

.direct-message-files-area {
    margin-top: 28px;
    margin-left: 63px;
    margin-bottom: 20px;
}

.direct-message-file {
	padding: 2px 10px 6px 10px;
	background-color: #0E52AC;
	color: #ffffff;
	border-radius: 30px;
	margin-left: 20px;
    margin-top: 13px;
    font-size: 12px;
    display: inline-block;
}

.direct-message-file:hover,
.direct-message-file:visited,
.direct-message-file:active,
.direct-message-file:focus {
    text-decoration: none;
    color: #ffffff;
}

.avatar-circle {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #b2b2b2;
    border-radius: 50%;
    float: left;
}

.avatar-letter {
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    margin-top: 8px;
    margin-left: 13px;
}


/** Quote Segment **/

.segment-card {
    width: 260px;
    height: 97px;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    float: left;
    margin: 20px 15px 20px 0;
    background-size: cover;
}

.segment-card > span {
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
    margin-left: -110px;
    margin-top: 20px;
}

/* Pagination */

.pagination-lg>.active>a {
    background-color: #0e52ac;
    border-color: #0e52ac;
    color: #ffffff !important;
}

.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #0e52ac;
    border-color: #0e52ac;
    color: #ffffff !important;
}

ul.pagination li>a {
    color: #0e52ac !important;
}


/* Datepicker */

._720kb-datepicker-calendar-day._720kb-datepicker-today {
    background: #0E52AC !important;
    color: #fff;
}

._720kb-datepicker-calendar-header {
    background: #0E52AC !important;
}

._720kb-datepicker-calendar-month-button {
    color: #fff !important;
}

._720kb-datepicker-calendar-month>a>span {
    color: #fff !important;
}

._720kb-datepicker-calendar-years-pagination>a {
    color: #fff !important;
}

.table-grid-files tr td {
    padding-top: 20px;
}

.card-form-crud {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Checkbox */

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radio-container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.radio-container input:checked~.checkmark {
    background-color: #0E52AC;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.scroll {
    width: 200px;
    height: 400px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.tool-area {
    margin: 20px 0;
}


/*********************** MEDIA QUERY ************************/

@media only screen and (max-width: 1024px) and (max-width: 1366px) {
    .quotation-card span:nth-child(2) {
        margin-left: -10px !important;
        font-size: 14px;
    }

    .quotation-card span:nth-child(3) {
        width: 120px;
        font-size: 16px;
    }

    .quotation-card span:nth-child(4) {
        font-size: 14px;
    }

    .quotation-card span:nth-child(5) {
        font-size: 14px;
        color: #aaaaaa !important;
        margin-right: 5px !important;
    }

    .quotation-card span:nth-child(6) {
        margin-left: 10px;
        font-size: 14px;
        color: #0E52AC !important;
    }

    .quotation-card {
        width: 73vw;
        height: 100px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
        padding: 25px 0 0 10px !important;
        border-radius: 8px;
        color: #000000;
        border: 1px solid #0E52AC;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
    }

    .pill {
        width: 90px;
        height: 39px;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 0;
        font-size: 14px;
        font-weight: bolder;
        padding: 5px 0 0 5px;
    }

    .pill-success {
        background-color: #41d323;
        font-family: Nunito;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }
    
    .pill-warning {
        background-color: #FBB200;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }
    
    .pill-info {
        background-color: #31B5F6;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }
    
    .pill-violet {
        background-color: #673AB7;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }
    
    .pill-danger {
        background-color: #D9534F;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 0 0 5px;
    }

    .table-header-label {
        font-size: 14px;
        font-weight: 800;
    }

    .pill {
        width: 90px;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 0;
        color: #ffffff;
        font-size: 12px;
        font-weight: bolder;
    }

    .pill-success {
        background-color: #41d323;
        width: 83px;
        height: 29px;
        font-family: Nunito;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 7px 0 0 5px;
    }
    
    .pill-warning {
        background-color: #FBB200;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 7px 0 0 5px;
    }
    
    .pill-info {
        background-color: #31B5F6;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 7px 0 0 5px;
    }
    
    .pill-violet {
        background-color: #673AB7;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 7px 0 0 5px;
    }
    
    .pill-danger {
        background-color: #D9534F;
        height: 29px;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        padding: 7px 0 0 5px;
    }

    .pill-success-dashboard {
        color: #41d323;
        padding: 5px 12px;
        font-family: Nunito;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        font-weight: bolder;
    }
    
    .pill-warning-dashboard {
        color: #FBB200;
        padding: 5px 1px;
        font-family: Nunito;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-weight: bolder;
    }
    
    .pill-info-dashboard {
        color: #31B5F6;
        padding: 5px 1px;
        font-family: Nunito;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-weight: bolder;
    }
    
    .pill-violet-dashboard {
        color: #673AB7;
        padding: 5px 12px;
        font-family: Nunito;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-weight: bolder;
    }
    
    .pill-danger-dashboard {
        color: #D9534F;
        padding: 5px 12px;
        font-family: Nunito;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-weight: bolder;
    }
}

@media (min-width: 1513px) and (max-width: 1789px) {
    .quotation-card span:nth-child(2) {
        margin-left: -10px !important;
        font-size: 14px;
    }
    .quotation-card span:nth-child(3) {
        font-size: 16px;
    }
    .quotation-card span:nth-child(4) {
        font-size: 14px;
    }
    .quotation-card span:nth-child(5) {
        font-size: 14px;
        color: #aaaaaa !important;
        margin-right: 5px !important;
    }
    .quotation-card span:nth-child(6) {
        margin-left: 10px;
        font-size: 14px;
        color: #0E52AC !important;
    }
    .table-header-label {
        font-size: 14px;
        font-weight: 800;
    }
}