.btn-login {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    margin-left: 40px;
    
}

.btn-social {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #0251ac;
    background-color: #ffffff;
    margin-left: 40px;
    
}

.btn-repeat-cep {
    width: 136px;
    height: 40px;
    border-radius: 8px;
    margin-top: 25px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-calculate {
    width: 136px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-new {
    width: 105px;
    height: 40px;
    padding-top: 10px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-show-customer {
    width: 67px;
    height: 30px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-search {
    width: 118px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-details {
    width: 67px;
    height: 35px;
    border-radius: 8px;
    padding-top: 5px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-cancel {
    width: 67px;
    height: 35px;
    border-radius: 8px;
    padding-top: 5px;
    
}

.btn-save {
    width: 88px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-cancel {
    width: 88px;
    height: 40px;
    border-radius: 8px;
    
}

.btn-save-big {
    width: 128px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    padding-top: 10px;
    
}

.btn-back {
    width: 88px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0251ac;
    background: none;
    padding-top: 10px;
    
}

.btn-add {
    width: 115px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-add-doc {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    padding-top: 10px;
    
}

.btn-choose-file {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    background-color: #5bc0de;
    
}

.btn-price-order {
    width: 155px;
    height: 40px;
    border-radius: 8px;
    background-color: #f0ad4e;
    
}

.btn-calculate {
    width: 155px;
    height: 40px;
    border-radius: 8px;
    background-color: #5bc0de;
    padding-top: 5px;
    
}

.btn-messages {
    margin-top: 10px;
    
}

.btn-send-message {
    width: 90px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    
}

.btn-send-request {
    width: 190px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    
}

.btn-details {
    width: 67px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    
}

.btn-timeline {
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    font-size: 14px;
    font-weight: 500;
    
}

.btn-see-files {
    width: 67px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 5px;
    color: #FFF
 }

 .btn-see-files:hover {
    color: #fff;
 }

.btn-see-files-edit {
    width: 110px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;

}

.btn-select-quotation-edit {
    border-radius: 8px;
}

.btn-see-registries{
    padding-top: 8px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0251ac;
    width: 67px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #0251ac;
    background-color: #ffffff;
    
}

.btn-confirm {
    font-family: Nunito;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    width: 87px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #0589d6 20%, #0251ac);
    
}

.btn-confirm:hover {
    color: #fff;
    
}

.modal-header .close {
    margin: 10px -30px;
}