.card-info {
    height: 134px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    padding: 1px 20px;
    margin: 20px 0;
}

.comissions {
    left: -20px;
}

.card-graphs {
    height: 288px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    padding-top: 40px;
    margin-top: 20px;
}

.card-last-quotations {
    width: 675px;
    height: 284px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    padding: 5px 10px;
}

.card-last-quotations tr {
    height: 60px;
    padding-top: 20px;
}

.card-last-injuries {
    width: 630px;
    height: 284px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    padding: 5px 10px;
}

.card-last-injuries tr {
    height: 60px;
    padding-top: 20px;
}

.card-last-activities {
    width: 94%;
    height: 259px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    padding: 5px 10px;
    margin-left: 15px;
}

.card-last-activities tr {
    height: 60px;
    padding-top: 20px;
}

.card-total-volume-wallet {
    width: 510px;
    height: 194px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    margin: 20px;
    padding: 30px 80px;
    text-align: center;
    color: #000;
}

.card-received-pendent-wallet {
    width: 510px;
    height: 194px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    margin: 20px;
    padding: 50px 80px 0 80px;
    text-align: center;
    color: #000;
}

.dashboard-container {
    width: 70%;
}

.to-left {
    left: -210px;
}

.to-left-2 {
    left: -90px;
}

.to-left-3 {
    left: -50px;
}

.uploadPhotos {
    margin: 50px;
    padding: 10px 0 0 20px;
    width: 527px;
    height: 127px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
}

@media screen and (max-width: 1440px) {
    .card-last-quotations {
        width: 500px !important;
        height: 284px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        padding: 5px 10px;
    }
    .card-last-injuries {
        width: 485px !important;
        height: 284px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        padding: 5px 10px;
    }

    .card-last-activities {
        width: 95%;
        height: 259px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        padding: 5px 10px;
        margin-left: 15px;
    }

    .w-205{
        width: 205px;
    }
}

@media screen and (max-width: 1366px) {
    .card-last-quotations {
        width: 465px !important;
        height: 284px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        padding: 5px 10px;
    }
    .card-last-injuries {
        width: 465px !important;
        height: 284px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        padding: 5px 10px;
    }

    .card-total-volume-wallet {
        width: 386px;
        height: 194px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        margin: 20px;
        padding: 30px 80px;
        text-align: center;
        color: #000;
    }
    
    .card-received-pendent-wallet {
        width: 386px;
        height: 194px;
        border-radius: 8px;
        box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
        background-color: #ffffff;
        margin: 20px;
        padding: 50px 80px 0 80px;
        text-align: center;
        color: #000;
    }
}