.input-login {
    width: 360px;
    height: 48px;
    margin-left: 40px;
    border-radius: 8px;
    border: solid 1px #c7c7c7;
}

.input-search {
    height: 40px;
    width: 400px;
    border-radius: 8px;
    background-color: #ffffff;
}

.input-select {
    width: 360px !important;
    border-radius: 4px;
}

.input-date {
    width: 129px;
    height: 32px;
    border-radius: 4px;
    background-color: #eceef4;
    border: none !important;
    padding: 2px 10px;
    margin: 5px 15px;
}

.input-addon-space {
    margin-left: 15px;
}

.input-filter-space {
    margin-left: 33px;
}

.input-span-date {
    width: 30% !important;
    padding-left: 15px;
}