#circle {
    float: right;
    height: 15px;
    width: 15px;
    margin-left: 5px;
    border-radius: 4rem;
    opacity: 0.0;
    -webkit-animation: pulsate 1000ms ease-out;
    -webkit-animation-iteration-count: infinite; 
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.1;}
    40% {opacity: 1.0;}
    60% {opacity: 1.0;}
    100% {opacity: 0.1;}
}

.yellow {
    background:#f9c748;
}

.red {
    background:#D9534F;
}

.blue {
    background: #0E52AC;  
}

