/* Login */

#facebookButton {
    background-color: #ffffff !important;
    color: #4267B2 !important;
    font-weight: 800 !important;
}

#linkedinButton {
    background-color: #ffffff !important;
    color: #1C76B5 !important;
    font-weight: 800 !important;
}

.full-height {
    background: url("../img/bg-login.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.form-signin {
    height: 100vh;
    width: 35%;
    float: left;
    background-color: #ffffff;
    padding-left: 130px;
}

#pass-forgot {
    color: #757575;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;
}

.bg-img {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg-login@2x.png");
    background-repeat: repeat-x;
    background-position: right;
}

.img-vencorr {
    width: 112px;
    height: 37px;
    object-fit: contain;
    margin: 40px 0 40px 40px;
}

.gray-space {
    color: #c7c7c7;
    margin: 50px 10px;
    font-size: 20px;
}

.forgot-password {
    width: 172px;
    height: 24px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 120px;
    color: #0251ac;
}

.icon-fb {
    width: 12px;
    height: 24px;
    object-fit: contain;
    margin: 0 50px 0 0;
}

.icon-in {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0 50px 0 0;
}

.welcome {
    width: 189px;
    height: 49px;
    margin-left: 40px;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0251ac;
}

.text-synopsis {
    width: 360px;
    height: 48px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1c1c;
}

.text-footer-login {
    margin-left: 60px;
}

.top {
    margin-top: 40px;
}


.login-style {
    padding: 0 !important;
}

@media screen and (max-width: 1366px) {
    .form-signin {
        height: 100vh;
        width: 45%;
        float: left;
        background-color: #ffffff;
        padding-left: 90px;
    }

    .img-vencorr {
        width: 112px;
        height: 37px;
        object-fit: contain;
        margin: 20px 0 10px 40px;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .bg-img {
        width: 100%;
        height: 100vh;
        background-image: url("../img/bg-login.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    
}