.navbar {
    background-color: #f6f8fa !important;
    border-radius: 0;
    border: none;
    color: #000000;
    height: 100vh;
    position: absolute;
}

li.dropdown.open>a:link,
li.dropdown.open>a:focus {
    color: #ffffff;
    background-color: #0352AC !important;
}


/* Sidebar Styles */

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100vh;
    margin-left: -250px;
    background-color: #FFFFFF;
    border: solid 1px #c7c7c7;
}

#page-content-wrapper {
    width: 77%;
    position: absolute;
    margin-left: 260px;
    padding-bottom: 50px;
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 30px 0 0 30px;
    list-style: none;
    height: 100vh;
    border-right: solid 1px #c7c7c7;
    background: #fff;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li a {
    margin-bottom: 30px;
    display: block;
    min-width: 20px;
    text-decoration: none;
    color: #5F5E5D;
}

.icon-sidebar {
    margin-right: 20px;
}

.sub-icon-sidebar {
    width: 45px;
    margin-left: -10px;
    margin-top: 13px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

#dropdown-profile {
    font-size: 16px;
    color: #fff !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    border-bottom: 1px solid #efefef;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav>.sidebar-brand>.app-title {
    color: #0352AC;
    background: none;
}

.sidebar-nav>.sidebar-brand>.app-title:hover {
    color: #4978aa;
    background: none;
}

.w-200 {
    width: 200px;
}

.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo-sidebar {
    height: 30px !important;
}

.menu-collapse {
    list-style-type: none;
}

.image-space {
    margin: 30px 20px 50px 20px;
}

.topnav {
    background-color: #fff;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    text-align: justify;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}


/* Change the color of links on hover */

.topnav a:hover {
    border-right: solid 4px #0251ac;
    color: #000;
    width: 100%;
    right: -30px;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

#sidebar-wrapper span {
    display: none;
}