

.table-customized {
    width: 60%;
    height: 190px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 12px 0 rgba(193, 207, 224, 0.5);
    background-color: #ffffff;
    overflow-y: visible;
}

.row-customized-grid {
    height: 80px;
    padding: 40px;
}

.space-above {
    padding-top: 30px;
}

.tables {
    width: 100% !important;
    margin: 30px;
    overflow-x: scroll;
}

.tables td {
    padding: 0 10px;
    border: none;
}

.tables thead th {
    padding: 0 0 10px 10px;
    border-radius: 8px;
    border: none;
}

.td-tables-dashboard {
    padding: 10px 20px !important;
}

@media screen and (max-width: 1366px) {
    .adjusting-tables {
        margin-left: -5px !important;
        overflow-x: scroll;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .tables{
        overflow-x: scroll;
    }
}