.text-open-proposals {
    height: 38px;
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #faa626;
}

.text-closed-proposals {
    height: 38px;
    font-family: Nunito, serif;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #39c924;
}

.hours-in-gray {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a6c7f;
}

.logout {
    color: #000000;
    padding: 20px 0 0 40px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

.text-left {
    margin-left: 80px;
}

.bottom {
    margin-bottom: 60px;
}

.table tbody tr td {
    padding-top: 10px !important;
    border-bottom: solid 1px #ccc;
}

.padding-grid-adjust {
    padding-top: 5px;
}

.last-activities {
    padding-left: 15px;
}

.archiveLabel {
    margin-left: 50px;
}

@media screen and (max-width: 1366px) {
    .logout {
        color: #000000;
        padding: 20px 0 0 20px;
        font-weight: bolder;
        cursor: pointer;
        text-decoration: none;
    }
}