<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content=""/>
        <meta name="robots" content="index, follow, noarchive"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="author" content="Vencorr Seguros"/>
    </head>
    <body>
        <div style="width: 100%;text-align: center;">
            <div style="height: 40px;"></div>
            <img src="https://vencorr.com/img/logo-blue.png" style="width: 300px;height: 48px;">
            <div style="height: 49px;"></div>
            <p style="margin-bottom: 0px;margin-left: 10%;margin-right: 10%;font-size: 24px;font-weight: bold;color: #484848;font-family: sans-serif;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;">
                Seguro {{Segmento}} Contratado
            </p>
            <p style="margin-bottom: 0px;margin-left: 10%;margin-right: 10%;font-size: 18px;font-weight: 300;color: #484848;font-family: sans-serif;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;">
                Seguem em anexo apólices e boletos do Seguro {{Segmento}} contratado pelo segurado {{Cliente}}.
            </p>
            <p style="margin-bottom: 0px;margin-left: 10%;margin-right: 10%;font-size: 18px;font-weight: 300;color: #484848;font-family: sans-serif;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;">
                Para o franqueado, acesse os detalhes pelo portal <a href="">clicando aqui</a>.
            </p>
            <div style="height: 64px;"></div>
        </div>
        <div style="height: 64px;"></div>
        <div style="background-color: #0251ac;padding-left: 29px;padding-right: 29px;">
            <div style="height: 30px;"></div>
            <div style="display: inline-flex;">
                <a href="https://www.facebook.com/vencorr" target="_blank">
                    <img src="https://vencorr.com/img/icon-footer-fb.png" style="width: 28px;height: 28px;">
                </a>
                <a href="https://www.linkedin.com/company/vencorr" target="_blank">
                    <img src="https://vencorr.com/img/icon-footer-in.png" style="width: 28px;height: 28px;margin-left: 25px;">
                </a>
                <a href="https://www.instagram.com/vencorrcorretora" target="_blank">
                    <img src="https://vencorr.com/img/icon-footer-ig.png" style="width: 28px;height: 28px;margin-left: 25px;">
                </a>    
            </div>
            <div style="height: 32px;"></div>
            <div style="font-family: sans-serif;color: white;font-size: 14px;">
                Email: <a href="mailto:contato@vencorr.com" style="color: white !important;text-decoration: none;">contato@vencorr.com</a> | Telefone: <a href="tel:+551130785155" style="color: white !important;text-decoration: none;">+55 (11) 3078-5155</a>
                <br><br>
                <a href="https://goo.gl/maps/4WVfYCtozNHnuNd68" target="_blank" style="color: white !important;text-decoration: none;">R. Iguatemi, 192 - Itaim Bibi, São Paulo - SP, 01451-010</a>
                <br><br>
                <a href="https://goo.gl/maps/EfHtzMJyVXrepgD7A" target="_blank" style="color: white !important;text-decoration: none;">Rod BR 101, S/Nº - Emaús - Concessionária Hmb Orient Hyundai - Parnamirim - RN, 59149-070</a>
            </div>
            <div style="height: 32px;"></div>
        </div>
    </body>
</html>