<!DOCTYPE html>
<html>
<head>
    <title>Cotação de Seguro</title>
    <meta charset="UTF-8">

	<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <style>

        /** General **/

		body {
			font-family: 'Open Sans', sans-serif;
		}

		.container {
            width: 90%;
			margin: 0 auto;
			margin-top: 3%;
		}

		/** Tools **/

		.row {
			width: 100%;
		}

		.show-as-cell {
			display: table-cell;
		}

		.max-row {
			width: 130%;
		}

		.col-6 {
			width: 16%;
			display: inline-block;
		}

		.col-5 {
			width: 19.5%;
			display: inline-block;
		}

		.col-4 {
			width: 24.5%;
			display: inline-block;
		}

		.col-3 {
			width: 32.5%;
			display: inline-block;
		}

		.col-2 {
			width: 49%;
			display: inline-block;
		}

		.col-1 {
			width: 99%;
			display: inline-block;
		}

		.col-table {
			width: 40%;
			display: inline-block;
		}

		.col-total {
			width: 5%;
			display: inline-block;
		}

		.w-80 {
			width: 80%;
		}

		.w-20 {
			width: 20%;
		}

		.text-center {
			text-align: center;
		}

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}

		.text-justify {
			text-align: justify;
			width: 100%;
		}

		.pull-left {
			float: left;
		}

		.pull-right {
			float: right;
		}

		.col-space {
			margin-bottom: 15px;
		}

		.p-n-30 {
			padding: -30px;
		}

		.p-l-15 {
			padding-left: 8px;
		}

		.p-l-cover {
			padding-left: 36px;
		}

		.m-l-cover {
			margin-left: 26px;
			text-align: start;
		}

		.m-t-200 {
			margin-top: 200px;
		}

		.m-t-33 {
			margin-top: 33px;
		}

		.m-t-15 {
			margin-top: 15px;
		}

        .m-b-40 {
            margin-bottom: 40px;
        }

		.m-b-20 {
			margin-bottom: 20px;
		}

		.m-b-0 {
            margin-bottom: 0px;
        }

        .m-r-40 {
            margin-right: 40px;
        }

		.h-40 {
			height: 40px;
		}

		.m-t-n-50 {
			margin-top: -50px;
		}

		.m-r-40 {
			margin-right: 40px;
		}

		.font-bold {
			font-weight: 600;
		}

		.m-40 {
			margin: 40px;
		}

		/** Section **/

		section > .title {
			color: 000000;
			font-size: 19px;
			font-weight: bolder;
			margin-left: 30px;
			margin-bottom: -15px;
		}

		section > .title > span {
			display: inline;
			background: #fff;
			padding: 5px 10px;
			position: relative;
			top: -2px;
		}

		section > .info-block {
			border: 1px solid #707070;
            border-radius: 4px;
			padding: 30px;
		}

		.broker-info-block {
			border: 1px solid #707070;
            border-radius: 4px;
			padding: 15px 30px;
		}

		section > .info-block-no-padding {
			border: 1px solid #707070;
            border-radius: 4px;
            padding: 5px;
		}

		.info-label {
			font-size: 13px;
			line-height: 1.19;
			color: #000000;
			display: block;
			padding-bottom: 5px;
		}

        .info-label-header {
			font-size: 13px;
			line-height: 1.19;
			color: #000000;
			display: block;
			padding-bottom: 5px;
            min-height: 20px;
		}

		.info-value {
			font-size: 15px;
			font-weight: bold;
			color: #000000;
		}

        .info-value-header {
            font-size: 15px;
			font-weight: bold;
			color: #000000;
            min-height: 60px;
        }

		/** Resume **/

		.broker-logo {
			width: 300px;
			min-height: 45px;
            margin-left: 40px;
		}

		.insurer-logo {
			width: 300px;
			min-height: 80px;
			margin-top: 20px;
			margin-left: 20px;
		}

		/** coverages */
		.coverages {
			display: flex;
			direction: row;
		}

		.coverages section {
			width: 80%;
		}

		.coverages aside {
			width: 20%;
			align-self: center;
		}

		.coverage-icon {
			width: 25px;
			height: 25px;
			margin-right: 10px;
		}

		/** table **/
		table.full-width {
			width: 100%;
		}

		table th {
			background-color: #ffffff;
			height: 30px;
			font-size: 13px;
			color: #000000;
			font-weight: 100;
		}

		table td {
			font-size: 14px;
			color: #000000;
			padding: 10px;
			height: 25px;
		}

		table tr:nth-child(even) {
		    background-color: #F2F2F2;
		}

		table tr:nth-child(odd) {
		    background-color: #ffffff;
		}

		.table-line {
			position: absolute;
			border-bottom: 1px solid #efefef;
			width: 996px;
			margin-top: 29px;
		}

		.side-line {
			border-right: 1px solid #efefef;
		}

		.total-table {
			font-size: 20px;
			font-weight: 600;
			display: block;
			margin-left: 14px;
		}

		.total-table-label {
			text-align: left;
			font-size: 12px;
		}

		.iof, .total {
			width: 100%;
			height: 80px;
		}

		.iof-label, .total-label {
			font-size: 16px;
			margin-right: 20px;
		}

		.total-price, .iof-price {
			margin-right: 60px;
		}

		.iof-price {
			font-size: 16px;
			font-weight: bolder;
		}

		.total-price {
			font-weight: bolder;
			font-size: 30px;
		}

		.value-container {
			display: table;
			float: right;
			width: 100%;
            height: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}

		.middle-maker {
			display: table-cell;
			vertical-align: middle;
		}

		.declaration-label {
			font-size: 12px;
			font-weight: 600;
		}

		.declaration-value {
			font-size: 12px;
		}

		.powered-by {
			width: 180px;
			margin-top: 30px;
		}

		/** Item **/

		.item-title {
			display: inline-block;
			margin-bottom: 40px;
			font-size: 18px;
			margin-top: -10px;
		}

		.insured-item-detail {
			margin: 40px;
			margin-bottom: 0;
		}

		/** Page layout */
		.page {
            width: 100%;
            height: 1350px;
			margin-bottom: 100px;
			/** debug pdf size */
			/* border: 1px solid black; */
        }

		.insured-item-container {
			margin-bottom: 100px;
		}

		.first-page {
			position: relative;
		}

		.first-page-footer {
			position: absolute;
			bottom: 0px;
		}

		.coverage-line {
			display: table;
			text-align: center;
		}

		.coverage-line span {
			display: table-cell;
			vertical-align: middle;
		}

		/** Header **/
		.header {
			margin-bottom: 30px;
			color: #0051A7;
		}

		.subtitle {
			display: inline-block;
			height: 70px;
			min-width: 350px;
			text-align: right;
		}

		.subtitle > h1 {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 35px;
			font-weight: bolder;
		}

		.subtitle > span {
			display: block;
			font-weight: 600;
		}

        .presented-by {
            width: 400px;
            display: inline-block;
        }

        .presented-by > img {
            width: 300px;
        }

        .partner {
            display: inline-block;
            margin-top: 5px;
            margin-left: 50px;
        }

        .partner-name {
            font-weight: bold;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="page first-page">
            <!-- HEADER-->
            <div class="header">
                <div class="presented-by">
                    <img class="broker-logo" src="https://proposals-vsales.s3.amazonaws.com/logos/vencorr.png" style="display: block">
                    <span class="partner">
                        apresentado por <span class="partner-name">Nome do Parceiro</span>
                    </span>
                </div>
                
                <div class="subtitle pull-right m-r-40">
                    <h1>Cotação de Seguro</h1>
                </div>
            </div>

            <section>
                <!-- SINGLE INSURED ITEM DETAIL-->
                <section>
                    <h3 class="title" style="padding-top: 3px;">
                        <span>
                           Trator (Exceto uso Florestal)
                            <small>
                                John Deere, A450
                            </small>
                        </span>
                    </h3>
                    <div class="info-block-no-padding">
                            <!-- SUMMARY HEADER -->
                            <div style="min-height: 140px;">
                                <div class="row">
                                    <div class="table-header">
                                        <div class="row">
                                            <div class="pull-left">
                                                <img class="insurer-logo" src="https://proposals-vsales.s3.amazonaws.com/logos/sompo.png">
                                            </div>
                                            <div class="col-2 pull-right m-t-33 m-b-40">
                                                <div class="col-2 pull-left">
                                                    <label class="info-label-header">Âmbito da cobertura</label>
                                                    <span class="info-value-header">
                                                        <b>Todo território Brasileiro</b>
                                                    </span>
                                                </div>
                                                <div class="col-2">
                                                    <label class="info-label-header">Vigência do Seguro</label>
                                                    <span class="info-value-header">
                                                        05/02/2019
                                                        à
                                                        05/02/2019
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="total text-left">
                                    <div class="value-container">
                                        <div class="middle-maker">
                                            <span class="iof-label">Parcelas</span>
                                            <span class="iof-price">4 de R$ 542.30</span>
                                            <span class="total-label">Prêmio Total</span>
                                            <span class="total-price">R$ 4.630,45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- INSURED ITEM HEADER-->
                        <div class="insured-item-detail">
                            <div class="row">
                                <div class="col-1">
                                    <div class="row">
                                        <div class="col-5 col-space">
                                            <label class="info-label">Valor</label>
                                            <span class="info-value">
                                                R$ {{ product.item.price.value }}
                                            </span>
                                        </div>
                                        <div class="col-6 col-space">
                                            <label class="info-label">Ano</label>
                                            <span class="info-value">
                                                {{ product.item.year }}
                                            </span>
                                        </div>
                                        <div class="col-4 col-space">
                                            <label class="info-label">Chassi</label>
                                            <span class="info-value">
                                                {{ product.item.chassis not_filled }}
                                            </span>
                                        </div>
                                        {% if product has_financier_bank %}
                                        <div class="col-space" style="display: inline-block;">
                                            <label class="info-label">Banco Financiador</label>
                                            <span class="info-value">
                                                {{ product.item.bank.name }},
                                                <small style="font-size: 0.8em;">{{ product.item.bank.document }}</small>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                          
                        </div>

                        <section>
                            <div class="row">
                                <!-- COVERAGES TABLE-->
                                <div class="col-table" style="display: table-cell; height: 100%">
                                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                                        <tr>
                                            <th width="40%" class="text-left p-l-cover">Coberturas</th>
                                            <th width="20%" class="text-left p-l-15">LMI</th>
                                            <th width="10%" class="text-left p-l-15">POS</th>
                                            <th width="15%" class="text-left p-l-15">C/ mínimo de:</th>
                                        </tr>
                                        <div class="table-line"></div>
                                        {% for coverage in product.coverages.all %}
                                        <tr class="side-line">
                                            <td>
                                                    <div class="m-l-cover coverage-line">
                                                        <img class="coverage-icon" src="{% static 'icons/' %}{{ coverage icon }}">
                                                        <span class="font-bold">
                                                            <span>{{ coverage.coverage.name }}</span>
                                                        </span>
                                                    </div>
                                                </td>
                                            <td class="text-left">{{ coverage.lmi to_currency }}</td>
                                            <td class="text-bold text-left">{{ product franchise:coverage pos }}</td>
                                            <td>{{ coverage franchise_price:product }}</td>
                                        </tr>
                                        {% endfor%}
                                    </table>
                                </div>

                            </div>
                        </section>

                    </div>
                </section>

            </section>

            <div class="first-page-footer">
                <section>
                    <!-- Coverages Description-->
                    <div class="max-row text-justify m-b-20">
                        <span class="declaration-label">Cobertura Básica:</span>
                        <span class="declaration-value">
                            Incêndio, raio, explosão, roubo/furto (qualificado e simples ),
                            acidentes de causas externas (colisão, abalroamento, etc).
                        </span>
                    </div>
                </section>

                <section>
                    <!-- BROKER INFO-->
                    <div class="broker-info-block">
                        <div class="col-2">
                            <span class="info-value">VNZ CORRETORA DE SEGUROS LTDA</span>
                        </div>
                        <div class="col-2">
                            <div class="col-3">
                                <label class="info-label">Código</label>
                                <span class="info-value">
                                    2000329
                                </span>
                            </div>
                            <div class="col-3">
                                <label class="info-label">Registro Susep</label>
                                <span class="info-value">
                                    1020194340SP
                                </span>
                            </div>
                            <div class="col-3">
                                <label class="info-label">Participação</label>
                                <span class="info-value">
                                    100%
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="max-row text-justify m-t-15">
                        <span class="declaration-label">Declaração: </span>
                        <span class="declaration-value">
                            O Segurado, por meio próprio ou por seu corretor de seguros declara, expressamente, ter lido, compreendido e concorda com
                            as condições aqui estabelecidas, incluindo as condições gerais do presente seguro. Declara também, sob pena de perda de
                            direito de cobertura, conforme previsto no artigo 766 do Código Civil e nas referidas condições que todas as informações
                            prestadas nesta cotação são verdadeiras, completas e refletem a situação atual de seus equipamentos.
                        </span>
                    </div>

                </section>
            </div>
        </div>

    </div>
</body>

</html>
