<div class="first-page-footer">
        <section>
            <div class="max-row text-justify m-b-20">
                <span class="declaration-label">Cobertura Básica:</span>
                <span class="declaration-value">
                    Incêndio, raio, explosão, roubo/furto (qualificado e simples ),
                    acidentes de causas externas (colisão, abalroamento, etc).
                </span>
            </div>
        </section>
    
        <section>
            <!-- BROKER INFO-->
            <div class="broker-info-block">
                <div class="col-2">
                    <span class="info-value">VNZ CORRETORA DE SEGUROS LTDA</span>
                </div>
                <div class="col-2">
                    <div class="col-3">
                        <label class="info-label">Código</label>
                        <span class="info-value">
                            2000329
                        </span>
                    </div>
                    <div class="col-3">
                        <label class="info-label">Registro Susep</label>
                        <span class="info-value">
                            1020194340SP
                        </span>
                    </div>
                    <div class="col-3">
                        <label class="info-label">Participação</label>
                        <span class="info-value">
                            100%
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="max-row text-justify m-t-15">
                <span class="declaration-label">Declaração: </span>
                <span class="declaration-value">
                    O Segurado, por meio próprio ou por seu corretor de seguros declara, expressamente, ter lido, compreendido e concorda com
                    as condições aqui estabelecidas, incluindo as condições gerais do presente seguro. Declara também, sob pena de perda de
                    direito de cobertura, conforme previsto no artigo 766 do Código Civil e nas referidas condições que todas as informações
                    prestadas nesta cotação são verdadeiras, completas e refletem a situação atual de seus equipamentos.
                </span>
            </div>
        </section>
    </div>